.footer {
  background: var(--Gray-1, #181818);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-column: 1/3;
  grid-row: 2;
  z-index: 10;
  align-self: end;
  margin-top: 100px;
}

.footer_container {
  margin: 0 auto;
  width: calc(100% - 350px);
  margin-left: 310px;
}

.footer_body {
  box-sizing: border-box;
  //background: var(--Gray-1, #151515);
  padding: 30px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  border-bottom: 2px solid #2e2e2e;
}

.footer_leftSide_block {
  display: flex;
  align-items: start;
  height: 100%;
  gap: 5vw;
}

.icons_list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  // @media screen and (max-width: 1280px) {
  //   grid-template-columns: repeat(3, 1fr);
  // }
}

.footer_below {
  color: #494949;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.16%;
  background: #181818;
  width: 100%;
  padding: 30px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.games_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  justify-content: space-between;
}

.footer_mainPages_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  gap: 15px;
}

.footer_social_title {
  display: block;
  margin-bottom: 25px;
  color: #fff;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.16%;
}

.footer_text {
  color: #aaa;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 128.16%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    color: #eaeaea;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  }
}

.game_row {
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 128.16%;
  text-decoration: none;
}

//icons
.ico_wrap {
  border-radius: 50%;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:first-child {
    padding-right: 3px;
  }
}

.tg_ico_wrap {
  background: #172f39;
}

.inst_wrap {
  background: #391627;
}

.twitter_wrap {
  background: #121f24;
}

.discord_wrap {
  background: #25263f;
}

.facebook_wrap {
  background: #102c3e;
}

.reddit_wrap {
  background: #3f1a0c;
}

.medium_wrap {
  background: #0c2e22;
}

.main_wrap {
  background: #3a3026;
}

//
@media screen and (min-width: 996px) {
  .sidebar_closed {
    .footer_container {
      width: calc(100% - 90px);
      margin-left: 90px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .footer_mainPages_list {
    grid-template-columns: 1fr;
    width: auto;
    gap: 17px;
  }
  .footer_container {
    width: calc(100% - 330px);
    margin-left: 295px;
  }
  .footer_body {
    padding: 30px 0 30px 0;
  }
}

@media screen and (max-width: 1080px) {
  .footer_leftSide_block {
    gap: 3vw;
  }
}

@media screen and (max-width: 996px) {
  .footer_container {
    width: calc(100% - 165px);
    margin-left: 130px;
  }
  .footer_leftSide_block {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (max-width: 750px) {
  .footer_leftSide_block {
    gap: 25px;
  }
}

@media screen and (max-width: 700px) {
  .icons_list {
    gap: 8px;
  }
}

@media screen and (max-width: 650px) {
  .footer_body {
    padding: 30px 20px;
  }
  .footer_container {
    width: 100%;
    margin-left: 0;
  }
  .icons_list {
    width: auto !important;
    gap: 14px;
    grid-template-columns: repeat(4, 33px);
  }
  .footer_body {
    background: #181818;
  }
  .footer_mainPages_list,
  .games_list,
  .logo,
  .footer_leftSide_block {
    display: none;
  }
  .icons_list {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .footer_body {
    justify-content: center;
  }
  .footer {
    background: inherit;
    height: 350px;
  }
  .footer_below {
    font-size: 8px;
    border-bottom: 2px solid #2e2e2e;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 12px;
  }
}
