.line {
  width: 100%;
  background: #252525;
  height: 1px;
  grid-row: 2;
}

.account_container {
  padding-top: 10px;
  width: 320px;
  border-radius: 20px;
  background: var(--Gray-2, #181818);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-items: center;
  align-content: center;
  position: absolute;
  z-index: 10;
  top: 76px;
  right: 20px;
  overflow: hidden;
}

.account {
  padding-top: 20px;
  display: grid;
  width: 100%;
  // gap: 40px;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 121px 79px 78px 22px 25px;
}

.main_text {
  color: var(--White-1, #eaeaea);
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  justify-content: center;
  /* 24px */
  letter-spacing: 0.8px;
  grid-column: 2;
}

.btn_close {
  grid-column: 4;
  // grid-column: 4 / 5;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background: #181818;
  border: none;
}

.btn_copy {
  width: 17px;
  height: 17px;
  cursor: pointer;
  background: #181818;
  border: none;
}

.copyIcon {
  background: #181818;
  border: none;
}

.text_icon {
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-top: 2px;
}

.network_elem {
  justify-content: space-between !important;
  padding: 0 34px !important;
}

.wallet {
  padding-left: 30px;
  display: flex;
}

.wallet_text {
  color: var(--White-1, #eaeaea);
  font-family: var(--font-source-sans-3);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 15.6px */
}

.profile {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.profile_nickname {
  color: var(--White-1, #eaeaea);
  font-family: var(--font-nunito-sans);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 30.8px */
  letter-spacing: 0.88px;
}

.profile_address {
  display: flex;
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  flex-direction: row;
  column-gap: 5px;
}

.accountElement {
  padding: 0 35px;
  display: flex;
}

.account_item {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid rgba(234, 234, 234, 0.05);
}

.wallet,
.accountElement {
  height: 50px;
  gap: 10px;
  background: inherit;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
  &:hover {
    background: rgba(234, 234, 234, 0.02);
  }
}

.network_left_group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile_ava_wrap {
  height: 100%;
  canvas {
    height: 50px !important;
    width: 50px !important;
    @media screen and (max-width: 650px) {
      width: 32px !important;
      height: 32px !important;
    }
  }
}

.ellipse {
  width: 100%;
  height: 240px;
  border-radius: 100%;
  background: rgba(243, 189, 107, 0.1);
  mix-blend-mode: hard-light;
  filter: blur(100px);
  position: absolute;
  background-size: contain;
  top: 189px;
  left: 183px;
  z-index: -1;
}

.hidden_desk_close_ico {
  display: none;
  position: absolute;
  top: 15px;
  right: 20px;
}

@media (max-width: 650px) {
  .account_container {
    width: 100%;
    right: 0;
    top: 56px;
    height: calc(100vh - (56px + 56px));
    border-radius: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .account {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hidden_desk_close_ico {
    display: block;
  }
  .btn_close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .profile {
    width: 100%;
    margin-top: 30px;
    padding-left: 80px;
    justify-content: start;
  }
  .profile_nickname {
    font-size: 16px;
  }
  .profile_address {
    font-size: 10px;
    line-height: 14px;
  }
  .profile_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .accountElement {
    padding: 0 45px;
  }
  .accountElement:last-child {
    position: fixed;
    bottom: 56px;
    background: rgba(18, 18, 18, 0.5);
    width: 100%;
  }
  .network_elem {
    padding: 0 43px !important;
  }
  .account_item {
    width: 100%;
    border-top: none;
  }
}
