.line {
  width: 100%;
  background: #252525;
  height: 1px;
  grid-row: 2;
}

.account_container {
  width: 320px;
  height: 398.53px;
  border-radius: 20px;
  background: var(--Gray-2, #181818);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 49px auto 50px 1fr auto;
  gap: 15px;
  justify-items: center;
  align-content: center;
  position: absolute;
  z-index: 10;
  top: 76px;
  right: 20px;
  overflow: hidden;
}

.account {
  padding-top: 20px;
  display: grid;
  width: 100%;
  // gap: 40px;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 121px 79px 78px 22px 25px;
}

.main_text {
  color: var(--White-1, #eaeaea);
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  justify-content: center;
  /* 24px */
  letter-spacing: 0.8px;
  grid-column: 2;
}

.btn_close {
  grid-column: 4;
  // grid-column: 4 / 5;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background: #181818;
  border: none;
}

.btn_copy {
    width: 17px;
    height: 17px;
    cursor: pointer;
    background: #181818;
    border: none;
}

.copyIcon {
  background: #181818;
  border: none;
}

.text_icon {
  color: var(--White-1, #eaeaea);
  font-family: var(--font-source-sans-3);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 15.6px */
  letter-spacing: 0.26px;
  text-transform: uppercase;
}

.wallet {
  padding-left: 30px;
  display: flex;
}

.wallet_text {
  color: var(--White-1, #eaeaea);
  font-family: var(--font-source-sans-3);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 15.6px */
}

.profile {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.profile_nickname {
  color: var(--White-1, #eaeaea);
  font-family: var(--font-nunito-sans);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 30.8px */
  letter-spacing: 0.88px;
}

.profile_address {
  display: flex;
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  flex-direction: row;
  column-gap: 5px;
}

.accountElement {
  padding-left: 30px;
  display: flex;
}

.account_item {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wallet,
.accountElement {
  width: 240px;
  height: 40px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #202020;
  background: #0f0f0f;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.ellipse {
    width: 100%;
    height: 240px;
    border-radius: 100%;
    background: rgba(243, 189, 107, 0.10);
    mix-blend-mode: hard-light;
    filter: blur(100px);
    position: absolute;
    background-size: contain;
    top: 189px;
    left: 183px;
    z-index: -1;
}

@media (650px <=width <=1280px) {
}

@media (max-width: 650px) {
  .account_container {
    width: 100%;
    right: 0;
    top: 56px;
    height: calc(100vh - (56px + 56px));
    border-radius: 20px 20px 0 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 45px;
  }
  .account {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn_close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .profile {
    width: 100%;
  }
  .account_item {
    width: 100%;
  }
  .accountElement {
    width: 100%;
  }
  //   .account_container {
  //     // left: 1px;
  //     position: absolute;
  //     top: 56px;
  //     width: 100%;
  //     height: 100%;
  //     // position: static;
  //     // top: 76px;
  //     // right: 20px;
  //     right: 0px;
  //     grid-template-columns: 100vw;
  //     grid-template-rows: 49px auto 50px 1fr auto;
  //   }
  //   .wallet,
  //   .accountElement {
  //     width: 75vw;
  //     height: 8.4521vh;
  //     border-radius: 5px;
  //     border: 1px solid #202020;
  //     background: #0f0f0f;
  //   }
  //   .account {
  //     padding-top: 20px;
  //     display: grid;
  //     // gap: 40px;
  //     grid-column: 1;
  //     grid-row: 1;
  //     // grid-template-columns: 121px 79px 78px 22px 25px;
  //     grid-template-columns: 40.3125vw 24.6875vw 24.375vw 6.875vw 7.8125vw;
  //   }
}

// @media (max-width: 220px){
//     .account {
//         grid-template-columns: 24.375vw 24.6875vw 40.3125vw  6.875vw 7.8125vw;
//     }
// }
