.model {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 350px;
  transform: translateX(-50%) translateY(-50%);
}

.dice {
  display: flex;
  flex-direction: column;
  height: 100%;
  // background: #000;
  z-index: 3;
  font-style: normal;
  border-radius: 20px 0px 0px 0px;
  overflow: hidden;
}

.dice_container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  // flex: 1 1 auto;
  min-height: 284px;
  position: relative;
  @media (min-width: 700px) {
    // min-height: 406px;
  }
  @media (min-width: 1280px) {
    min-height: 589px;
  }
}

.range_container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  @media (min-width: 1280px) {
    font-size: 16px;
  }
  @media (min-width: 700px) {
    margin-bottom: 15px;
  }

  span {
    color: #eaeaea;
    text-align: center;
    font-family: var(--font-nunito-sans);
    font-size: 14px;
    font-weight: 900;
    line-height: 150.8%; /* 21.112px */
    text-transform: uppercase;
  }
}

.roll_range_value {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cube {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 200px;
  animation: cube_animation 5s linear 0s infinite alternate;

  @media (min-width: 1280px) {
    width: 502px;
    height: 284px;
  }
  display: none;
}

.range {
  width: 436px;
  position: relative;
  z-index: 5;
}
.dice_sound_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  background: #202020;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.dice_value_container {
  background: var(--gray-115, #151515);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  @media (min-width: 700px) {
    padding: 8px 20px;
  }
  @media (min-width: 1200px) {
    padding: 8px 0;
    width: 100%;
  }
}

.dice_under_conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-top: 6px;
  min-width: 92px;

  @media (min-width: 700px) {
    max-width: 172px;
  }
  @media (min-width: 1280px) {
    max-width: 220px;
  }
}

.dice_under_title {
  color: var(--gray-57-e, #7e7e7e);
  font-family: var(--font-source-sans-3);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
}

.dice_under_value {
  color: var(--white-1-ea, #eaeaea);
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}

.dice_under_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  background: var(--black-10-f, #0f0f0f);
  border-radius: 12px;
  overflow: hidden;
  img {
    padding: 15px;
    cursor: pointer;
  }
}

.dice_close_icon {
  background: var(--gray-320, #202020);
}

.dice_over {
  background-color: #202020;
  &::before {
    background-color: #ffe09d;
  }
  &::-moz-range-progress {
    background-color: #ffe09d;
  }
}
.dice_under {
  background-color: #ffe09d;
  &::before {
    background-color: #202020;
  }
  &::-moz-range-progress {
    background-color: #202020;
  }
}
.dice_under {
}

.dice_range {
  height: 6px;
  border-radius: 5px;
  width: 206px;
  position: relative;
  -webkit-appearance: none;

  @media (min-width: 700px) {
    width: 436px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #d9d9d9;
    border-radius: 100%;
    position: relative;
    z-index: 4;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #d9d9d9;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    z-index: 4;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 6px;
    transform: translateY(-50%);
    border-radius: 5px;
    z-index: 3;
    width: var(--range-width, 0);
  }

  &::-moz-range-progress {
    height: 6px;
    border-radius: 5px;
  }
}

.dice_about {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 20px;
  flex-direction: column;
  color: white;
  display: none;
  @media (min-width: 700px) {
    display: flex;
  }
  span {
    text-align: right;
    font-family: var(--font-source-sans-3);
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
  }
}

.green_color {
  color: var(--avatars-clr-avatar-green-2, #4ed26c);
}

.red_color {
  color: var(--avatars-clr-avatar-red-1, #fc3c37);
}

@keyframes cube_animation {
  0% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  25% {
    top: 47%;
    transform: translateX(-50%) translateY(-50%) scale(1.05);
  }
  50% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  75% {
    top: 53%;
    transform: translateX(-50%) translateY(-50%) scale(0.95);
  }
  100% {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.dice_table_background {
  // border-radius: 20px 0 0 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.dice_table_background_img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  background-size: cover;
}
