.games_block {
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  @media screen and (max-width: 650px) {
    margin: 20px 20px 60px 20px;
    width: calc(100% - 40px);
  }
}

.games_block_title {
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: 15px;
  margin-bottom: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  @media screen and (max-width: 650px) {
    font-size: 0.875rem;
  }
}

.games_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media screen and (max-width: 1280px) {
    gap: 20px;
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 650px) {
    gap: 8px;
  }
}

.games_item {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  height: 255px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #202020;

  @media screen and (max-width: 700px) {
    height: 210px;
    padding: 20px;
  }

  @media screen and (max-width: 650px) {
    height: 120px;
    padding: 12px;
  }

  &:hover {
    .popular_game_bg_image {
      transform: scale(1.3);
    }
  }
}

.popular_games_list_item_title {
  position: relative;
  z-index: 10;
  color: #e9e9f5;
  font-family: var(--font-nunito-sans);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 1.8px;
  text-transform: uppercase;

  @media screen and (max-width: 700px) {
    font-size: 1.5625rem;
    line-height: 30px;
  }
  @media screen and (max-width: 650px) {
    font-size: 0.875rem;
    line-height: 20px;
  }
}

.popular_game_bg_image {
  transition: all 0.5s;
  border-radius: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;

  @media screen and (min-width: 1030px) {
    left: 0;
  }

  @media screen and (min-width: 700px) and (max-width: 1030px) {
    width: auto;
    left: -150px;
  }

  @media screen and (min-width: 390px) and (max-width: 700px) {
    width: 100%;
    left: 0;
  }

  @media screen and (max-width: 390px) {
    width: auto;
    right: 0;
  }
}
