.wrapper {
  background: rgba(15, 15, 15, 0.7);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 80px;
  left: 0;
  height: calc(100vh - 80px);
  width: 100vw;
  z-index: 254444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  // width: 560px;
  padding: 30px 59px 40px 59px;
  display: flex;
  flex-direction: column;
  gap: 410px;
  border-radius: 20px;
  // overflow: hidden;
  transition: all 0.8s;
  transform: scaleY(1);
  position: relative;
  opacity: 1;
  z-index: 54;
  &.move_banner {
    transition: all 0.8s;
    margin-right: 400px;
    box-shadow: 1px 1px 45px 50px rgba(238, 208, 110, 0.25);
  }
}

.closed {
  transition: all 0.8s;
  transform: scaleY(0);
  opacity: 0;
}
.img_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 20px;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.8s;
  &:hover {
    transform: scale(1.1);
  }
}

.title {
  color: #f2e1a9;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 50px;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  max-width: 442px;
  text-align: center;
}

.closeIcon {
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 20px;
  transition: all 0.5s;
  color: #7e7e7e;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    color: white;
  }
}

.connect_wallet_button {
  position: relative;
  z-index: 3;
  width: 296px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f0f0f !important;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
  letter-spacing: 1.04px;
  font-family: var(--font-source-sans-3);
  transition: 0.2s;
  border-radius: 12px;
  background: linear-gradient(
    114deg,
    #f8eeb8 -4.17%,
    #dbb370 59.03%,
    #8e5b2d 112.39%
  );
  border: none;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.connect_wallet_button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 11px 0px #f9832c4d;
  transition: 0.2s;
}

.header_avaibleWallet_wrap {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  right: -400px;
  top: 0px;
  transition: all 0.4s;
}

.header_avaibleWallet_wrap.avaibleWallet_visible {
  visibility: visible;
  opacity: 1;
}
