.wrapper {
  background: rgba(15, 15, 15, 0.7);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 101;
  display: flex;
  justify-content: center;
  @media (min-width: 850px) {
    // min-height: 466px;
    align-items: center;
  }
}

.wrapper_index {
  z-index: 104;
  @media (min-width: 860px) {
    z-index: 101;
  }
}

.index_return {
  z-index: 101;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  transition: all 0.8s;
  transform: scaleY(1);
  position: relative;
  opacity: 1;
  z-index: 103;
  min-height: 370px;
  padding: 30px 10px 10px 10px;
  height: fit-content;
  top: 76px;
  box-sizing: border-box;

  @media (min-width: 700px) {
    padding: 54px 10px 20px 10px;
    min-height: 466px;
    top: 90px;
    border-radius: 20px;

    @media (min-width: 700px) {
      min-height: 482px;
    }
  }
  @media (min-width: 850px) {
    top: 0;
  }

  @media (min-width: 1280px) {
    min-height: 670px;
    padding: 30px 58px 30px 58px;
  }
  @media (min-width: 1920px) {
    padding: 72px 58px 30px 58px;
    min-height: 670px;
    height: 700px;
  }

  &.move_banner {
    transition: all 0.8s;
    box-shadow: 1px 1px 45px 50px rgba(238, 208, 110, 0.25);

    @media (min-width: 850px) {
      margin-right: 400px;
    }
  }
}

.claimBanner {
  padding: 43px 31px 20px 32px;

  @media (min-width: 700px) {
    padding: 75px 65px 30px 65px;
  }
}

.closed {
  transition: all 0.8s;
  transform: scaleY(0);
  opacity: 0;
}
.img_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 20px;
  @media (max-width: 650px) {
    border-radius: 12px;
  }
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.8s;
  &:hover {
    transform: scale(1.1);
  }
}

.title {
  margin: 0 auto;
  color: #f2e1a9;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 1.2px;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 20px;
  max-width: 186px;

  @media (min-width: 700px) {
    max-width: 270px;
    font-size: 30px;
  }

  @media (min-width: 1280px) {
    letter-spacing: 2px;
    font-size: 50px;
    max-width: 444px;
  }
}

.closeIcon {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  transition: all 0.5s;
  color: #7e7e7e;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    color: white;
  }
  @media (min-width: 700px) {
    top: 20px;
    right: 20px;
  }
}

.connect_wallet_button {
  position: relative;
  z-index: 3;
  min-width: 114px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f0f0f !important;
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
  letter-spacing: 1.04px;
  font-family: var(--font-source-sans-3);
  transition: 0.2s;
  background: linear-gradient(
    114deg,
    #f8eeb8 -4.17%,
    #dbb370 59.03%,
    #8e5b2d 112.39%
  );
  border: none;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  font-size: 16px;
  padding: 0 26.5px;
  border-radius: 5px;

  @media (min-width: 700px) {
    padding: 0 46.07px;
    height: 50px;
    font-size: 22px;
    border-radius: 12px;
  }

  @media (min-width: 1280px) {
    height: 60px;
    font-size: 26px;
    min-width: 296px;
  }
}

.connect_wallet_button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 11px 0px #f9832c4d;
  transition: 0.2s;
}

.header_avaibleWallet_wrap {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  top: -77px;
  right: 50%;
  transform: translateX(50%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 4;
  @media (min-width: 650px) {
    width: auto;
    height: auto;
    top: calc(100% + 10px);
    position: absolute;
  }
  @media (min-width: 700px) {
    bottom: 0;
    top: auto;
  }
  @media (min-width: 850px) {
    top: 0;
    transform: translateX(0);
    // height: 60px;
    font-size: 26px;
    min-width: 296px;
    right: -400px;
  }
}

.header_avaibleWallet_wrap.avaibleWallet_visible {
  visibility: visible;
  opacity: 1;
}

.banner_wallet_text {
  max-width: 220px;
  margin-top: 8px;
  position: relative;
  z-index: 1;
  color: var(--white-1-ea-night, #eaeaea);
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.48px;
  span {
    font-weight: 700;
  }
  @media (min-width: 700px) {
    max-width: 376px;
    font-size: 12px;
    margin-top: 16px;
    letter-spacing: 0.56px;
    line-height: 140%;
  }
  @media (min-width: 1200px) {
    max-width: 436px;
    font-size: 14px;
    margin-top: 30px;
    letter-spacing: 0.56px;
  }
}
