.thimbles_table_wrap {
  position: relative;
  height: 100%;
  --distance: 222px;
  @keyframes ball_1 {
    0% {
      transform: translate(0, 0) scale(1);
      z-index: 2;
    }
    8% {
      transform: translate(calc(var(--distance) / 2), 50px) scale(1.075);
    }
    16% {
      transform: translate(var(--distance), 50px) scale(1.15);
      z-index: 1;
    }
    33% {
      transform: translate(calc(var(--distance) * 2), 0) scale(1);
    }
    49% {
      transform: translate(calc(var(--distance) * 2), 0) scale(1);
      z-index: 2;
    }
    57% {
      z-index: 6;
      transform: translate(calc(var(--distance) * 2.5), 0) scale(1);
    }
    66% {
      transform: translate(var(--distance), 50px) scale(1.15);
      z-index: 6;
    }
    74% {
      transform: translate(calc(var(--distance) / 2), 25px) scale(1.075);
    }
    82% {
      transform: translate(0, 0) scale(1);
      z-index: 4;
    }
    100% {
      transform: translate(0, 0) scale(1);
      z-index: 4;
    }
  }

  @keyframes ball_2 {
    0% {
      // background-color: blue;
      transform: translate(0, 0) scale(1);
    }
    8% {
      transform: translate(calc((var(--distance) / 2) * -1), 0) scale(1);
    }
    16% {
      transform: translate(calc(var(--distance) * -1), 0) scale(1);
    }
    33% {
      transform: translate(calc(var(--distance) * -1), 0) scale(1);
      z-index: 2;
    }
    49% {
      transform: translate(0, 40px) scale(1.15);
    }

    57% {
      transform: translate(calc(var(--distance) / 2), -20px) scale(1);
    }
    66% {
      transform: translate(var(--distance), -20px) scale(1);
      z-index: 5;
    }
    74% {
      transform: translate(var(--distance), 0) scale(1);
    }
    82% {
      transform: translate(var(--distance), 0) scale(1);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }

  @keyframes ball_3 {
    0% {
      transform: translate(0, 0) scale(1);
    }
    8% {
      transform: translate(0, 0) scale(1);
    }
    16% {
      transform: translate(0, 0) scale(1);
    }
    24% {
      transform: translate(calc(var(--distance) / 2), 0) scale(1);
      z-index: 2;
    }
    33% {
      transform: translate(calc(var(--distance) * -1), 10px) scale(1.15);
      z-index: 1;
    }
    49% {
      transform: translate(calc(var(--distance) * -1.5), -50px) scale(0.9);
    }

    57% {
      transform: translate(calc(var(--distance) * -1.5), -20px) scale(1);
    }
    66% {
      transform: translate(calc(var(--distance) * -2), 0) scale(1);
      z-index: 2;
    }
    74% {
      transform: translate(calc(var(--distance) * -2.5), 25px) scale(0.9);
      z-index: 7;
    }
    82% {
      transform: translate(calc(var(--distance) * -1), 50px) scale(1);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
}

.thimbles_table_bg_wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
}

.thimbles_table_bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 0;

  @media screen and (max-width: 996px) {
    border-radius: 20px 20px 0 0;
  }

  @media screen and (max-width: 650px) {
    border-radius: 0;
  }
}

.thimbles_table_body {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;

  @media screen and (max-width: 650px) {
    padding: 0px 30px;
    width: calc(100% - 60px);
  }
}

.thimbles_block {
  display: flex;
  gap: 35px;
  // gap: 0;
  margin-bottom: 73px;
  position: relative;

  @media screen and (max-width: 650px) {
    gap: 20px;
    margin-bottom: 50px;
  }
}

//25.5px

.activeThimble_img {
  position: absolute;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  bottom: -23.5px;
  z-index: 2;
  transition: all 0.4s;

  @media screen and (max-width: 760px) {
    width: 100%;
    max-width: 165.5px;
    height: 142px;
    bottom: -20.5px;
  }

  @media screen and (max-width: 490px) {
    max-width: 92px;
    height: 79px;
    bottom: -10.5px;
  }
}

.thimble {
  user-select: none;
  z-index: 3;
  position: absolute;
  // bottom: 105px;
  bottom: 0;
  transition: all 0.4s;

  @media screen and (max-width: 760px) {
    width: 100%;
    max-width: 130px;
    height: 104px;
  }

  @media screen and (max-width: 490px) {
    max-width: 70px;
    height: 57px;
  }
}

.default_thimble_up {
  bottom: 105px;
}

.thimble_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  position: relative;
  &_1 {
    animation: ball_1 1.5s infinite linear;
  }
  &_2 {
    animation: ball_2 1.5s infinite linear;
    // background-color: blue;
  }
  &_3 {
    animation: ball_3 1.5s infinite linear;
    // background-color: green;
  }
}

.thimble_shadow {
  user-select: none;
  width: 95%;

  @media screen and (max-width: 760px) {
    width: 90%;
  }

  @media screen and (max-width: 490px) {
    width: 55%;
  }

  @media screen and (max-width: 410px) {
    width: 75%;
  }

  @media screen and (max-width: 350px) {
    width: 92%;
  }
}

.active_shadow {
  opacity: 1;
  visibility: visible;
  bottom: 80px;

  @media screen and (max-width: 760px) {
    bottom: 85px;
  }

  @media screen and (max-width: 490px) {
    bottom: 94px;
  }
}

.ball_img {
  user-select: none;
  position: absolute;
  bottom: 15px;
  left: 48%;
  transform: translateX(-50%);

  @media screen and (max-width: 760px) {
    width: 40px;
    height: 36px;
  }

  @media screen and (max-width: 490px) {
    width: 22px;
    height: 20px;
    bottom: 7px;
  }
}

.btn {
  position: absolute;
  z-index: 20;

  border: none;
  outline: none;
  background-color: antiquewhite;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px 25px;
  cursor: pointer;
}
