.Horse_selecteor {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  &_title {
    color: var(--gray-57-e-night, #7e7e7e);
    font-family: var(--font-source-sans-3);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;
  }
  &_body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 4px;
  }
  &_item {
    color: var(--gray-4146-night, #464646);
    text-align: center;
    font-family: var(--font-nunito-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.64px;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    background: var(--gray-320-night, #202020);
    height: 40px;
    transition: all 0.5s;
    &:first-child {
      border-radius: 12px 5px 5px 12px;
    }
    &:last-child {
      border-radius: 5px 12px 12px 5px;
    }
    &_active {
      color: white;
      background: var(--switch-in-game-2-e-night, #2e2e2e);
    }
  }
}
