.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main_area {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 1024px;
    min-width: 1712px;
}

.nova1 {
    position: absolute;
    width: 811px;
    height: 811px;
    border-radius: 50%;
    background: radial-gradient(48.65% 48.65% at 50% 51.35%, #FFFFFF 0%, #FFFFFF 26.61%, #FFD79D 59.54%, #E45F1C 61.69%, #2F6280 100%);
    filter: blur(25px);
    left: -400px;
    top: 300px;
}

.nova2 {
    position: absolute;
    left: 400px;
    top: 300px;
}

.nova3 {
    position: absolute;
    filter: blur(25px);
    right: 0px;
    top: 250px;
}

.nova4 {
    position: absolute;
    filter: blur(1px);
    right: 400px;
    top: 350px;
}

.nova5 {
    position: absolute;
    filter: blur(2px);
    right: 400px;
    top: 500px;
}

.nova_line {
    position: absolute;
    right: 100px;
    top: 500px;
    //transform: rotate(180deg);
}