.poker_wager_wrap {
  border-radius: 0px 20px 20px 0px;
  background: #151515;
  height: 100%;
  max-width: 320px;
  border-left: 1px solid #202020;
}

.poker_wager_block {
  padding: 20px;
  height: calc(100% - 40px);
}

.poker_wager_title {
  font-family: var(--font-source-sans-3);
  color: #7e7e7e;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;
}

.poker_wager_inputs_block {
  background: #121212;
  border-radius: 12px;
  margin-top: 5px;
}

.poker_wager_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.poker_wager_input_kripto_block,
.poker_wager_input_currency_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.poker_wager_input_kripto_ico_block {
  cursor: pointer;
  position: relative;
}

.poker_wager_input_currency_block {
  border-top: 1px solid #252525;
}

.poker_wager_input_kripto,
.poker_wager_input_currency {
  background: inherit;
  border: none;
  outline: none;
  font-family: var(--font-nunito-sans);
  max-width: 150px;
  color: #eaeaea;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150.8%;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

.poker_wager_input_currency {
  color: #7e7e7e;
}

.poker_wager_increase_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #202020;
  border-radius: 0 0 12px 12px;
}

.poker_wager_halve_block,
.poker_wager_double_block,
.poker_wager_max_block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.poker_wager_halve_block,
.poker_wager_double_block {
  border-right: 1px solid #3e3e3e;
}

.poker_wager_halve_title,
.poker_wager_double_title,
.poker_wager_max_title {
  font-family: var(--font-nunito-sans);
  color: var(--Gray-5, #7e7e7e);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150.8%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.poker_wager_lower_btns_block {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.poker_wager_sound_btn,
.poker_wager_info_btn {
  cursor: pointer;
  background: #202020;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.poker_wager_info_btn_wrap {
  position: relative;
}

.poker_wager_info_modal_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  min-width: 410px;
  border-radius: 20px;
  background: #202020;
  padding: 25px 15px;
  cursor: default;
  visibility: hidden;
  height: fit-content;
  bottom: calc(100% + 10px);
  left: 30%;
  transform: translateX(-65%);
  opacity: 0;
  transition: all 0.4s;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.poker_wager_info_modal_title {
  margin-bottom: 20px;
  font-family: var(--font-nunito-sans);
  color: #eaeaea;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.88px;
}

.poker_wager_info_modal_text {
  font-family: var(--font-source-sans-3);
  color: #eaeaea;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.poker_wager_info_modal_close_ico {
  position: absolute;
  top: 30px;
  cursor: pointer;
  right: 20px;
}

.poker_wager_drawing_cards_btn {
  border-radius: 12px;
  background: linear-gradient(
      114deg,
      #f8eeb8 -4.17%,
      #dbb370 59.03%,
      #8e5b2d 112.39%
    ),
    #121212;
  width: 100%;
  border: none;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f0f0f;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.72px;
  height: 50px;
  cursor: pointer;
}

.poker_wager_tokens_list_wrap {
  position: absolute;
  border-radius: 20px;
  background: #181818;
  padding: 20px 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.token_list_visible {
  opacity: 1;
  visibility: visible;
}

.poker_wager_tokens_list_title {
  margin: 0 20px;
  font-family: var(--font-nunito-sans);
  color: #eaeaea;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.56px;
  min-width: 130px;
  border-bottom: 1px solid #202020;
  margin-bottom: 10px;
}

.poker_wager_tokens_list_item {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
  transition: all 0.2s;
  padding: 10px 20px;
  &:hover {
    background: #202020;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .poker_wager_tokens_list_item_title {
    margin-left: 10px;
    color: #7e7e7e;
    font-family: var(--font-nunito-sans);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150.8%;
    letter-spacing: 0.56px;
    text-transform: uppercase;
  }
}

.hand_multiplier_ico_wrap {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  border-radius: 12px;
}

.hand_multiplier_block {
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
  width: 235px;
  border-radius: 20px;
  background: #202020;
  position: absolute;
  padding: 20px 0;
  right: 0;
  user-select: none;
}

.handMultiplierActive {
  opacity: 1;
  visibility: visible;
}

.hand_multiplier_wrap {
  position: relative;
}

.hand_multiplier_block_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 5px 20px;
  border-bottom: 1px solid #252525;
  margin-bottom: 5px;
}

.hand_multiplier_block_header_title {
  font-family: var(--font-source-sans-3);
  color: #7e7e7e;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.56px;
}

.hand_multiplier_list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.hand_multiplier_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.hand_multiplier_list_item_title {
  font-family: var(--font-source-sans-3);
  color: #eaeaea;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

.hand_multiplier_list_item_multiplier {
  color: #e5c787;
  font-family: var(--font-source-sans-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

@media screen and (max-width: 996px) {
  .poker_wager_wrap {
    width: 100%;
    border-radius: 0 0 20px 20px;
    max-width: 100%;
  }
  .poker_wager_info_modal_block {
    transform: translateX(-20%);
  }
}

@media screen and (min-width: 1280px) {
  .hand_multiplier_block {
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 700px) {
  .hand_multiplier_block {
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-60%);
  }
}

@media screen and (max-width: 700px) {
  .hand_multiplier_block {
    top: calc(100% + 10px);
    height: fit-content;
    right: 0;
  }
  .poker_wager_drawing_cards_btn {
    width: 240px;
    margin: 20px auto;
  }
  .poker_wager_lower_btns_block {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 0;
  }
  .poker_wager_info_modal_block {
    top: 50px;
    right: 0;
    bottom: 50px;
    left: -115px;
    transform: translateX(-65%);
  }
}

@media screen and (max-width: 650px) {
  .poker_wager_info_modal_block {
    min-width: 200px;
    align-items: start;
  }
  .poker_wager_info_modal_title {
    font-size: 14px;
  }
  .poker_wager_info_modal_text {
    font-size: 10px;
  }
  .poker_wager_drawing_cards_btn {
    font-size: 12px;
    width: 150px;
  }
  .poker_wager_title,
  .poker_wager_input_kripto,
  .poker_wager_input_currency {
    font-size: 14px;
  }
  .poker_wager_info_modal_block {
    bottom: 50px;
    left: -40px;
    // transform: translateX(-85%);
  }
}
