.apples_game_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  box-sizing: border-box;

  @media screen and (max-width: 996px) {
    padding: 64px 30px;
  }

  @media screen and (max-width: 650px) {
    padding: 44px 10px;
  }
}

.apples_table_background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px 0 0 0;

  @media screen and (max-width: 996px) {
    border-radius: 20px 20px 0 0 !important;
  }
  @media screen and (max-width: 650px) {
    border-radius: 0 !important;
  }
}

.apples_table_background_img {
  border-radius: 20px 0 0 0;

  @media screen and (min-width: 1830px) {
    width: 100%;
  }

  @media screen and (max-width: 1330px) {
    width: 100%;
    right: 0;
    bottom: 0;
  }

  @media screen and (max-width: 996px) {
    border-radius: 20px 20px 0 0 !important;
  }
  @media screen and (max-width: 650px) {
    border-radius: 0 !important;
  }
  width: 1438px;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: -1;
}

.apples_table_block {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.apples_table_wrap {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 425px;
  border-radius: 12px;
  border: 1px solid #105453;
  background: rgba(3, 33, 45, 0.82);
  margin-top: 30px;
  box-shadow: 0px 0px 24.6px 0px rgba(25, 102, 101, 0.89);
  padding: 31px 24px 20px 24px;
  margin-top: 0;
  @media screen and (max-width: 650px) {
    padding: 19px 17px;
    margin-bottom: 40px;
    margin-top: 0;
  }

  @media screen and (max-width: 480px) {
    max-width: 325px;
  }
}

.apples_table {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 12px;
  padding-top: 20px;
  margin-top: -16px;

  @media (max-width: 650px) {
    gap: 10px;
    padding-top: 18px;
    margin-top: -12px;
  }
}

.apples_row {
  box-sizing: border-box;
  padding: 0 4px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;

  @media screen and (max-width: 650px) {
    gap: 2.8px;
  }
}

.apples_row_item {
  box-sizing: border-box;
  border-radius: 5px;
  background: #2a394b;
  position: relative;
  height: 40px;
  padding: 0 10px;
  overflow: hidden;
  transition: all 0.5s;

  @media screen and (max-width: 480px) {
    height: 28px;
  }
}

.clicked {
  cursor: pointer;
  border-radius: 5px;
  &:hover {
    background: #293e3e;
    box-shadow: 0px 0px 4px 0px rgba(79, 202, 136, 0.65) inset;
  }
}

.apple_picked {
  cursor: default;
  background: #293e3e;
  box-shadow: 0px 0px 6px 0px #4fca88 inset;
  &_false {
    background: #9f3131;
    box-shadow: none;
    &:hover {
      background: #9f3131;
      box-shadow: 0px 0px 4px 0px #9f3131;
    }
  }
  &_true {
    background: #4e9f31;
    box-shadow: none;
    &:hover {
      background: #4e9f31;
      box-shadow: 0px 0px 4px 0px #4e9f31;
    }
  }
}

.apple_pick {
  cursor: pointer;
  background: #293e3e;
  box-shadow: 0px 0px 4px 0px rgba(79, 202, 136, 0.65) inset;
}

.apple_item_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0px;
}

.apples_row_item_body {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.row_cf {
  width: 100%;
  max-width: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  padding: 0 2px;
  width: 100%;
  bottom: 30.5px;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: 650px) {
    height: 14px;
    left: calc(50% + 0px);
    bottom: 20px;
  }

  @media screen and (max-width: 410px) {
    width: 25%;
  }
}

.cf_bg {
  width: 100%;
  position: absolute;
  top: -5px;
  left: 0;

  @media screen and (max-width: 650px) {
    height: 100%;
    width: 100%;
  }
}

.cf_bg_active {
  position: absolute;
  top: -18px;
  left: 49.9%;
  transform: translateX(-49.9%);
  width: 100%;
  @media (max-width: 650px) {
    top: -16px;
  }

  @media (max-width: 480px) {
    top: -11px;
    width: 99%;
  }
}

.apple_ico_wrap {
  transition: all 0.5s;
  svg {
    position: relative;
    z-index: 2;
    path {
      transition: all 0.5s;
    }
  }
}

.apple_ico_wrap {
  @media screen and (max-width: 650px) {
    width: 22px;
    height: 22px;

    svg {
      width: 100%;
      height: 100%;
      path {
        transition: all 0.5s;
      }
      rect {
        transition: all 0.5s;
      }
    }
  }
}

.apple_picked_svg {
  svg {
    path {
      stroke: #49b446;
    }
    rect {
      stroke: #49b446;
    }
  }
}

.red {
  svg {
    path {
      stroke: #b44646;
    }
    rect {
      stroke: #b44646;
    }
  }
}

.cf_title {
  z-index: 5;
  color: #979797;
  font-family: var(--font-source-sans-3);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.48px;
  margin-right: 4px;
  margin-bottom: 12px;

  @media screen and (max-width: 650px) {
    font-size: 8.5px;
    line-height: 12px;
    margin-right: 2px;
  }

  @media screen and (max-width: 340px) {
    margin-bottom: 11px;
  }
}

.game_info_block {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @media screen and (max-width: 650px) {
    gap: 2.8px;
  }
}

.multiplier_title {
  color: #fff;
  font-family: var(--font-source-sans-3);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.4px;

  @media screen and (max-width: 650px) {
    font-size: 7.1px;
    line-height: 10px;
  }
}

.game_info_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.btns_block {
  display: flex;
  gap: 10px;

  @media screen and (max-width: 480px) {
    width: 100%;
    justify-content: end;
  }
}

.clear_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 106.667px;
  width: 80px;
  height: 32px;
  border: 1px solid #2a373d;
  background: #052430;
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  transition: all 0.5s;
  cursor: pointer;
  &_active {
    border: 1px solid #49b446;
    box-shadow: 0px 0px 4px 0px rgba(79, 202, 136, 0.65);
  }
  &_disactive {
    color: #2a373d;
    border: 1.067px solid #2a373d;
    cursor: default;
  }

  @media screen and (max-width: 650px) {
    font-size: 0.75rem;
    line-height: 17px;
    width: 95px;
    height: 23px;
    border-radius: 75.829px;
  }

  @media screen and (max-width: 480px) {
    width: 29%;
  }

  @media screen and (max-width: 420px) {
    width: 26.7%;
  }
}

.back_btn {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #2a373d;
  background: #052430;
  cursor: pointer;
  &_disable {
    cursor: default;
  }

  @media screen and (max-width: 650px) {
    width: 23px;
    height: 23px;

    img {
      width: 12px;
      height: 11;
    }
  }
}

.back_icon {
  path {
    transition: all 0.5s !important;
  }
  @media (max-width: 650px) {
    width: 11px;
    height: 10px;
  }
}

.back_btn_disactive {
  cursor: default;
  path {
    fill: #2a373d;
  }
}
.total_container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: var(--font-source-sans-3);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  @media (max-width: 1200px) {
    font-size: 0.75rem;
  }
  @media (max-width: 650px) {
    font-size: 0.625rem;
    letter-spacing: 0.4px;
    gap: 0px;
  }
}

.total_won {
  color: #4ed26c;
}

.total_lost {
  color: #fc3c37;
}

.balls_arr {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  // width: 800px;
  width: (calc(100% - 398px));
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background-color: transparent;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media (max-width: 1980px) {
    width: (calc(100% - 358px));
  }
  @media (max-width: 1280px) {
    width: (calc(100% - 262px));
  }
  @media (max-width: 650px) {
    top: 10px;
    width: (calc(100% - 20px));
  }
}

.multiplier_value {
  box-sizing: border-box;
  color: #052430;
  text-shadow: 0px 0px 10px rgba(118, 180, 70, 0.3);
  font-family: var(--font-nunito-sans);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 800;
  line-height: 128.16%; /* 23.069px */
  letter-spacing: 0.72px;
  // padding: 8.5px 19px;
  border-radius: 5px;
  // width: 60px;
  height: 30px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 30px;
  // min-width: 60px;
  max-height: 30px;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  span {
    position: relative;
    z-index: 2;
  }
  @media (max-width: 1280px) {
    min-width: 48px;
    min-height: 24px;
    max-width: 48px;
    max-height: 24px;
    width: 48px;
    height: 24px;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 128.16%; /* 17.942px */
    letter-spacing: 0.56px;
  }
  @media (max-width: 650px) {
    font-size: 0.75rem;
    letter-spacing: 0.48px;
  }
}

.multiplier_positive {
  background: #4e9f31;
}

.multiplier_negative {
  background: rgba(159, 49, 49, 0.9);
}

.apples_shadow {
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 10px;
  background: linear-gradient(
    90deg,
    rgba(5, 36, 48, 1) 0%,
    rgba(255, 255, 255, 0) 100%,
    rgba(245, 245, 245, 0) 100%
  );
  transform: rotate(-90deg);
  z-index: 20;
  &_left {
    left: -11px;
  }
  &_right {
    right: -11px;
  }
}

.btn_disactive {
  cursor: auto;
}
