@keyframes firework {
    0% {
        transform: translate(-50%, 30vh);
        width: 0.5vmin;
        opacity: 1;
    }

    50% {
        width: 0.5vmin;
        opacity: 1;
    }

    100% {
        width: 45vmin;
        opacity: 0;
    }
}


.firework,
.firework::before,
.firework::after {
    z-index: 1000;
    //--top: 60vh;
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background:
        /* random backgrounds */
        radial-gradient(circle, #ff0 0.2vmin, #0000 0) 50% 00%,
        radial-gradient(circle, #ff0 0.3vmin, #0000 0) 00% 50%,
        radial-gradient(circle, #ff0 0.5vmin, #0000 0) 50% 99%,
        radial-gradient(circle, #ff0 0.2vmin, #0000 0) 99% 50%,
        radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 90%,
        radial-gradient(circle, #ff0 0.5vmin, #0000 0) 95% 90%,
        radial-gradient(circle, #ff0 0.5vmin, #0000 0) 10% 60%,
        radial-gradient(circle, #ff0 0.2vmin, #0000 0) 31% 80%,
        radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 10%,
        radial-gradient(circle, #ff0 0.2vmin, #0000 0) 90% 23%,
        radial-gradient(circle, #ff0 0.3vmin, #0000 0) 45% 20%,
        radial-gradient(circle, #ff0 0.5vmin, #0000 0) 13% 24%;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework 1s infinite;
    -webkit-animation: firework 1s infinite;
    -moz-animation: firework 1s infinite;
    -o-animation: firework 1s infinite;
}

.firework::before {
    transform: translate(-50%, -50%) rotate(25deg) !important;
}

.firework::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
}

@keyframes firework_right {
    0% {
        transform: translate(-50%, 30vh);
        //transform: translate(-45%);
        width: 1vmin;
        opacity: 1;
    }

    50% {
        transform: translate(150px, 150px);
        width: 1vmin;
        opacity: 1;
    }

    100% {
        width: 45vmin;
        opacity: 0;
    }
}

.firework_right::before {
    transform: translate(-50%, -30%) rotate(25deg) !important;
}


.firework_right::after {
    //transform: rotate(30deg);
    z-index: 1001;
    background:
        /* random backgrounds */
        radial-gradient(circle, rgb(255, 102, 0) 0.2vmin, #0000 0) 50% 00%,
        radial-gradient(circle, rgb(255, 102, 0) 0.3vmin, #0000 0) 00% 50%,
        radial-gradient(circle, rgb(255, 102, 0) 0.5vmin, #0000 0) 50% 99%,
        radial-gradient(circle, rgb(255, 102, 0) 0.2vmin, #0000 0) 99% 50%,
        radial-gradient(circle, rgb(255, 102, 0) 0.3vmin, #0000 0) 80% 90%,
        radial-gradient(circle, rgb(255, 102, 0) 0.5vmin, #0000 0) 95% 90%,
        radial-gradient(circle, rgb(255, 102, 0) 0.5vmin, #0000 0) 10% 60%,
        radial-gradient(circle, rgb(255, 102, 0) 0.2vmin, #0000 0) 31% 80%,
        radial-gradient(circle, rgb(255, 102, 0) 0.3vmin, #0000 0) 80% 10%,
        radial-gradient(circle, rgb(255, 102, 0) 0.2vmin, #0000 0) 90% 23%,
        radial-gradient(circle, rgb(255, 102, 0) 0.3vmin, #0000 0) 45% 20%,
        radial-gradient(circle, rgb(255, 102, 0) 0.5vmin, #0000 0) 13% 24%;

    //--top: 60vh;
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework_right 1s infinite;
    -webkit-animation: firework_right 1s infinite;
    -moz-animation: firework_right 1s infinite;
    -o-animation: firework_right 1s infinite;
}


@keyframes firework_left {
    0% {
        transform: translate(-50%, 30vh);
        //transform: translate(-45%);
        width: 1vmin;
        opacity: 1;
    }

    50% {
        transform: translate(-150px, 150px);
        width: 1vmin;
        opacity: 1;
    }

    100% {
        width: 45vmin;
        opacity: 0;
    }
}

.firework_left::before {
    transform: translate(-50%, -30%) rotate(25deg) !important;
}


.firework_left::after {
    //transform: rotate(30deg);
    z-index: 1001;
    background:
        /* random backgrounds */
        radial-gradient(circle, rgb(34, 56, 255) 0.2vmin, #0000 0) 50% 00%,
        radial-gradient(circle, rgb(34, 56, 255) 0.3vmin, #0000 0) 00% 50%,
        radial-gradient(circle, rgb(34, 56, 255) 0.5vmin, #0000 0) 50% 99%,
        radial-gradient(circle, rgb(34, 56, 255) 0.2vmin, #0000 0) 99% 50%,
        radial-gradient(circle, rgb(34, 56, 255) 0.3vmin, #0000 0) 80% 90%,
        radial-gradient(circle, rgb(34, 56, 255) 0.5vmin, #0000 0) 95% 90%,
        radial-gradient(circle, rgb(34, 56, 255) 0.5vmin, #0000 0) 10% 60%,
        radial-gradient(circle, rgb(34, 56, 255) 0.2vmin, #0000 0) 31% 80%,
        radial-gradient(circle, rgb(34, 56, 255) 0.3vmin, #0000 0) 80% 10%,
        radial-gradient(circle, rgb(34, 56, 255) 0.2vmin, #0000 0) 90% 23%,
        radial-gradient(circle, rgb(34, 56, 255) 0.3vmin, #0000 0) 45% 20%,
        radial-gradient(circle, rgb(34, 56, 255) 0.5vmin, #0000 0) 13% 24%;

    //--top: 60vh;
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 30px;
    aspect-ratio: 1;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    animation: firework_left 1s infinite;
    -webkit-animation: firework_left 1s infinite;
    -moz-animation: firework_left 1s infinite;
    -o-animation: firework_left 1s infinite;
}

@keyframes firework_left1 {
    0% {
        transform: translate(-50%, 30vh);
        //transform: translate(-45%);
        width: 1vmin;
        opacity: 1;
    }

    50% {
        transform: translate(-120px, 200px);
        width: 1vmin;
        opacity: 1;
    }

    100% {
        width: 45vmin;
        opacity: 0;
    }
}

.firework_left1::before {
    transform: translate(-50%, -30%) rotate(25deg) !important;
}


.firework_left1::after {
    //transform: rotate(30deg);
    z-index: 1001;
    background:
        /* random backgrounds */
        radial-gradient(circle, rgb(193, 85, 236) 0.2vmin, #0000 0) 50% 00%,
        radial-gradient(circle, rgb(193, 85, 236) 0.3vmin, #0000 0) 00% 50%,
        radial-gradient(circle, rgb(193, 85, 236) 0.5vmin, #0000 0) 50% 99%,
        radial-gradient(circle, rgb(193, 85, 236) 4vmin, #0000 0) 99% 50%,
        radial-gradient(circle, rgb(193, 85, 236) 0.3vmin, #0000 0) 80% 90%,
        radial-gradient(circle, rgb(193, 85, 236) 0.5vmin, #0000 0) 95% 90%,
        radial-gradient(circle, rgb(193, 85, 236) 0.5vmin, #0000 0) 10% 60%,
        radial-gradient(circle, rgb(193, 85, 236) 0.2vmin, #0000 0) 31% 80%,
        radial-gradient(circle, rgb(193, 85, 236) 0.3vmin, #0000 0) 80% 10%,
        radial-gradient(circle, rgb(193, 85, 236) 0.2vmin, #0000 0) 90% 23%,
        radial-gradient(circle, rgb(193, 85, 236) 2vmin, #0000 0) 45% 20%,
        radial-gradient(circle, rgb(193, 85, 236) 0.5vmin, #0000 0) 13% 24%;

    //--top: 60vh;
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background-size: 3vmin 3vmin;
    background-repeat: no-repeat;
    animation: firework_left1 1s infinite;
    -webkit-animation: firework_left1 1s infinite;
    -moz-animation: firework_left1 1s infinite;
    -o-animation: firework_left1 1s infinite;
}

@keyframes firework_left2 {
    0% {
        transform: translate(-50%, 30vh);
        //transform: translate(-45%);
        width: 1vmin;
        opacity: 1;
    }

    50% {
        transform: translate(-70px, 10px);
        width: 1vmin;
        opacity: 1;
    }

    100% {
        width: 45vmin;
        opacity: 0;
    }
}

.firework_left2::before {
    transform: translate(-50%, -30%) rotate(25deg) !important;
}


.firework_left2::after {
    //transform: rotate(30deg);
    z-index: 1001;
    background:
        /* random backgrounds */
        radial-gradient(circle, rgb(236, 85, 173) 0.2vmin, #0000 0) 50% 00%,
        radial-gradient(circle, rgb(236, 85, 173) 0.3vmin, #0000 0) 00% 50%,
        radial-gradient(circle, rgb(236, 85, 173) 3vmin, #0000 0) 50% 99%,
        radial-gradient(circle, rgb(236, 85, 173) 0.2vmin, #0000 0) 99% 50%,
        radial-gradient(circle, rgb(236, 85, 173) 0.3vmin, #0000 0) 80% 90%,
        radial-gradient(circle, rgb(236, 85, 173) 0.5vmin, #0000 0) 95% 90%,
        radial-gradient(circle, rgb(236, 85, 173) 4vmin, #0000 0) 10% 60%,
        radial-gradient(circle, rgb(236, 85, 173) 0.2vmin, #0000 0) 31% 80%,
        radial-gradient(circle, rgb(236, 85, 173) 0.3vmin, #0000 0) 80% 10%,
        radial-gradient(circle, rgb(236, 85, 173) 0.2vmin, #0000 0) 90% 23%,
        radial-gradient(circle, rgb(236, 85, 173) 0.3vmin, #0000 0) 45% 20%,
        radial-gradient(circle, rgb(236, 85, 173) 2vmin, #0000 0) 13% 24%;

    //--top: 60vh;
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background-size: 2vmin 2vmin;
    background-repeat: no-repeat;
    animation: firework_left2 1s infinite;
    -webkit-animation: firework_left2 1s infinite;
    -moz-animation: firework_left2 1s infinite;
    -o-animation: firework_left2 1s infinite;
}

@keyframes firework_right1 {
    0% {
        transform: translate(-50%, 30vh);
        //transform: translate(-45%);
        width: 1vmin;
        opacity: 1;
    }

    50% {
        transform: translate(80px, 40px);
        width: 1vmin;
        opacity: 1;
    }

    100% {
        width: 45vmin;
        opacity: 0;
    }
}

.firework_right1::before {
    transform: translate(-50%, -30%) rotate(25deg) !important;
}


.firework_right2::after {
    //transform: rotate(30deg);
    z-index: 1001;
    background:
        /* random backgrounds */
        radial-gradient(circle, rgb(58, 233, 102) 0.2vmin, #0000 0) 50% 00%,
        radial-gradient(circle, rgb(58, 233, 102) 0.3vmin, #0000 0) 00% 50%,
        radial-gradient(circle, rgb(58, 233, 102) 1vmin, #0000 0) 50% 99%,
        radial-gradient(circle, rgb(58, 233, 102) 0.2vmin, #0000 0) 99% 50%,
        radial-gradient(circle, rgb(58, 233, 102) 0.3vmin, #0000 0) 80% 90%,
        radial-gradient(circle, rgb(58, 233, 102) 0.5vmin, #0000 0) 95% 90%,
        radial-gradient(circle, rgb(58, 233, 102) 2vmin, #0000 0) 10% 60%,
        radial-gradient(circle, rgb(58, 233, 102) 0.2vmin, #0000 0) 31% 80%,
        radial-gradient(circle, rgb(58, 233, 102) 0.3vmin, #0000 0) 80% 10%,
        radial-gradient(circle, rgb(58, 233, 102) 0.2vmin, #0000 0) 90% 23%,
        radial-gradient(circle, rgb(58, 233, 102) 0.3vmin, #0000 0) 45% 20%,
        radial-gradient(circle, rgb(58, 233, 102) 2vmin, #0000 0) 13% 24%;

    //--top: 60vh;
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background-size: 0.7vmin 0.7vmin;
    background-repeat: no-repeat;
    animation: firework_right1 1s infinite;
    -webkit-animation: firework_right1 1s infinite;
    -moz-animation: firework_right1 1s infinite;
    -o-animation: firework_right1 1s infinite;
}

@keyframes firework_right2 {
    0% {
        transform: translate(-50%, 30vh);
        //transform: translate(-45%);
        width: 1vmin;
        opacity: 1;
    }

    50% {
        transform: translate(60px, 200px);
        width: 1vmin;
        opacity: 1;
    }

    100% {
        width: 45vmin;
        opacity: 0;
    }
}

.firework_right2::before {
    transform: translate(-50%, -30%) rotate(25deg) !important;
}


.firework_right2::after {
    //transform: rotate(30deg);
    z-index: 1001;
    background:
        /* random backgrounds */
        radial-gradient(circle, rgb(97, 255, 221) 2vmin, #0000 0) 50% 00%,
        radial-gradient(circle, rgb(97, 255, 221) 0.3vmin, #0000 0) 00% 50%,
        radial-gradient(circle, rgb(97, 255, 221) 0.5vmin, #0000 0) 50% 99%,
        radial-gradient(circle, rgb(97, 255, 221) 0.2vmin, #0000 0) 99% 50%,
        radial-gradient(circle, rgb(97, 255, 221) 0.3vmin, #0000 0) 80% 90%,
        radial-gradient(circle, rgb(97, 255, 221) 1vmin, #0000 0) 95% 90%,
        radial-gradient(circle, rgb(97, 255, 221) 0.5vmin, #0000 0) 10% 60%,
        radial-gradient(circle, rgb(97, 255, 221) 0.2vmin, #0000 0) 31% 80%,
        radial-gradient(circle, rgb(97, 255, 221) 0.3vmin, #0000 0) 80% 10%,
        radial-gradient(circle, rgb(97, 255, 221) 0.2vmin, #0000 0) 90% 23%,
        radial-gradient(circle, rgb(97, 255, 221) 1vmin, #0000 0) 45% 20%,
        radial-gradient(circle, rgb(97, 255, 221) 0.5vmin, #0000 0) 13% 24%;

    //--top: 60vh;
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework_right2 1s infinite;
    -webkit-animation: firework_right2 1s infinite;
    -moz-animation: firework_right2 1s infinite;
    -o-animation: firework_right2 1s infinite;
}

@keyframes firework_right3 {
    0% {
        transform: translate(-50%, 30vh);
        //transform: translate(-45%);
        width: 1vmin;
        opacity: 1;
    }

    50% {
        transform: translate(40px, 174px);
        width: 1vmin;
        opacity: 1;
    }

    100% {
        width: 45vmin;
        opacity: 0;
    }
}

.firework_right3::before {
    transform: translate(-50%, -30%) rotate(25deg) !important;
}


.firework_right3::after {
    //transform: rotate(30deg);
    z-index: 1001;
    background:
        /* random backgrounds */
        radial-gradient(circle, rgb(255, 0, 0) 2vmin, #0000 0) 50% 00%,
        radial-gradient(circle, rgb(255, 0, 0) 0.3vmin, #0000 0) 00% 50%,
        radial-gradient(circle, rgb(255, 0, 0) 0.5vmin, #0000 0) 50% 99%,
        radial-gradient(circle, rgb(255, 0, 0) 0.2vmin, #0000 0) 99% 50%,
        radial-gradient(circle, rgb(255, 0, 0) 2vmin, #0000 0) 80% 90%,
        radial-gradient(circle, rgb(255, 0, 0) 0.5vmin, #0000 0) 95% 90%,
        radial-gradient(circle, rgb(255, 0, 0) 4vmin, #0000 0) 10% 60%,
        radial-gradient(circle, rgb(255, 0, 0) 0.2vmin, #0000 0) 31% 80%,
        radial-gradient(circle, rgb(255, 0, 0) 0.3vmin, #0000 0) 80% 10%,
        radial-gradient(circle, rgb(255, 0, 0) 0.2vmin, #0000 0) 90% 23%,
        radial-gradient(circle, rgb(255, 0, 0) 2vmin, #0000 0) 45% 20%,
        radial-gradient(circle, rgb(255, 0, 0) 0.5vmin, #0000 0) 13% 24%;

    //--top: 60vh;
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework_right3 1s infinite;
    -webkit-animation: firework_right3 1s infinite;
    -moz-animation: firework_right3 1s infinite;
    -o-animation: firework_right3 1s infinite;
}