.faq_section {
  border-radius: 20px;
  background: #181818;
  margin-top: 20px;

  @media screen and (max-width: 650px) {
    margin: 0 16px;
  }
}

.faq_body {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 650px) {
    padding: 30px 0;
  }
}

.faq_title {
  color: #eaeaea;
  font-family: var(--font-source-sans-3);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.28px;
  margin-bottom: 35px;

  @media screen and (max-width: 700px) {
    font-size: 28px;
    line-height: 40px;
  }

  @media screen and (max-width: 650px) {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
    padding: 0 16px;
  }
}

.faq_types_btns {
  display: flex;
  background: #181818;
  gap: 5px;

  @media screen and (max-width: 650px) {
    padding: 0 16px;
    // width: 100%;
    // display: none;
  }
}

.slide {
  max-width: 150px !important;
}

.mob_swiper {
  width: 100%;
  display: none;

  @media screen and (max-width: 650px) {
    display: block;
  }
}

.faq_types_btns_item {
  border: none;
  background: inherit;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 150px;
  height: 40px;

  @media screen and (max-width: 996px) {
    width: 120px;
    border-radius: 10px;
  }

  @media screen and (max-width: 650px) {
    width: 100%;
    border: none;
    background: inherit;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eaeaea;
    font-family: var(--font-nunito-sans);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 150px;
    height: 40px;
  }
}

.btn_active {
  background: #2e2e2e;
}

.faq_block {
  margin-top: 15px;
  padding: 30px 0;
  border-radius: 12px;
  background: #151515;

  @media screen and (max-width: 650px) {
    border-radius: 0;
  }
}

.accordeon_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media screen and (max-width: 700px) {
    max-width: 100%;
  }
}

.accordeon {
  background: #151515;

  backdrop-filter: blur(30px);
  border-bottom: 1px solid #2e2e2e;
  padding: 16px;
}

.accordeon_wrap {
  @media screen and (max-width: 1280px) {
    min-width: 500px;
    width: 100%;
  }

  @media screen and (max-width: 700px) {
    min-width: 100px;
    width: 100%;
  }
}

.accordeon_header {
  gap: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordeon_title {
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;

  @media screen and (max-width: 650px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.accordeon_body {
  transition: all 0.4s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
  max-height: 0;
}

.accordeon_active {
  height: auto;
  max-height: 9999px;
  transition: all 0.4s cubic-bezier(1, 0, 1, 0);
}

.accordeon_text {
  padding-top: 10px;
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  &_2 {
    margin-top: 0 !important;
  }
}

.faq_block {
  @media screen and (max-width: 700px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.arr {
  transition: all 0.3s;
}

.arr[data-active="true"] {
  transform: rotate(-90deg);
}
