.swiper_banner_wrap {
  display: grid;
  width: 100%;
  height: 350px;
  margin-bottom: 20px;

  @media screen and (max-width: 1280px) {
    height: 250px;
  }

  @media screen and (max-width: 700px) {
    height: 300px;
  }

  @media screen and (max-width: 650px) {
    margin: 0 0 8px 0;
    height: 180px;
    width: 100%;
  }
}

.main_banner_swiper_slide {
  cursor: pointer;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  padding: 70px 105px;

  &[data-extra="true"] {
    justify-content: start;
  }

  @media screen and (max-width: 1280px) {
    padding: 33px 46px;
  }
  @media screen and (max-width: 700px) {
    padding: 51px 46px;
  }
  @media screen and (max-width: 650px) {
    padding: 25px 10px;
    border-radius: 12px;
  }

  @media screen and (max-width: 400px) {
    &:nth-child(1) {
      img {
        right: -100px;
      }
    }
  }
}

.main_banner_swiper_slide.swiper-slide-active {
  opacity: 1;
}

.slide_bg_img {
  border: 1px solid;
  box-sizing: border-box;
  object-fit: cover;
  position: absolute;
  border: 1px solid #202020;
  top: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 20px;

  @media screen and (max-width: 650px) {
    border-radius: 0;
  }
}

.main_banner_swiper {
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: 650px) {
    border-radius: 0;
    border: none;
  }
}

.kyc_ico {
  width: 44px;
  height: 48px;

  @media screen and (max-width: 1280px) {
    width: 40px;
    height: 44px;
  }
  @media screen and (max-width: 650px) {
    width: 21px;
    height: 23px;
  }
}

.slide_text {
  max-width: 550px;
  position: relative;
  z-index: 10;
  position: relative;
  color: #e9e9f5;
  font-family: var(--font-nunito-sans);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  display: block;

  @media screen and (max-width: 1280px) {
    font-size: 24px;
    line-height: 37.2px;
    max-width: 430px;
  }

  @media screen and (max-width: 700px) {
    font-size: 22px;
    max-width: 400px;
    line-height: 34.1px;
  }

  @media screen and (max-width: 470px) {
    max-width: 210px;
  }

  @media screen and (max-width: 650px) {
    font-size: 10px;
    margin-bottom: 9px;
    line-height: 15.5px;
  }
}

.title {
  font-size: 40px;

  @media screen and (max-width: 1280px) {
    font-size: 24px;
  }

  @media screen and (max-width: 700px) {
    font-size: 30px;
  }

  @media screen and (max-width: 650px) {
    font-size: 14px;
  }
}

.kyc_block {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  color: #eaeaea;
  font-family: var(--font-source-sans-3);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin-bottom: 24px;

  img {
    margin-right: 14px;
  }

  @media screen and (max-width: 1280px) {
    font-size: 18px;
  }

  @media screen and (max-width: 650px) {
    font-size: 10px;
    margin-bottom: 10px;
    line-height: 12px;
  }
}

.join_wallet_btn {
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 10;
  border-radius: 12px;
  background: linear-gradient(
    114deg,
    #f8eeb8 -4.17%,
    #dbb370 59.03%,
    #8e5b2d 112.39%
  );
  width: 250px;
  min-height: 50px;
  width: fit-content;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f0f0f;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px;
  padding: 0 20px;
  letter-spacing: 0.72px;
  transition: all 0.2s;

  &:hover {
    background: linear-gradient(
      114deg,
      #f8eeb8 -4.17%,
      #dbb370 59.03%,
      #8e5b2d 112.39%
    );
    box-shadow: 0px 0px 11px 0px rgba(249, 131, 44, 0.5);
  }

  &:active {
    background: linear-gradient(
      114deg,
      #ffe297 -4.17%,
      #d29650 48.32%,
      #8e5b2d 104.97%
    );

    box-shadow: 0px 0px 11px 0px rgba(249, 131, 44, 0.5),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  @media screen and (max-width: 650px) {
    border-radius: 5px;
    min-height: 30px;
    min-width: 100px;
    font-size: 12px;
    margin-bottom: 30px;
  }
}

.slide_connected {
  justify-content: start;

  .slide_text[data-id="1"] {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 650px) {
  .slide_text[data-id="4"] {
    margin-bottom: 0;
  }
}

.custom_swiper_banner_pagination {
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 16px;
  display: flex;
  gap: 8px;
  transition: all 0.2s;

  @media screen and (max-width: 1280px) {
    bottom: 10px;
  }
  @media screen and (max-width: 650px) {
    bottom: 4px;
    gap: 4px;
  }
}

.wallet_wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  @media screen and (max-width: 650px) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    z-index: 1000 !important;
    height: 100%;
  }
}

.avaibleWallet_visible {
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

.extra_text {
  max-width: 550px;
  z-index: 10;
  color: #e9e9f5;
  font-family: var(--font-nunito-sans);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 1.44px;
  text-transform: uppercase;

  @media screen and (max-width: 1280px) {
    line-height: 37.2px;
    font-size: 24px;
    max-width: 550px;
  }

  @media screen and (max-width: 700px) {
    margin-top: 24px;
    font-size: 16px;
    line-height: 24.8px;
    max-width: 400px;
  }

  @media screen and (max-width: 650px) {
    margin-top: 4px;
    line-height: 12.4px;
    font-size: 8px;
    max-width: 200px;
  }
}

.tg_btn {
  z-index: 10;
  border-radius: 12px;
  background: linear-gradient(93deg, #15d4ee 0%, #009ec5 78.1%);
  box-shadow: 0px 0px 10px 0px #0069ca;
  height: 50px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 16.2px;
  letter-spacing: 0.72px;
  position: absolute;
  border: none;
  cursor: pointer;
  bottom: 77px;
  right: 170px;

  @media screen and (max-width: 1280px) {
    bottom: 30px;
    right: 30px;
  }

  @media screen and (max-width: 700px) {
    width: 235px;

    img {
      width: 17px;
      height: 17px;
    }
  }

  @media screen and (max-width: 650px) {
    font-size: 12px;
    line-height: 11px;
    height: 30px;
    border-radius: 5px;
    width: 165px;
    padding: 0 10px;
  }
}

.sub_text {
  color: #eaeaea;
  font-family: var(--font-source-sans-3);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  z-index: 10;
  line-height: 28px;
  letter-spacing: 0.8px;

  @media screen and (max-width: 1280px) {
    font-size: 18px;
    line-height: 25.2px;
  }

  @media screen and (max-width: 700px) {
    font-size: 16px;
    line-height: 22.4px;
  }

  @media screen and (max-width: 650px) {
    font-size: 10px;
    line-height: 14px;
  }

  &[data-id="7"] {
    max-width: 370px;

    @media screen and (max-width: 996px) {
      max-width: 280px;
    }
  }

  &[data-id="6"] {
    max-width: 545px;

    @media screen and (max-width: 996px) {
      max-width: 380px;
    }

    @media screen and (max-width: 650px) {
      max-width: 270px;
    }

    // @media screen and (max-width: 650px) {
    //   max-width: 200px;
    // }

    @media screen and (max-width: 500px) {
      max-width: 230px;
    }

    @media screen and (max-width: 420px) {
      max-width: 150px;
    }
  }
}

.xbot_btn {
  width: 200px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 16.2px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.72px;
  border-radius: 12px;
  z-index: 10;
  border: none;
  background: linear-gradient(87deg, #2681c6 0%, #005ba1 95.1%);
  box-shadow: 0px 0px 10px 0px #0069ca;
  transition: all 0.2s;
  position: absolute;
  bottom: 60px;
  left: 100px;

  &:hover {
    transition: all 0.2s;
    background: linear-gradient(87deg, #005ba1 0%, #005ba1 95.1%);
    box-shadow: 0px 0px 10px 0px #0069ca;
  }

  @media screen and (max-width: 1280px) {
    bottom: 30px;
    left: 44px;
  }

  @media screen and (max-width: 700px) {
    bottom: 40px;
  }

  @media screen and (max-width: 650px) {
    height: 30px;
    bottom: 16px;
    left: 10px;
    font-size: 10.8px;
    line-height: 9.72px;
    border-radius: 5px;
  }
}

.token_btns_block {
  display: flex;
  gap: 12px;
  position: absolute;
  bottom: 60px;
  left: 100px;

  @media screen and (max-width: 1280px) {
    bottom: 30px;
    left: 44px;
  }

  @media screen and (max-width: 700px) {
    bottom: 40px;
    width: calc(100% - 88px);
  }

  @media screen and (max-width: 650px) {
    bottom: 16px;
    left: 10px;
    width: calc(100% - 20px);
  }
}

.token_buy_btn {
  border-radius: 12px;
  background: linear-gradient(104deg, #7e4fd3 12.48%, #4c248a 92.02%);
  color: #fff;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  cursor: pointer;
  line-height: 16.2px;
  letter-spacing: 0.72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-transform: uppercase;
  border-radius: 12px;
  width: 215px;
  height: 50px;
  transition: all 0.2s;

  &:hover {
    background: linear-gradient(104deg, #4c248a 12.48%, #4c248a 92.02%);
  }

  @media screen and (max-width: 700px) {
    width: 100%;
  }

  @media screen and (max-width: 650px) {
    height: 30px;
    font-size: 10.8px;
    line-height: 9.72px;
    border-radius: 5px;
  }
}

.token_dextools_btn {
  border-radius: 12px;
  background: linear-gradient(90deg, #14d1ec 0%, #019ec5 100%);
  color: #fff;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  cursor: pointer;
  line-height: 16.2px;
  letter-spacing: 0.72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 215px;
  height: 50px;
  border: none;
  transition: all 0.2s;

  &:hover {
    background: linear-gradient(90deg, #019ec5 0%, #019ec5 100%);
  }

  @media screen and (max-width: 700px) {
    width: 100%;
  }

  @media screen and (max-width: 650px) {
    height: 30px;
    font-size: 10.8px;
    line-height: 9.72px;
    border-radius: 5px;
  }
}
