.registr_manual_section {
  width: 100%;
  margin: 100px 30px 20px 30px;
  padding: 16px;
  border-radius: 20px;
  background: #151515;
  position: relative;

  @media screen and (max-width: 700px) {
    padding: 16px 0;
  }

  @media screen and (max-width: 650px) {
    margin: 50px 0;
    border-radius: 0;
    background: #0f0f0f;
    box-sizing: border-box;
  }
}
.top_blur {
  z-index: 0;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50px;
  left: -50px;
  border-radius: 100%;
  background: #f1d09f;
  mix-blend-mode: difference;
  filter: blur(110px);
  background-size: contain;
  display: none;
}

.bottom_blur {
  z-index: 0;
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 50px;
  right: -50px;
  border-radius: 100%;
  background: #f1d09f;
  mix-blend-mode: difference;
  filter: blur(110px);
  background-size: contain;
  display: none;
}

@media screen and (max-width: 650px) {
  .bottom_blur,
  .top_blur {
    display: block;
  }
}
