.preload,
.preload:before,
.preload:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.preload {
  color: #fff;
  font-size: 0.625rem;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
  @media (max-width: 998px) {
    font-size: 0.438rem;
  }
  @media (max-width: 650px) {
    font-size: 0.375rem;
  }
}
.preload:before,
.preload:after {
  content: "";
  position: absolute;
  top: 0;
}
.preload:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.preload:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
