.td {
  width: auto;
  &:first-child {
    padding-left: 50px;
    @media (max-width: 1280px) {
      padding-left: 40px;
    }
    @media (max-width: 650px) {
      padding-left: 16px;
    }
  }
  // &:last-child {
  //   margin-left: auto;
  //   display: flex;
  //   padding-right: 50px;
  //   justify-content: end;
  //   @media (max-width: 1280px) {
  //     padding-right: 40px;
  //   }
  //   @media (max-width: 650px) {
  //     padding-right: 16px;
  //   }
  // }
  &:nth-child(6) {
  }
}

.blockies_ava_wrap {
  canvas {
    height: 30px !important;
    width: 3cap !important;
    @media screen and (max-width: 650px) {
      width: 20px !important;
      height: 20px !important;
    }
  }
}

.avatar,
.game_ico,
.wagerIco {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  @media screen and (max-width: 375px) {
    width: 20px;
    border-radius: 6px;
    height: 20px;
  }
}

.link_block {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 0;
  max-width: fit-content;
  @media (max-width: 650px) {
    padding: 10px 0;
    gap: 8px;
  }
}

.link_block_profit {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  min-width: 68px;
  @media (max-width: 650px) {
    gap: 7px;
    min-width: 66px;
  }
  @media (max-width: 376px) {
    min-width: 48px;
  }
}

.date,
.time,
.game,
.player_name,
.item {
  font-family: var(--font-source-sans-3);
  font-size: 0.875rem;
  color: #eaeaea;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.56px;
  @media (max-width: 650px) {
    font-size: 0.625rem;
    font-weight: 500;
  }
  &_wager,
  &_multiplier {
    font-family: var(--font-source-sans-3);
    font-size: 0.875rem;
    color: #eaeaea;
    line-height: 120%;
    letter-spacing: 0.56px;
    font-weight: 500;
  }
}

.time {
  @media (max-width: 650px) {
    color: var(--gray-57-e-night, #7e7e7e);
    font-size: 0.5rem;
  }
}

.date {
  @media screen and (max-width: 425px) {
    display: none;
  }
}

.profit {
  font-family: var(--font-source-sans-3);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.56px;
  color: var(--Live-bets-win, #29f061);
  text-overflow: ellipsis;
  @media screen and (max-width: 375px) {
    font-size: 0.625rem;
  }
}

.address {
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.56px;
  @media screen and (max-width: 1080px) {
    display: none;
  }
}

.td:nth-child(8) {
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 1280px) {
    justify-content: flex-end;
  }
}

.game_ico,
.avatar {
  @media screen and (max-width: 768px) {
    // display: none;
  }
}

.td:nth-child(4),
.td:nth-child(5),
.td:nth-child(6) {
  @media screen and (max-width: 1080px) {
    display: none;
  }
}

.td:nth-child(8) {
  @media screen and (max-width: 1280px) {
    display: flex;
    justify-content: flex-end;
  }
}

.td_mobile {
  padding-right: 16px;
  @media (min-width: 650px) {
    display: none !important;
  }
}
