.trade {
  border-radius: 20px;
  border: 1px;
  background: #181818;
  padding: 28px 0 40px 0;
  @media screen and (max-width: 3840px) {
    max-width: 100%;
    height: 116px;
    padding: 28px 20px 40px 20px;
  }
  @media screen and (max-width: 1280px) {
    max-width: 100%;
    height: 116px;
  }
  @media screen and (max-width: 864px) {
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    width: 100%;
    height: 260px;
    padding: 16px 0 32px 0;
  }


  .trade_title {
    display: flex;
    text-align: center;
    align-items: baseline;
    gap: 30px;
    padding: 0 20px;
    margin: 0 0 19px 0;
    @media(320px <=width <= 700px) {
      margin: 0 0 14px 0;
    }

    .title {
      font-family: var(--font-source-sans-3);
      font-size: 30px;
      font-weight: 600;
      line-height: 43px;
      letter-spacing: 0.04em;
      text-align: left;
      color: #EAEAEA;
      @media(320px <=width <= 700px) {
        font-size: 16px;
      }
    }

    .description {
      font-family: var(--font-source-sans-3);
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0.04em;
      text-align: left;
      color: #7E7E7E;
      @media(320px <=width <= 700px) {
        font-size: 10px;
      }
    }
  }

  .exchange_tokens {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 0 20px;
    @media screen and (max-width: 864px) {
      flex-direction: column;
      gap: 14px;
    }
    @media screen and (max-width: 768px) {
      height: fit-content;
      width: initial;
      padding: 16px 4px 32px 4px;
    }

    .arrow_right {
      @media screen and (max-width: 768px) {
        transition: 0.5s;
        transform: rotate(90deg);
      }

    }

    .initial_exchange {
      display: flex;
    }

    .total_exchange {
      display: flex;
      @media(320px <=width <= 700px) {
        margin-bottom: 8px;
      }
    }
  }
}

