.trade {
  border-radius: 20px;
  border: 1px;
  background: #181818;
  padding: 28px 50px 40px 50px;

  @media(320px <=width <= 700px) {
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    width: 288px;
    height: 235px;
    padding: 16px 16px 32px 16px;
  }
  @media(700px <=width <= 1280px) {
    width: 790px;
    height: 116px;
  }
  @media(1280px <=width <= 3840px) {
    width: 1204px;
    height: 116px;
  }

  .trade_title {
    display: flex;
    text-align: center;
    align-items: baseline;
    gap: 30px;
    margin: 0 0 19px 0;
    @media(320px <=width <= 700px) {
      margin: 0 0 14px 0;
    }
    .title {
      font-family: var(--font-source-sans-3);
      font-size: 30px;
      font-weight: 600;
      line-height: 43px;
      letter-spacing: 0.04em;
      text-align: left;
      color: #EAEAEA;
      @media(320px <=width <= 700px) {
        font-size: 16px;
      }
    }

    .description {
      font-family: var(--font-source-sans-3);
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0.04em;
      text-align: left;
      color: #7E7E7E;
      @media(320px <=width <= 700px) {
        font-size: 10px;
      }
    }
  }

  .exchange_tokens {
    display: flex;
    align-items: center;
    gap: 20px;
    @media(320px <=width <= 700px) {
      flex-direction: column;
      gap: 8px;
    }

    .arrow_right {

    }

    .initial_exchange {
      display: flex;
    }

    .total_exchange {
      display: flex;
      @media(320px <=width <= 700px) {
        margin-bottom: 8px;
      }
    }
  }
}

