.trade {
  width: 1204px;
  height: 116px;
  border-radius: 20px;
  border: 1px;
  background: #181818;
  padding: 28px 50px 40px 50px;

  .trade_title {
    display: flex;
    text-align: center;
    align-items: baseline;
    gap: 30px;
    margin: 0 0 19px 0;

    .title {
      font-family: var(--font-source-sans-3);
      font-size: 30px;
      font-weight: 600;
      line-height: 43px;
      letter-spacing: 0.04em;
      text-align: left;
      color: #EAEAEA;
    }

    .description {
      font-family: var(--font-source-sans-3);
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0.04em;
      text-align: left;
      color: #7E7E7E;
    }
  }

  .exchange_tokens {
    display: flex;
    align-items: center;
    gap: 20px;

    .arrow_right {

    }

    .initial_exchange {
      display: flex;
    }

    .total_exchange {
      display: flex;
    }
  }
}

