.about_game {
  position: relative;
  padding: 8px 312px 8px 40px;
  border-top: 2px solid var(--black-10-f, #0f0f0f);
  background: var(--gray-218, #181818);
  margin-bottom: 40px;
  border-radius: 0px 0px 20px 20px;
  border-top: 2px solid var(--black-10-f, #0f0f0f);
}

.about_game_button {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 12px;
  background: var(--gray-3228, #282828);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 9px 8px 20px;
  color: var(--white-1-ea, #eaeaea);
  text-align: center;
  font-family: var(--font-source-sans-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 16.8px */
  letter-spacing: 0.56px;
  img {
    padding: 13px 11px;
  }
}

.about_game_text {
  // position: absolute;
  color: #fff;
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.8px;
  transition: all 0.5s;
}

.dice_close {
  max-height: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
  line-height: 0%;
}
.dice_open {
  max-height: 400px;
  opacity: 1;
  z-index: 1;
  transition: all 0.5s;
  line-height: 140%;
  padding: 20px 0 40px 0;
}
