
.total_container {
    display: flex;
    gap: 20px;
    align-content: space-around;
    justify-items: center;
    justify-content: center;
}

.total_item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background: #151515;
    width: 500px ;
    height: 263px  ;  

    
}

.total_item_bg_image{
    background: #F3BD6B33;
    mix-blend-mode: hard-light;
    border-radius: 100px;
    filter: blur(50px); 
    width: 163px;   
    height: 163px;
    position: relative;
    left:60px;
}
.total_item_image{
   display: flex;
}

.image{
    // display: flex;
    margin: 0px;
    width: 126px; 
    height: 126px;  
    position:relative;
    bottom: 45px; 
    right: 80px;
    justify-items: center;
}

.description {
    color: var(--White-1, #EAEAEA);
    text-align: center;
    font-family: var(--font-nunito-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 128.16%;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    position: relative;
    bottom: 60px;
}
.statistic {
    color: #E5C787;
    text-align: center;
    font-family: var(--font-nunito-sans);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 128.16%;
    // padding-top: 20px;
    /* 51.264px */
    letter-spacing: 1.6px;
    text-transform: uppercase;
    position: relative;
    bottom: 40px;
}

@media( 650px <=width <= 1280px) {
    .total_container{
    margin-left: 270px;
    margin-right: 270px;
    }
    .total_item{
        width: 232px;
        height: 154px;
        flex-shrink: 0;
    }
    .total_item_bg_image {
        width: 120px;
        height: 100.123px;
        left:40px;
        }
    .statistic {
        font-size: 25px;
        bottom:40px;
    }.description {
        font-size: 14px;
        bottom: 50px;
        
    }
    .image {
        right:60px;
        bottom:30px;
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 650px) {

        .total_container {
            flex-direction: column;
            gap:10px;
        }

        .total_item {
            width: 288px;
            height: 126px;
            flex-shrink: 0;
        }
        .total_item_bg_image {
            width: 120px;
            height: 100.123px;
            top: 10px;
            left: 30px;
        }
        .image{
            margin-top: 14px;
            margin-bottom: 12px;
            width: 40px;
            height: 40px;
            top: 20px;
            right: 60px;
        }

       
         .description{
            font-size: 12px;
            margin-top: 24px;
            bottom:40px;
            
        } 
        .statistic{
            font-size: 20px;
            margin-top: 10px;
            bottom:40px;

        }
}


