.total_container {
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
}

.total_item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background: #151515;
    width: 100%;
    height: 263px;  
}

.total_item_bg_image{
    background: #F3BD6B33;
    mix-blend-mode: hard-light;
    border-radius: 100px;
    filter: blur(50px);
    width: 100%;
    height: 163px;
    
}
.total_item_image{
    height: 163px;
    justify-content: center;
        align-items: center;
}

.image{
     width: 126px;
    height: 126px;
    position: relative;
    bottom: 200px;
    
}

.description {
    color: var(--White-1, #EAEAEA);
    text-align: center;
    font-family: var(--font-nunito-sans);
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 128.16%;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    position: relative;
    bottom: 30px;
    
}

.statistic {
    color: #E5C787;
    font-family: var(--font-nunito-sans);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 128.16%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    position: relative;
    bottom: 10px;
}

@media( 650px <=width <= 1280px) {
    .total_item{
        height: 154px;
    }
    .total_item_bg_image {
        width: 120px;
        height: 100.123px;
    }
    .description {
        font-size: 14px;
        bottom: 100px;
    }
    .statistic {
        font-size: 25px; 
        bottom: 100px;
    }
    
    .image {
        width: 70px;
        height: 70px;
        bottom: 120px;
        left: 20px;
    }
}

@media (max-width: 650px) {
        .total_container {
            flex-direction: column;
            gap: 10px;
        }

        .total_item {
            height: 126px;
        }
        .total_item_bg_image {
            height: 100.123px;
        }
        .image{
            width: 40px;
            height: 40px;
            bottom: 80px;
        }

         .description{
            font-size: 12px;
            bottom:70px;
        } 
        .statistic{
            font-size: 20px;
            bottom: 70px;
        }
}


