.wrapp {
  height: 100%;
}

// .mines_block {
//   bottom: 78px !important;
//   @media (max-width: 650px) {
//     bottom: 57px !important;
//   }
// }

.mines_table_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  @media (max-width: 650px) {
    // justify-content: flex-end;
  }
  .mines_table_background {
    width: 100%;
    // height: calc(100% - 68px);
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -1;
    // @media (max-width: 1280px) {
    //   height: calc(100% - 50px);
    // }
    // @media (max-width: 650px) {
    //   height: 100% !important;
    // }
    .mines_table_background_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 0 0 0;
      @media screen and (max-width: 996px) {
        border-radius: 20px 20px 0 0 !important;
      }
      @media screen and (max-width: 650px) {
        border-radius: 0 !important;
      }
    }
  }
  .mines_table {
    box-sizing: border-box;
    display: grid;
    width: 553.701px;
    height: 546px;
    border-radius: 12px;
    background: var(--black-10-f-night, #0f0f0f);
    margin: 0 auto;
    // margin-top: 89px;
    margin-top: 44px;
    padding: 16px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
    @media (max-width: 1920px) {
      width: 496px;
      height: 496px;
      // margin-top: 110px;
      margin-top: 14px;
    }
    @media (max-width: 1280px) {
      width: 329px;
      height: 325px;
      padding: 10px;
      gap: 10px;
      // margin-top: 52px;
      margin-top: 22px;
    }
    @media (max-width: 650px) {
      width: 226px;
      height: 226px;
      padding: 6px;
      gap: 6px;
      margin-top: 0;
      // margin-top: 50px;
    }
  }
}

.mines_svg_icon {
  width: 20px;
  height: 20px;
  @media screen and (max-width: 996px) {
    width: 10px;
    height: 10px;
  }
  @media screen and (max-width: 650px) {
    width: 7px;
    height: 7px;
  }
}

.mine {
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  width: 90px;
  height: 90px;
  @media (max-width: 1920px) {
    width: 80px;
    height: 80px;
  }
  @media (max-width: 1280px) {
    width: 53px;
    height: 53px;
  }
  @media (max-width: 650px) {
    width: 38px;
    height: 38px;
  }
}

.mine_main {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5;
  &.mine_selected {
    z-index: 0;
  }
  @media (max-width: 1920px) {
    width: 80px;
    height: 80px;
  }
  @media (max-width: 1280px) {
    width: 53px;
    height: 53px;
  }
  @media (max-width: 650px) {
    width: 38px;
    height: 38px;
  }
}

.mine_green {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  z-index: -1;
  transition: all 0.5;
  &.mine_selected {
    z-index: 1;
  }
  @media (max-width: 1920px) {
    width: 80px;
    height: 80px;
  }
  @media (max-width: 1280px) {
    width: 53px;
    height: 53px;
  }
  @media (max-width: 650px) {
    width: 38px;
    height: 38px;
  }
}

.bottom_wrapper {
  width: 100%;
  background: var(--gray-218-night, #181818);
  // margin-bottom: 5px;
  position: relative;
  margin-top: auto;
}

.bottom {
  margin: 0 auto;
  height: 68px;
  width: 100%;
  display: grid;
  position: relative;
  // overflow: hidden;
  align-items: center;
  @media (max-width: 1280px) {
    height: 50px;
  }
  @media (max-width: 650px) {
    height: 47px;
  }
}
.swiper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-height: 100vh;
  min-height: 0;
  min-width: 0;
  width: calc(100% - 278px);
  @media (max-width: 1920px) {
    width: calc(100% - 208px);
  }
  @media (max-width: 1280px) {
    width: calc(100% - 180px);
  }
  @media (max-width: 650px) {
    width: calc(100% - 44px);
  }
}

.swiper_slide {
  box-sizing: border-box;
  margin: auto 5px;
  border-radius: 12px;
  border: 1px solid var(--gray-320-night, #202020);
  background: var(--gray-218-night, #181818);
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--gray-57-e-night, #7e7e7e);
  text-align: center;
  font-family: var(--font-source-sans-3);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  text-align: center;
  @media (max-width: 650px) {
    padding-left: 10px;
  }
  span {
    position: absolute;
    font-size: 0.875rem;
    top: 2px;
    left: 4px;
    @media (max-width: 650px) {
      font-size: 0.6875rem;
      letter-spacing: 0.48px;
    }
  }

  @media (max-width: 1920px) {
    width: 70px;
    height: 40px;
  }
  @media (max-width: 1280px) {
    width: 70px;
    height: 36px;
  }
  @media (max-width: 650px) {
    width: 52px;
    height: 31px;
    margin: auto 2px;
    border-radius: 5px;
    letter-spacing: 0.48px;
    font-size: 0.75rem;
  }
}
.arr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-color: #363636;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  @media (max-width: 650px) {
    border-radius: 2px;
    width: 15px;
    height: 15px;
  }
}

.arr_prev {
  left: 40px;
  @media (max-width: 1280px) {
    left: 20px;
  }
  @media (max-width: 650px) {
    left: 4px;
  }
}

.arr_next {
  right: 40px;
  @media (max-width: 1280px) {
    right: 20px;
  }
  @media (max-width: 650px) {
    right: 4px;
  }
}

.arr_icon_right {
  transform: rotate(180deg);
}

.arr_icon {
  width: 8px;
  height: 14px;
  @media (max-width: 650px) {
    width: 4px;
    height: 7px;
  }
}

.total_container {
  position: absolute;
  bottom: 78px;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: var(--font-source-sans-3);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  @media (max-width: 1200px) {
    font-size: 0.75rem;
  }
  @media (max-width: 650px) {
    font-size: 0.625rem;
    letter-spacing: 0.4px;
    gap: 0px;
    // bottom: 57px;
  }
}

.total_won {
  color: #4ed26c;
}

.total_lost {
  color: #fc3c37;
}

.balls_arr {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  // width: 800px;
  width: (calc(100% - 398px));
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background-color: transparent;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media (max-width: 1980px) {
    width: (calc(100% - 358px));
  }
  @media (max-width: 1280px) {
    width: (calc(100% - 262px));
  }
  @media (max-width: 650px) {
    top: 10px;
    width: (calc(100% - 20px));
  }
}

.multiplier_value {
  color: var(--white-1-ea-night, #eaeaea);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  font-family: var(--font-nunito-sans);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: 128.16%; /* 23.069px */
  letter-spacing: 0.72px;
  // padding: 8.5px 19px;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 40px;
  max-width: 60px;
  max-height: 40px;
  @media (max-width: 1280px) {
    min-width: 48px;
    min-height: 24px;
    max-width: 48px;
    max-height: 24px;
    width: 48px;
    height: 24px;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 128.16%; /* 17.942px */
    letter-spacing: 0.56px;
  }
  @media (max-width: 650px) {
    font-size: 0.75rem;
    letter-spacing: 0.48px;
  }
}

.multiplier_positive {
  background-color: #1ea42b;
}

.multiplier_negative {
  background: var(--switch-in-game-2-e-night, #2e2e2e);
}

.mine_animation.style-0 {
  animation: shake_0 0.4s ease-in-out infinite;
}
.mine_animation.style-1 {
  animation: shake_1 0.4s ease-in-out infinite;
}
.mine_animation.style-2 {
  animation: shake_2 0.4s ease-in-out infinite;
}
.mine_animation.style-3 {
  animation: shake_3 0.4s ease-in-out infinite;
}
.mine_animation.style-4 {
  animation: shake_4 0.4s ease-in-out infinite;
}
.mine_animation.style-5 {
  animation: shake_5 0.4s ease-in-out infinite;
}
.mine_animation.style-6 {
  animation: shake_6 0.4s ease-in-out infinite;
}
.mine_animation.style-7 {
  animation: shake_7 0.4s ease-in-out infinite;
}
.mine_animation.style-8 {
  animation: shake_8 0.4s ease-in-out infinite;
}
.mine_animation.style-9 {
  animation: shake_9 0.4s ease-in-out infinite;
}
.mine_animation.style-10 {
  animation: shake_10 0.4s ease-in-out infinite;
}
.mine_animation.style-11 {
  animation: shake_11 0.4s ease-in-out infinite;
}
.mine_animation.style-12 {
  animation: shake_12 0.4s ease-in-out infinite;
}
.mine_animation.style-13 {
  animation: shake_13 0.4s ease-in-out infinite;
}
.mine_animation.style-14 {
  animation: shake_14 0.4s ease-in-out infinite;
}
.mine_animation.style-15 {
  animation: shake_15 0.4s ease-in-out infinite;
}
.mine_animation.style-16 {
  animation: shake_16 0.4s ease-in-out infinite;
}
.mine_animation.style-17 {
  animation: shake_17 0.4s ease-in-out infinite;
}
.mine_animation.style-18 {
  animation: shake_18 0.4s ease-in-out infinite;
}
.mine_animation.style-19 {
  animation: shake_19 0.4s ease-in-out infinite;
}
.mine_animation.style-20 {
  animation: shake_20 0.4s ease-in-out infinite;
}
.mine_animation.style-21 {
  animation: shake_21 0.4s ease-in-out infinite;
}
.mine_animation.style-22 {
  animation: shake_22 0.4s ease-in-out infinite;
}
.mine_animation.style-23 {
  animation: shake_23 0.4s ease-in-out infinite;
}
.mine_animation.style-24 {
  animation: shake_24 0.4s ease-in-out infinite;
}

@keyframes shake_0 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  10% {
    transform: translate(1px, -1px);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(-1px, -1px);
  }
  80% {
    transform: translate(1px, -1px);
  }
  90% {
    transform: translate(-1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_1 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  10% {
    transform: translate(-1px, -1px);
  }
  40% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  60% {
    transform: translate(-1px, -1px);
  }
  70% {
    transform: translate(-1px, -1px);
  }
  80% {
    transform: translate(1px, 1px);
  }
  90% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_2 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(1px, -1px);
  }
  10% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  70% {
    transform: translate(-1px, 1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  90% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_3 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, -1px);
  }
  10% {
    transform: translate(1px, -1px);
  }
  10% {
    transform: translate(1px, 1px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(1px, -1px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  70% {
    transform: translate(-1px, -1px);
  }
  80% {
    transform: translate(1px, 1px);
  }
  90% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_4 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  10% {
    transform: translate(1px, 4px);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(4px, -1px);
  }
  80% {
    transform: translate(1px, 1px);
  }
  90% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_5 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  10% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(1px, 1px);
  }
  60% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(-1px, 1px);
  }
  80% {
    transform: translate(1px, 1px);
  }
  90% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_6 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  10% {
    transform: translate(-1px, -1px);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(1px, 1px);
  }
  80% {
    transform: translate(1px, 1px);
  }
  90% {
    transform: translate(-1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_7 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, -1px);
  }
  10% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(1px, -1px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  60% {
    transform: translate(-1px, -1px);
  }
  70% {
    transform: translate(-1px, 1px);
  }
  80% {
    transform: translate(1px, -1px);
  }
  90% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_8 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  10% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, -1px);
  }
  40% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-1.5px, -1.5px);
  }
  60% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(-1px, 1.1px);
  }
  80% {
    transform: translate(1px, -1px);
  }
  90% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_9 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  10% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(1px, 1px);
  }
  40% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(1px, -1px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  70% {
    transform: translate(-1.1px, -1px);
  }
  80% {
    transform: translate(1px, 1.4px);
  }
  90% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_10 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(1px, 1px);
  }
  40% {
    transform: translate(-1.1px, -1px);
  }
  50% {
    transform: translate(1px, -1.8px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  70% {
    transform: translate(-1px, 1px);
  }
  80% {
    transform: translate(1.1px, -1px);
  }
  90% {
    transform: translate(-1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_11 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1.1px, 1px);
  }
  10% {
    transform: translate(1.1px, 1x);
  }
  10% {
    transform: translate(-1.1px, -1px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(1px, 1px);
  }
  60% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(1.1px, 1.1px);
  }
  80% {
    transform: translate(1px, 1px);
  }
  90% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_12 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(1.4px, 1px);
  }
  10% {
    transform: translate(1px, 1.4px);
  }
  10% {
    transform: translate(1px, 1px);
  }
  40% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  60% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(-1px, 1.1px);
  }
  80% {
    transform: translate(1.4px, -1px);
  }
  90% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_13 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  10% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(1px, -1.1px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 1px);
  }
  60% {
    transform: translate(-1px, 1px);
  }
  70% {
    transform: translate(1.1px, 1.1px);
  }
  80% {
    transform: translate(-1.1px, -1.1px);
  }
  90% {
    transform: translate(1px, 1.4px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_14 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1.4px, -1px);
  }
  10% {
    transform: translate(1px, 1.5px);
  }
  40% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  70% {
    transform: translate(-1px, -1px);
  }
  80% {
    transform: translate(1px, -1px);
  }
  90% {
    transform: translate(-1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_15 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  10% {
    transform: translate(1px, -1.1px);
  }
  10% {
    transform: translate(1px, 1px);
  }
  40% {
    transform: translate(-1px, -1px);
  }
  50% {
    transform: translate(-1px, 0.5px);
  }
  60% {
    transform: translate(1.1px, -1px);
  }
  70% {
    transform: translate(-0.1px, 1px);
  }
  80% {
    transform: translate(1px, -1.1px);
  }
  90% {
    transform: translate(0.1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_16 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  10% {
    transform: translate(-1.1px, -1px);
  }
  10% {
    transform: translate(-1px, 1.5px);
  }
  40% {
    transform: translate(1px, 1px);
  }
  50% {
    transform: translate(-1.7px, -1px);
  }
  60% {
    transform: translate(0px, -1px);
  }
  70% {
    transform: translate(-1px, -1.1px);
  }
  80% {
    transform: translate(1px, -1.1px);
  }
  90% {
    transform: translate(-1.1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_17 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1.1px, 1px);
  }
  10% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, -1.1px);
  }
  40% {
    transform: translate(1.1px, -1px);
  }
  50% {
    transform: translate(1px, -1.1px);
  }
  60% {
    transform: translate(-1px, 1px);
  }
  70% {
    transform: translate(0, -1px);
  }
  80% {
    transform: translate(1px, -1.1px);
  }
  90% {
    transform: translate(-1.1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_18 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0px, 1px);
  }
  10% {
    transform: translate(1px, -1.1px);
  }
  10% {
    transform: translate(-1px, 1.1px);
  }
  40% {
    transform: translate(1.4px, -1px);
  }
  50% {
    transform: translate(-1.1px, -1.1px);
  }
  60% {
    transform: translate(1px, -1.5px);
  }
  70% {
    transform: translate(-1.1px, -1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  90% {
    transform: translate(-1.6px, -1.6px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_19 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1.1px, 1.1px);
  }
  10% {
    transform: translate(1px, -1.1px);
  }
  10% {
    transform: translate(0px, 1.1px);
  }
  40% {
    transform: translate(1.4px, -1.1px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(0px, 1.1px);
  }
  70% {
    transform: translate(-1px, -1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  90% {
    transform: translate(1.1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_20 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, -1px);
  }
  10% {
    transform: translate(-1px, 0px);
  }
  10% {
    transform: translate(-1.1px, 1.1px);
  }
  40% {
    transform: translate(1.4px, -1.9px);
  }
  50% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1.1px, 1px);
  }
  70% {
    transform: translate(-1.1px, -1.1px);
  }
  80% {
    transform: translate(1px, 0px);
  }
  90% {
    transform: translate(-0, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_21 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1.1px, 1px);
  }
  10% {
    transform: translate(1px, -1.1px);
  }
  10% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(1px, -1px);
  }
  60% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(-1.1px, 1px);
  }
  80% {
    transform: translate(1px, 0);
  }
  90% {
    transform: translate(1px, 1.1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_22 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1px, 0);
  }
  10% {
    transform: translate(1px, -1px);
  }
  10% {
    transform: translate(-1.1px, 1px);
  }
  40% {
    transform: translate(0, 1.7px);
  }
  50% {
    transform: translate(1px, -1.1px);
  }
  60% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(-1px, 1.1px);
  }
  80% {
    transform: translate(1.1px, -1px);
  }
  90% {
    transform: translate(-1.1px, 1.8px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_23 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1.5px, 1px);
  }
  10% {
    transform: translate(-1px, 1.1px);
  }
  10% {
    transform: translate(0, -1.1px);
  }
  40% {
    transform: translate(-1.1px, -1.1px);
  }
  50% {
    transform: translate(1px, 1.4px);
  }
  60% {
    transform: translate(-1.1px, 0);
  }
  70% {
    transform: translate(-1px, -1px);
  }
  80% {
    transform: translate(1px, 1.1px);
  }
  90% {
    transform: translate(1px, 1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes shake_24 {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1.1px, 1px);
  }
  10% {
    transform: translate(1px, -1px);
  }
  10% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(1px, 0);
  }
  50% {
    transform: translate(-1.1px, -1.4px);
  }
  60% {
    transform: translate(1px, -1px);
  }
  70% {
    transform: translate(-1.1px, 0);
  }
  80% {
    transform: translate(1.4px, 1.1px);
  }
  90% {
    transform: translate(-1px, -1px);
  }
  100% {
    transform: translate(0, 0);
  }
}
