.wrapp {
  height: 100%;
}

.mines_table_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .mines_table_background {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -1;
    .mines_table_background_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 0 0 20px;
      @media screen and (max-width: 996px) {
        border-radius: 20px 20px 0 0 !important;
      }
      @media screen and (max-width: 650px) {
        border-radius: 0 !important;
      }
    }
  }
  .mines_table {
    display: grid;
    width: 553.701px;
    height: 546px;
    border-radius: 12px;
    background: var(--black-10-f-night, #0f0f0f);
    margin: auto;
    padding: 16px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
    @media (max-width: 1920px) {
      width: 496px;
      height: 496px;
    }
    @media (max-width: 1280px) {
      width: 329px;
      height: 325px;
      padding: 10px;
      gap: 10px;
    }
    @media (max-width: 650px) {
      width: 226px;
      height: 226px;
      padding: 6px;
      gap: 6px;
    }
  }
}

.mines_svg_icon {
  width: 20px;
  height: 20px;
  @media screen and (max-width: 996px) {
    width: 10px;
    height: 10px;
  }
  @media screen and (max-width: 650px) {
    width: 7px;
    height: 7px;
  }
}

.mine {
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  width: 90px;
  height: 90px;
  background: black;
  @media (max-width: 1920px) {
    width: 80px;
    height: 80px;
  }
  @media (max-width: 1280px) {
    width: 53px;
    height: 53px;
  }
  @media (max-width: 650px) {
    width: 38px;
    height: 38px;
  }
}

.mine_animation {
  animation: shake 0.4s ease-in-out infinite;
}
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-3px, 3px);
  }
  20% {
    transform: translate(3px, -3px);
  }
  30% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(3px, -3px);
  }
  50% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(3px, -3px);
  }
  70% {
    transform: translate(-3px, -3px);
  }
  80% {
    transform: translate(3px, -3px);
  }
  90% {
    transform: translate(-3px, 3px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.mine_main {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5;
  &.mine_selected {
    z-index: 0;
  }
  @media (max-width: 1920px) {
    width: 80px;
    height: 80px;
  }
  @media (max-width: 1280px) {
    width: 53px;
    height: 53px;
  }
  @media (max-width: 650px) {
    width: 38px;
    height: 38px;
  }
}

.mine_green {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
  z-index: -1;
  transition: all 0.5;
  &.mine_selected {
    z-index: 1;
  }
  @media (max-width: 1920px) {
    width: 80px;
    height: 80px;
  }
  @media (max-width: 1280px) {
    width: 53px;
    height: 53px;
  }
  @media (max-width: 650px) {
    width: 38px;
    height: 38px;
  }
}

.bottom_wrapper {
  width: 100%;
  background: var(--gray-218-night, #181818);
  margin-bottom: 5px;
  position: relative;
}

.bottom {
  margin: 0 auto;
  height: 68px;
  width: 100%;
  display: grid;
  position: relative;
  overflow: hidden;
  align-items: center;
  width: calc(100% - 278px);
  @media (max-width: 1920px) {
    width: calc(100% - 208px);
  }
  @media (max-width: 1280px) {
    width: calc(100% - 180px);
  }
  @media (max-width: 650px) {
    width: calc(100% - 44px);
  }
}
.swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  min-height: 0;
  min-width: 0;
  width: auto;
}

.swiper_slide {
  box-sizing: border-box;
  margin: auto 5px;
  border-radius: 12px;
  border: 1px solid var(--gray-320-night, #202020);
  background: var(--gray-218-night, #181818);
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--gray-57-e-night, #7e7e7e);
  text-align: center;
  font-family: Source Sans 3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  text-align: center;
  span {
    position: absolute;
    font-size: 14px;
    top: 2px;
    left: 4px;
    @media (max-width: 650px) {
      font-size: 12px;
    }
  }

  @media (max-width: 1920px) {
    width: 70px;
    height: 40px;
  }
  @media (max-width: 1280px) {
    width: 70px;
    height: 36px;
  }
  @media (max-width: 650px) {
    width: 52px;
    height: 31px;
    margin: auto 2px;
    border-radius: 5px;
    font-size: 12px;
  }
}
.arr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-color: #363636;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @media (max-width: 650px) {
    border-radius: 2px;
    width: 15px;
    height: 15px;
  }
}

.arr_prev {
  left: 40px;
  @media (max-width: 1280px) {
    left: 20px;
  }
  @media (max-width: 650px) {
    left: 4px;
  }
}

.arr_next {
  right: 40px;
  @media (max-width: 1280px) {
    right: 20px;
  }
  @media (max-width: 650px) {
    right: 4px;
  }
}

.arr_icon_right {
  transform: rotate(180deg);
}

.arr_icon {
  width: 8px;
  height: 14px;
  @media (max-width: 650px) {
    width: 4px;
    height: 7px;
  }
}
