.feedback_section_wrap {
  width: 100%;
  border: 1px solid #ffe09d;
  background: #252019;
  box-shadow: 0px 0px 14px 0px #9c740e inset, 0px 0px 14.8px 0px #9c740e;
  display: flex;
  justify-content: center;
  border-radius: 12px;
}

.feedback_section_body {
  width: 100%;
  max-width: 760px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSide_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feedback_section_title {
  color: #ffbe26;
  font-family: var(--font-nunito-sans);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 900;
  line-height: 19px;
  letter-spacing: 0.9px;
  display: block;
  margin-bottom: 10px;
  z-index: 10;
}

.feedback_section_text {
  z-index: 10;
  color: #fff;
  font-family: var(--font-nunito-sans);
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  max-width: 400px;
  letter-spacing: 0.09px;
}

.contactUs_btn {
  z-index: 10;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 8px;
  background: linear-gradient(90deg, #ffd77c 0%, #c37733 107.41%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  max-width: 120px;
  color: #0f0f0f;
  font-family: var(--font-nunito-sans);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bg_image_mobile {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  height: 100%;
}

.bg_image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
  height: 100%;
}

@media screen and (max-width: 650px) {
  .feedback_section_wrap {
    margin: 20px 16px;
    width: calc(100% - 32px);
  }
  .feedback_section_body {
    flex-direction: column;
    align-items: start;
  }
  .contactUs_btn {
    border-radius: 5px;
  }
  .bg_image {
    display: none;
  }
  .bg_image_mobile {
    display: block;
  }
}
