.upper_controlls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-neue-machina);
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    height: 24px;
}

.roll_over{
    height:100%;
}

.roll_flip{
    opacity: 75%;
}

.roll_flip:hover{
    cursor:pointer;
    opacity: 100%;
}

.bottom_controlls{
    color: #FFFFFF;
    height: 24px;
    width: 60px;
    line-height: 22.14px;
}

.over_input{
    -webkit-appearance: none;
    appearance: none;
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-size: 18px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    height: 30px;
    border: none;
    border-radius: 5px;
    color:#FFFFFF;
    padding-left: 5px;
}