.mines_container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  width: calc(100% - 40px);
  padding: 100px 20px 0 20px;
  @media screen and (max-width: 1280px) {
    left: 0;
    right: 0;
    width: 100%;
    top: 76px;
    padding-left: 20px;
  }
  @media screen and (max-width: 650px) {
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 56px;
    padding-left: 0;
    padding-right: 0;
  }
}

.manual_btns {
  display: flex;
  border-radius: 12px;
  background: var(--gray-320-night, #202020);
  margin-bottom: 12px;
}

.manual_btn {
  border-radius: 12px;
  background: var(--gray-320-night, #202020);
  display: flex;
  height: 40px;
  padding: 8px 26px;
  justify-content: center;
  align-items: center;
  color: var(--gray-57-e-night, #7e7e7e);
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  transition: all 0.5s;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.manual_btn_active {
  background: var(--switch-in-game-2-e-night, #2e2e2e);
  color: var(--white-1-ea-night, #eaeaea);
}

.mobile {
  @media (max-width: 996px) {
    display: none;
  }
}

.manual_block {
  display: none !important;
  @media (max-width: 996px) {
    display: flex !important;
  }
}

.mines_sound {
  bottom: 78px !important;
}

.mine_height {
  min-height: 770px;
  @media (max-width: 1280px) {
    min-height: 457px;
  }
  @media (max-width: 650px) {
    min-height: 373px;
  }
}

.dots_black {
  margin-bottom: 13px !important;
}

.button_active {
  background: linear-gradient(
      114deg,
      #f8eeb8 -4.17%,
      #dbb370 59.03%,
      #8e5b2d 112.39%
    ),
    #121212;
  color: #0f0f0f;

  &:hover {
    background: linear-gradient(
      114deg,
      #f8eeb8 -4.17%,
      #dbb370 59.03%,
      #8e5b2d 112.39%
    );
    box-shadow: 0px 0px 11px 0px rgba(249, 131, 44, 0.5);
  }

  &:active {
    background: linear-gradient(
      114deg,
      #ffe297 -4.17%,
      #d29650 48.32%,
      #8e5b2d 104.97%
    );
    box-shadow: 0px 0px 11px 0px rgba(249, 131, 44, 0.5),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.button_inactive {
  border: 1px solid var(--outline-3-e-night, #3e3e3e);
  background: var(--gray-3125-night, #252525);
  color: var(--gray-697-night, #979797);

  &:hover {
    cursor: default;
  }
}

.connect_wallet_btn {
  @media screen and (max-width: 996px) {
    display: none !important;
  }
}
