.image {
  //overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 16px 34px 32px 36px;
  border-left: 1px solid #252525;
  @media screen and (max-width: 3840px) {
    max-width: 100%;
  }
  @media screen and (max-width: 650px) {
    padding: 11px 16px 20px;
    border-left: none;
  }
  .image_wrapper {
    position: relative;
    z-index: 1;
    .bronze {
      width: 147px;
      height: 147px;
      @media (max-width: 1280px) {
      }
      @media (max-width: 650px) {
        margin: 0;
        width: 55px;
        height: 55px;
      }
    }
  }

  .blur_background {
    position: absolute;
    width: 441px;
    height: 240px;
    border-radius: 441px;
    background: rgba(243, 189, 107, 0.1);
    mix-blend-mode: hard-light;
    filter: blur(100px);
    right: -126px;
    top: 0;
    z-index: 0;
    @media screen and (max-width: 650px) {
      width: 167px;
      height: 91px;
      right: -100px;
      fill: rgba(243, 189, 107, 0.1);

      mix-blend-mode: hard-light;
      filter: blur(50px);
    }
  }

  .title {
    font-family: var(--font-nunito-sans);
    font-size: 1rem;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #e5c787;
    text-transform: uppercase;
    // margin-bottom: 6px;
    white-space: nowrap;
    @media screen and (max-width: 768px) {
      font-size: 0.75rem;
    }
    @media screen and (max-width: 650px) {
      margin-top: -12px;
      font-size: 0.625rem;
    }
    @media screen and (max-width: 425px) {
      font-size: 0.375rem;
    }
  }
}
