.container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  width: calc(100% - 302px);
  position: absolute;
  left: 286px;
  right: 50px;
  top: 200px;

  @media screen and (max-width: 1280px) {
    position: relative;
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
  }
  @media screen and (max-width: 650px) {
    left: 0;
    right: 0;
    width: 100%;
    top: 76px;
  }

  .swap {
    margin-bottom: 20px;
  }

  .bets_history {
    margin-bottom: 20px;
  }
}

.grid_container {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 790px 510px;
  grid-template-rows: 255px auto 392px;

  .card_container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .profile_container {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .recently_container {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }

}
