.container {
  padding: 115px 50px 132px 50px;
  .swap {
    margin-bottom: 20px;
  }

  .bets_history {
    margin-bottom: 20px;
  }
}

.grid_container {
  display: grid;
  grid-template-columns: 790px 510px;
  grid-template-rows: 255px auto 392px;

  .card_container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .profile_container {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .recently_container {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }


}
