.messanger_fallback_wrap {
  height: calc(100% - 56px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 130;
  background: #151515;
}

.messanger_fallback_header {
  border-bottom: 1px solid #252525;
  background: #1a1a1a;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messanger_title {
  text-transform: capitalize;
  color: #363636;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.64px;
}

.header_rightBlock {
  display: flex;
  align-items: center;
}

.header_square {
  border-radius: 5px;
  background: var(--gray-3125-night, #252525);
  width: 22px;
  height: 13px;
}

.header_group {
  display: flex;
  align-items: center;
}

.header_group {
  display: flex;
  align-items: center;
}

.header_group_item {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  &:nth-child(1) {
    background: #252525;
    position: relative;
    z-index: 10;
    left: 8px;
  }
  &:nth-child(2) {
    background: #212121;
    z-index: 7;
  }
  &:nth-child(3) {
    background: #282828;
    z-index: 5;
    position: relative;
    left: -8px;
  }
}

.messanger_fallback_chat_block {
  padding: 10px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc(100% - 32px);
}

.message_ico {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #252525;
}

.messanger_fallback_chat_block {
  background: rgba(0, 0, 0, 0.01);
  filter: blur(3px);
}

.left_message_block {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 10px;
}

.left_message_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: calc(100% - 40px);
}

.left_message_group_item_short {
  background: #252525;
  border-radius: 3px;
  width: 50px;
  height: 15px;
}

.left_message_group_item_long {
  background: #252525;
  border-radius: 3px;
  height: 100px;
  width: 100%;
}

.right_message_block {
  display: flex;
  align-items: start;
  justify-content: end;
  gap: 10px;
  width: 100%;
}

.second_short {
  height: 50px;
}

.second_long {
  width: 80px;
}

.right_message_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: end;
  width: 60%;
}

.right_message_group_item_short {
  background: #252525;
  border-radius: 3px;
  height: 20px;
  width: 50%;
}

.right_message_group_item_long {
  background: #252525;
  border-radius: 3px;
  height: 40px;
  width: 100%;
}

.underdevelopment_block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.underdevelopment_block_title {
  color: #979797;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.underdevelopment_block_button {
  width: 150px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaeaea;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  border: none;
  margin-top: 25px;
  border-radius: 5px;
  background: #2e2e2e;
}
