.liveBets_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #181818;
    padding: 45px 0;
    max-width: 1630px;
}

.liveBets_title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.96px;
    color: #EAEAEA;
    font-family: var(--font-source-sans-3);

    svg {
        margin-right: 10px;
    }
}

.liveBets_body {
    width: 100%;
    margin-top: 35px;
}

.liveBets_titles_list {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 100px minmax(50px, 200px) 120px 100px 50px 60px minmax(10px, 100px);
    justify-content: space-between;
    margin-bottom: 25px;

    &_item {
        font-family: var(--font-source-sans-3);
        color: #7E7E7E;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.48px;

        &:last-child {
            text-align: end;
        }
    }
}

.liveBets_list {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    padding: 10px 0;

    &_item {
        margin-bottom: 10px;
        padding: 0 30px;
        display: grid;
        padding-bottom: 10px;
        grid-template-columns: 100px minmax(50px, 200px) 120px 100px 50px 60px 100px;
        justify-content: space-between;
        border-bottom: 1px solid #252525;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .liveBets_list_item_time_block {
            display: flex;
            align-items: center;

            .liveBets_list_item_time {
                font-family: var(--font-source-sans-3);
                font-size: 14px;
                color: #EAEAEA;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 0.56px;
            }
        }

        .liveBets_list_item_game_block {
            display: flex;
            align-items: center;
            font-family: var(--font-source-sans-3);
            font-size: 14px;
            color: #EAEAEA;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0.56px;

            img {
                margin-right: 10px;
            }
        }

        .liveBets_list_item_player_block {
            display: flex;
            align-items: center;

            .liveBets_list_item_player_ico {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    color: #FFF;
                    font-family: var(--font-nunito-sans);
                    font-size: 14px;
                    font-weight: 700;
                }
            }

            .liveBets_list_item_player {
                margin-left: 10px;
                font-family: var(--font-source-sans-3);
                font-size: 14px;
                font-weight: 500;
                line-height: 120%;
                color: #EAEAEA;
                letter-spacing: 0.56px;
            }
        }

        .liveBets_list_item_address_block {
            display: flex;
            align-items: center;

            .liveBets_list_item_address {
                color: #7e7e7e;
                font-family: var(--font-source-sans-3);
                font-size: 14px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0.56px;
            }
        }

        .liveBets_list_item_wager_block {
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }

            .liveBets_list_item_wager {
                font-family: var(--font-source-sans-3);
                color: #EAEAEA;
                font-size: 14px;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0.56px;
            }
        }

        .liveBets_list_item_multiplier_block {
            display: flex;
            align-items: center;

            .liveBets_list_item_multiplier {
                font-family: var(--font-source-sans-3);
                font-size: 14px;
                color: #EAEAEA;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: 0.56px;
            }
        }

        .liveBets_list_item_profit_block {
            display: flex;
            align-items: center;
            justify-content: end;

            .liveBets_list_item_profit {
                font-family: var(--font-source-sans-3);
                font-size: 14px;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: 0.56px;
                color: #DDB775;
                margin-right: 10px;
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

.livebets_loadmore_btn {
    font-family: var(--font-source-sans-3);
    color: #7E7E7E;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.56px;
    padding: 11px 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #202020;
    border: none;
    margin-top: 25px;
}