.rps_picker_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6px;
  margin-top: 20px;
}

.rps_picker_block_item {
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 5px;
  background: #202020;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: end;
  transition: all 0.3s;
  justify-content: center;
  padding: 9px 18px;
  @media screen and (max-width: 650px) {
    border-radius: 5px !important;
  }
  & > svg > path,
  & > svg > g > path {
    transition: all 0.3s;
  }
  &:hover > svg > path,
  &:hover > svg > g > path {
    fill: #eaeaea;
  }
  &:hover {
    background: #2e2e2e;
  }
}

.rps_picker_block_item_active {
  background: #2e2e2e;
  svg > g > path {
    fill: #eaeaea;
  }
  svg > path {
    fill: #eaeaea;
  }
}

.rps_picker_block_item:first-child {
  border-radius: 12px 5px 5px 12px;
}

.rps_picker_block_item:last-child {
  border-radius: 5px 12px 12px 5px;
}
