.betting_statistics {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding: 33px 56px 28px 28px;
  background: #151515;
  color: white;
  width: 100%;
  border-radius: 20px;
  gap: 20px;
  @media screen and (max-width: 2560px) {
    padding: 42px 56px 28px 28px;
  }
  @media screen and (max-width: 1574px) {
   padding: 23px 56px 25px 28px;
  }
  @media screen and (max-width: 768px) {
    padding: 30px 20px;
    width: initial;
  }
  @media screen and (max-width: 651px) {
    padding: 30px 20px;
    border-radius: 0;
    position: relative;
    top: -20px;
  }
  @media screen and (max-width: 425px) {
    border-radius: 0;
    padding: 0 20px 25px;
  }
}
