.dropdown {
  display: flex;
  flex-direction: column;
  font-family: var(--font-nunito-sans);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
  position: relative;
  height: 50px;
  @media (max-width: 650px) {
    height: 40px;
  }

  .selected_token {
    display: flex;
    align-items: flex-start;
    background-color: #202020;
    width: 146px;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
    height: 50px;
    transition: all 0.5s;
    align-items: center;
    @media (max-width: 650px) {
      border-radius: 5px;
    }
  }

  .selected_token_open {
    border-radius: 12px 12px 0 0;
    @media (max-width: 650px) {
      border-radius: 5px 5px 0 0;
    }
  }
  .token_icon {
    width: 30px;
    height: 30px;
    @media (max-width: 650px) {
      width: 24px;
      height: 24px;
    }
    margin-right: 10px;
  }

  .arrow_swap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow_open svg {
    transition: 0.5s;
    transform: rotate(0deg);
  }

  .arrow_close svg {
    transition: 0.5s;
    transform: rotate(180deg);
  }

  .token_list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 146px;
    background-color: #202020;
    border-radius: 0 0 12px 12px;
    border: none;
    outline: none;
    z-index: 1;
    border-top: solid 1px #363636;
    @media (320px <=width <= 700px) {
      top: 40px;
    }
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.5s ease-in-out;
  }

  .token_list.open {
    opacity: 1;
    max-height: 250px;
    @media (max-width: 650px) {
      border-radius: 0 0 5px 5px;
      top: 40px;
    }
  }

  .token_item {
    display: flex;
    align-items: center;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
    @media (max-width: 650px) {
      padding: 8px 20px 8px 20px;
    }
  }

  .token_item_selected {
    display: flex;
    align-items: center;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
    @media screen and (max-width: 869px) {
      padding: 6px 20px;
    }
  }

  .selected_token {
    background-color: #202020;
  }

  .token_item:hover {
    background-color: #363636;
  }
}
