.vip_statuses_section {
  margin-top: 30px;
  border-radius: 20px;
  background: #181818;

  @media screen and (max-width: 650px) {
    border-radius: 0;
    background: none;
  }
}

.vip_statuses_title {
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.92px;
  text-transform: uppercase;

  @media screen and (max-width: 650px) {
    font-size: 1.25rem;
    line-height: 27px;
  }
}

.vip_statuses_body {
  align-items: center;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 40px;

  @media screen and (max-width: 1280px) {
    padding: 30px 20px;
  }

  @media screen and (max-width: 650px) {
    padding: 30px 0;
  }
}

.vip_statuses_list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.vip_statuses_list_item {
  padding: 120px 0 0 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: #151515;

  @media screen and (max-width: 996px) {
    padding: 165px 0 0 0;
  }

  @media screen and (max-width: 650px) {
    padding: 95px 0 0 0;
  }
}

.status_ico {
  z-index: 20;
  padding: 0 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (max-width: 1125px) {
    width: 50%;
  }

  @media screen and (max-width: 650px) {
    width: 100px;
    height: 100px;
  }
}

.vip_status_lvl_title {
  color: var(--White-1, #eaeaea);
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: 20.5px;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  @media screen and (max-width: 1125px) {
    font-size: 1.625rem;
    line-height: 31px;
  }

  @media screen and (max-width: 650px) {
    font-size: 1rem;
    line-height: 19.2px;
  }
}

.vip_league {
  display: block;
  margin-top: 17px;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 51px;
  letter-spacing: 1.6px;
  text-transform: uppercase;

  &[data-id="1"] {
    color: #cd7f32;
  }

  &[data-id="2"] {
    color: #c0c0c0;
  }

  &[data-id="3"] {
    color: #ffe09d;
  }

  @media screen and (max-width: 650px) {
    font-size: 1.875rem;
    line-height: 36px;
    margin-top: 10px;
  }
}

.vip_benefits_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.vip_benefits_list_item_title {
  color: #eaeaea;
  font-family: var(--font-source-sans-3);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.56px;
  max-width: 315px;

  @media screen and (max-width: 650px) {
    font-size: 0.75rem;
    line-height: 17px;
  }
}

.vip_benefits_list_item {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border-bottom: 1px solid #2e2e2e;

  &:last-child {
    border-bottom: none;
  }

  @media screen and (max-width: 1125px) {
    padding: 10px 15px;
  }
}

.checkbox {
  background: #252525;
  min-width: 16px;
  min-height: 16px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox_active {
  background: #d18b34;
  filter: drop-shadow(0px 0px 4px #d18b34);
}

.vip_status_turnover_title {
  padding: 0 16px;
  margin-top: 45px;
  display: block;
  color: #eaeaea;
  max-width: 312px;
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: 20.5px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  margin-bottom: 60px;

  span {
    color: #ffe09d;
  }

  @media screen and (max-width: 650px) {
    font-size: 0.875rem;
    line-height: 16.8px;
  }
}

.swiper_wrap {
  display: grid;
  width: 100%;
}

.swiper {
  width: 100%;
}

.slide {
  padding: 30px 0;
  box-sizing: border-box;

  @media screen and (max-width: 996px) {
    width: 330px !important;
  }

  @media screen and (max-width: 650px) {
    width: 235px !important;

    &:first-child {
      margin-left: 20px;
    }
  }
}

.ellipse {
  position: absolute;
  top: -85px;
  left: 50%;
  transform: translateX(-50%);
  width: 163px;
  height: 136px;

  mix-blend-mode: hard-light;
  filter: blur(50px);

  &[data-id="1"] {
    background: rgba(205, 127, 50, 0.2);
  }

  &[data-id="2"] {
    background: rgba(192, 192, 192, 0.2);
  }

  &[data-id="3"] {
    background: rgba(243, 189, 107, 0.2);
  }
}

// .top_block {
//   width: 100%;
//   background: #181818;
//   height: 30px;
//   position: absolute;
//   top: 0;
//   z-index: 10;
// }
