.box {
  width: 300px;
  height: 134px;
  background-color: #202020;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  //justify-content: space-around;
  justify-content: end;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.text {
  width: 175px;
  height: 38px;
  font-family: --var(--font-nunito-sans);
  font-weight: 800;
  font-size: 0.875rem;
  //line-height: 19.1px;
  letter-spacing: 0.56px;
  color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  bottom: 16px;
  position: relative;
}

.button {
  width: 132px;
  height: 40px;
  background: linear-gradient(
    113.81deg,
    #f8eeb8 -4.17%,
    #dbb370 59.03%,
    #8e5b2d 112.39%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.button:hover {
  cursor: pointer;
}

.button div {
  font-family: --var(--font-nunito-sans);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 19.1px;
  letter-spacing: 4%;
  color: #0f0f0f;
}

@media screen and (max-width: 600px) {
  .box {
    width: 192px;
    height: 108px;
  }

  .button {
    width: 86px;
    height: 34px;
  }

  .button div {
    font-size: 0.75rem;
    line-height: 16.37px;
  }

  .text {
    width: 150px;
    height: 32px;
    font-size: 0.75rem;
    line-height: 16.37px;
    bottom: 10;
  }
}
