.box {
    width: 300px;
    height: 134px;
    background-color: #202020;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    //justify-content: space-around;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.text {
    width: 175px;
    height: 38px;
    font-family: --var(--font-nunito-sans);
    font-weight: 800;
    font-size: 14px;
    //line-height: 19.1px;
    letter-spacing: 0.56px;
    color: #EAEAEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 16px;
    position: relative;
}

.button {
    width: 132px;
    height: 40px;
    background: linear-gradient(113.81deg, #F8EEB8 -4.17%, #DBB370 59.03%, #8E5B2D 112.39%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
}

.button div {
    font-family: --var(--font-nunito-sans);
    font-weight: 600;
    font-size: 14px;
    line-height: 19.1px;
    letter-spacing: 4%;
    color: #0F0F0F;
}

@media screen and (max-width: 600px) {
    .box {
        width: 192px;
        height: 108px;
    }

    .button {
        width: 86px;
        height: 34px;
    }

    .button div {
        font-size: 12px;
        line-height: 16.37px;
    }

    .text {
        width: 150px;
        height: 32px;
        font-size: 12px;
        line-height: 16.37px;
        bottom: 10;
    }
}