.table {
  margin: 0 auto;

  .title {
    font-family: var(--font-source-sans-3);
    color: #E5C787;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.96px;
    margin-bottom: 28px;
  }

  .titles_table {
    display: flex;

    .titles_block {
      display: grid;
      grid-template-columns: 136px 238px 234px 234px 158px 162px 30px;
      -moz-column-gap: 10px;
      column-gap: 2px;
      padding: 0 50px;
      margin-bottom: 25px;

      .titles_block_item {
        font-family: var(--font-source-sans-3);
        color: #7E7E7E;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;

      }
    }
  }
}
