.table {
  width: 100%;
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  @media (max-width: 650px) {
    font-size: 8px;
    line-height: 100%;
  }
  tr {
    position: sticky;
    top: 0;
    background-color: #181818;
  }
  .titles_item {
    display: flex;
    justify-content: flex-start;
  }
  .th {
    padding-bottom: 20px;
    @media (max-width: 650px) {
      padding-bottom: 16px;
    }
    &:first-child {
      padding-left: 50px;
      @media (max-width: 1280px) {
        padding-left: 40px;
      }
      @media (max-width: 650px) {
        padding-left: 16px;
      }
    }
    // &:last-child {
    //   padding-right: 50px;
    //   margin-left: auto;
    //   display: flex;
    //   padding-right: 50px;
    //   justify-content: end;
    //   @media (max-width: 1280px) {
    //     padding-right: 40px;
    //   }
    //   @media (max-width: 650px) {
    //     padding-right: 16px;
    //   }
    // }
  }
  .th:nth-child(8) {
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 3480px) {
      //display: none;
    }
    @media screen and (max-width: 1280px) {
      display: flex;
    }
  }
  .th:nth-child(4),
  .th:nth-child(5),
  .th:nth-child(6) {
    @media screen and (max-width: 1080px) {
      display: none;
    }
  }
  //.th:nth-child(8) {
  //  @media screen and (max-width: 3480px) {
  //    display: none;
  //  }
  //}
  //.th:nth-child(8) {
  //  @media screen and (max-width: 1280px) {
  //    display: block;
  //  }
  //}

  .titles_table {
    .titles_block {
      padding: 0 30px;
      display: grid;
      // grid-template-columns: 100px minmax(50px, 200px) 120px 100px 50px 60px minmax(
      //     10px,
      //     100px
      //   );
      justify-content: space-between;
      margin-bottom: 25px;

      @media (320 <= width <= 1280) {
        grid-template-columns: 40px 70px 100px 40px 70px 60px 80px;
        padding: 0 15px;
        .titles_block > :nth-child(4) {
          visibility: hidden;
        }
      }
      @media screen and (max-width: 650px) {
        padding: 0 10px;
        grid-template-columns: 25px 50px 85px 30px 35px;
        -moz-column-gap: 5px;
        column-gap: 5px;
      }
    }
  }
}

.th:nth-child(4) {
  @media (max-width: 1280px) {
    opacity: 0;
    visibility: hidden;
  }
}

.th_mobile {
  padding-right: 16px;
  @media (min-width: 650px) {
    display: none !important;
  }
}
