@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-arrs::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.disable-arrs::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background: #0F0F0F;
}

.preview {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(to left, rgba(15, 15, 15, 0), rgba(15, 15, 15, 1));
    z-index: 10;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

*::-webkit-scrollbar {
  width: 4px;
  margin-left: 4px;
  border-radius: 3px;
  scrollbar-arrow-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #363636;
  border-radius: 4px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #363636 transparent;
}

*::-ms-scrollbar {
  width: 4px;
  scrollbar-arrow-color: transparent;
}

*::-ms-scrollbar-thumb {
  background-color: #363636;
  border-radius: 4px;
}

.game_mob_list {
  .game_slide {
    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }

  .game_slide_wrap {
    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }
}

.home-btn {
  &::before {
    visibility: hidden;
    opacity: 0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

.nowrap {
  text-wrap: nowrap;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.rfm-marquee {
  margin-left: 30px;
}

.rfm-initial-child-container {
  margin-right: 30px;
}

@media screen and (max-width: 1130px) {
  .game-menu-mines {
    display: grid !important;
  }

  .game-amount {
    grid-row: 2;
    grid-column: 1/3;
    margin: 0 auto;
  }
}

* {
  outline: none;
  padding: 0;
  margin: 0;
}

.bonus-block {
  overflow: visible;
  position: relative;
}

.bonus-block::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 10px;
  background: #121212;
  left: 50px;
  bottom: -7px;
}

.bonus-block::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 10px;
  background: #121212;
  right: 50px;
  bottom: -7px;
}

body {
  --sb-track-color: #111619;
  --sb-thumb-color: rgb(94, 94, 94);
  --sb-size: 6px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  scrollbar-gutter: stable;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
}

#sidebar {
  scrollbar-width: none;
  scrollbar-color: #3e3e3e transparent;
}

#sidebar::-webkit-scrollbar {
  width: 4px;
  margin-left: 4px;
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: #3e3e3e;
  border-radius: 4px;
}

/* Firefox */

/* Microsoft Edge and IE */
#sidebar::-ms-scrollbar {
  width: 4px;
}

#sidebar::-ms-scrollbar-thumb {
  background-color: #3e3e3e;
  border-radius: 4px;
}

.game_active {
  position: relative !important;
  overflow: hidden !important;
  background: #181818 !important;

  color: #ffe09d !important;
}

.game_active::after {
  content: '';
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: block;
  background: rgba(198, 149, 81, 0.9);
  position: absolute;
  left: -5px;
  filter: blur(4px);
}

.game_active::before {
  content: '';
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  background: rgba(198, 149, 81, 0.9);
  position: absolute;
  left: -12px;
  filter: blur(20px);
}

#sidebar {
  overflow-x: hidden;
  overflow-y: overlay;
}

.active_link svg path {
  fill: white !important;
  color: white !important;
}

.active_link {
  color: white !important;
}

.not_active svg path {
  fill: #979797 !important;
}

.not_active {
  color: #979797 !important;
}

.close.sidebar-item--active::after {
  content: '';
  width: 12px;
  aspect-ratio: 1/1;
  position: absolute;
  left: 50%;
  background: #c69551e5;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(8px);
}

.open.sidebar-item--active::after {
  content: '';
  width: 16px;
  aspect-ratio: 1/1;
  position: absolute;
  left: -8px;
  background: #c69551e5;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  filter: blur(30px);
}

.open.sidebar-item--active::before {
  content: '';
  width: 10px;
  aspect-ratio: 1/1;
  position: absolute;
  left: -5px;
  background: #c69551e5;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  filter: blur(10px);
}

#sidebar-games div {
  width: 100%;
  max-width: 100%;
}

.swiper-slide-active {
  opacity: 1 !important;
}

.swiper-pagination-bullet {
  background: #282828;
  width: 23px;
  height: 3px;
  border-radius: 10px;
  transition: all 0.5s;
}

.swiper-pagination-bullet-active {
  background: #ffef29;
  width: 50px;
  box-shadow: 0px 0px 5px 0px #ec8125e5;
}

@media screen and (max-width: 650px) {
  .swiper-pagination-bullet {
    width: 16px;
    height: 3px;
  }
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.preload {
  animation-delay: -0.16s;
}

.preload ::before {
  animation-delay: -0.32s;
}

@keyframes rocket-box {
  0% {
    bottom: 130px;
    opacity: 1;
  }

  65% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) scale(1);
    bottom: 300px;
  }
}

@keyframes fair-animation {
  0% {
    bottom: -30px;
  }

  100% {
    bottom: -2px;
    opacity: 0;
  }
}

@media (max-width: 1280px) {
  @keyframes rocket-box {
    0% {
      bottom: 115px;
      opacity: 1;
    }

    65% {
      opacity: 0.8;
    }

    100% {
      bottom: 280px;
      opacity: 0;
    }
  }

  @keyframes fair-animation {
    0% {
      bottom: -33px;
    }

    100% {
      bottom: -2px;
    }
  }
}

@media (max-width: 998px) {
  @keyframes rocket-box {
    0% {
      bottom: 45px;
      opacity: 1;
    }

    65% {
      opacity: 0.8;
    }

    100% {
      bottom: 66px;
      opacity: 0;
    }
  }

  @keyframes fair-animation {
    0% {
      bottom: -50px;
    }

    100% {
      bottom: -27px;
    }
  }
}

@media (max-width: 700px) {
  @keyframes rocket-box {
    0% {
      bottom: 45px;
      opacity: 1;
    }

    65% {
      opacity: 0.8;
    }

    100% {
      bottom: 150px;
      opacity: 0;
    }
  }

  @keyframes fair-animation {
    0% {
      bottom: -50px;
    }

    100% {
      bottom: -2px;
    }
  }
}

.rocket_animation {
  animation: rocket-animations 1s 2.9s infinite;
}

@keyframes rocket-animations {
  0% {
    left: -2px;
  }

  10% {
    left: 2px;
  }

  20% {
    left: 1px;
  }

  30% {
    left: -2px;
  }

  40% {
    left: 0;
  }

  50% {
    left: 1px;
  }

  60% {
    left: -1px;
  }

  70% {
    left: 2px;
  }

  80% {
    left: -1px;
  }

  90% {
    left: 1px;
  }

  100% {
    left: 0;
  }
}

@keyframes bomb {
  0% {
    background-position: 0px -120px;
  }

  15% {
    background-position: 0px -320px;
  }

  30% {
    background-position: 0px -520px;
  }

  45% {
    background-position: 0px -740px;
  }

  60% {
    background-position: 0px -976px;
  }

  80% {
    background-position: 0px -1222px;
  }

  100% {
    background-position: 0px -1468px;
  }
}

@keyframes fire-img {
  0% {
    background-position: 0px 0px;
  }

  5% {
    background-position: 0px -6.4375rem;
  }

  10% {
    background-position: 0px -12.875rem;
  }

  15% {
    background-position: 0px -19.3125rem;
  }

  20% {
    background-position: 0px -25.75rem;
  }

  25% {
    background-position: 0px -32.1875rem;
  }

  30% {
    background-position: 0px -38.625rem;
  }

  35% {
    background-position: 0px -45.0625rem;
  }

  40% {
    background-position: 0px -51.5rem;
  }

  45% {
    background-position: 0px -57.9375rem;
  }

  50% {
    background-position: 0px -64.375rem;
  }

  55% {
    background-position: 0px -70.8125rem;
  }

  60% {
    background-position: 0px -64.375rem;
  }

  65% {
    background-position: 0px -57.9375rem;
  }

  70% {
    background-position: 0px -51.5rem;
  }

  75% {
    background-position: 0px -45.0625rem;
  }

  80% {
    background-position: 0px -38.625rem;
  }

  85% {
    background-position: 0px -32.1875rem;
  }

  90% {
    background-position: 0px -25.75rem;
  }

  95% {
    background-position: 0px -19.3125rem;
  }

  98% {
    background-position: 0px -12.875rem;
  }

  100% {
    background-position: 0px -6.4375rem;
  }
}

.rocket_fire {
  background: url('../public/images/rocket/fire_5.webp') no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
}

.dice_range {
  height: 6px;
  border-radius: 5px;
  width: 230px;
  position: relative;
  -webkit-appearance: none;
}

.dice_range ::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #d9d9d9;
  border-radius: 100%;
  position: relative;
  z-index: 4;
  cursor: pointer;
}

.dice_range ::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #d9d9d9;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.dice_range ::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 6px;
  transform: translateY(-50%);
  border-radius: 5px;
  z-index: 3;
  width: var(--range-width, 0);
}

.dice_range ::-moz-range-progress {
  height: 6px;
  border-radius: 5px;
}

@media (min-width: 700px) {
  .dice_range {
    width: 436px;
  }
}

.dice_over ::before {
  background-color: #ffe09d;
}

.dice_over ::-moz-range-progress {
  background-color: #ffe09d;
}

.dice_over {
  background-color: #202020;
}

.dice_under {
  background-color: #ffe09d;
  height: 5.8px;
}

.dice_under::-moz-range-progress {
  background-color: #202020;
}

.dice_under ::before {
  background-color: #202020;
}

@media screen and (max-height: 870px) {
  .registr-main-block {
    height: 100% !important;
  }
}

/* THIMBLESSS */

.thimbles_table_wrap {
  position: relative;
  height: 100%;
  --distance: 222px;
}

@media screen and (max-width: 760px) {
  .thimbles_table_wrap {
    --distance: 29vw;
  }
}

@media screen and (max-width: 650px) {
  .thimbles_table_wrap {
    --distance: 33.5vw;
  }
}

@media screen and (max-width: 490px) {
  .thimbles_table_wrap {
    --distance: 35.4vw;
  }
}

@media screen and (max-width: 400px) {
  .thimbles_table_wrap {
    --distance: 32.4vw;
  }
}

@media screen and (max-width: 350px) {
  .thimbles_table_wrap {
    --distance: 30.5vw;
  }
}

.thimbles_table_wrap {
  --distance: 222px;
  @media (max-width: 760px) {
    --distance: 29vw;
  }
  @media (max-width: 650px) {
    --distance: 33.5vw;
  }
  @media (max-width: 490px) {
    --distance: 35.4vw;
  }
  @media (max-width: 400px) {
    --distance: 32.4vw;
  }
  @media (max-width: 350px) {
    --distance: 30.5vw;
  }
  @keyframes ball_1 {
    0% {
      transform: translate(0, 0) scale(1);
      z-index: 2;
    }
    8% {
      transform: translate(calc(var(--distance) / 2), 50px) scale(1.075);
    }
    16% {
      transform: translate(var(--distance), 50px) scale(1.15);
      z-index: 1;
    }
    33% {
      transform: translate(calc(var(--distance) * 2), 0) scale(1);
    }
    49% {
      transform: translate(calc(var(--distance) * 2), 0) scale(1);
      z-index: 2;
    }
    57% {
      z-index: 6;
      transform: translate(calc(var(--distance) * 2.5), 0) scale(1);
    }
    66% {
      transform: translate(var(--distance), 50px) scale(1.15);
      z-index: 6;
    }
    74% {
      transform: translate(calc(var(--distance) / 2), 25px) scale(1.075);
    }
    82% {
      transform: translate(0, 0) scale(1);
      z-index: 4;
    }
    100% {
      transform: translate(0, 0) scale(1);
      z-index: 4;
    }
  }

  @keyframes ball_2 {
    0% {
      // background-color: blue;
      transform: translate(0, 0) scale(1);
    }
    8% {
      transform: translate(calc((var(--distance) / 2) * -1), 0) scale(1);
    }
    16% {
      transform: translate(calc(var(--distance) * -1), 0) scale(1);
    }
    33% {
      transform: translate(calc(var(--distance) * -1), 0) scale(1);
      z-index: 2;
    }
    49% {
      transform: translate(0, 40px) scale(1.15);
    }

    57% {
      transform: translate(calc(var(--distance) / 2), -20px) scale(1);
    }
    66% {
      transform: translate(var(--distance), -20px) scale(1);
      z-index: 5;
    }
    74% {
      transform: translate(var(--distance), 0) scale(1);
    }
    82% {
      transform: translate(var(--distance), 0) scale(1);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }

  @keyframes ball_3 {
    0% {
      transform: translate(0, 0) scale(1);
    }
    8% {
      transform: translate(0, 0) scale(1);
    }
    16% {
      transform: translate(0, 0) scale(1);
    }
    24% {
      transform: translate(calc(var(--distance) / 2), 0) scale(1);
      z-index: 2;
    }
    33% {
      transform: translate(calc(var(--distance) * -1), 10px) scale(1.15);
      z-index: 1;
    }
    49% {
      transform: translate(calc(var(--distance) * -1.5), -50px) scale(0.9);
    }

    57% {
      transform: translate(calc(var(--distance) * -1.5), -20px) scale(1);
    }
    66% {
      transform: translate(calc(var(--distance) * -2), 0) scale(1);
      z-index: 2;
    }
    74% {
      transform: translate(calc(var(--distance) * -2.5), 25px) scale(0.9);
      z-index: 7;
    }
    82% {
      transform: translate(calc(var(--distance) * -1), 50px) scale(1);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
}

.thimble_wrap_1 {
  animation: ball_1 1.5s infinite linear;
}

.thimble_wrap_2 {
  animation: ball_2 1.5s infinite linear;
}

.thimble_wrap_3 {
  animation: ball_3 1.5s infinite linear;
}

.tab-buy--info::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0px 0px 14px 0px #9c740ebf inset;
}

.tab-buy--info::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0px 0px 14.800000190734863px 0px #9c740ebf;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

.levitate {
  animation: levitate 2s infinite;
}

@keyframes levitate_enemy {
  0% {
    transform: translateY(-15px) scaleX(-1);
  }

  50% {
    transform: translateY(0) scaleX(-1);
  }

  100% {
    transform: translateY(-15px) scaleX(-1);
  }
}

.levitate_enemy {
  animation: levitate_enemy 2s infinite;
}
//??/

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.stars {
  background: #000 url('/images/rocket/stars.png') top center;
  z-index: 0;
}
.twinkling {
  background: transparent url('/images/rocket/cloud.png') repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
}
.clouds {
  background: transparent url('/images/rocket/cloud_2.png');
  z-index: 3;
  animation: move-clouds-back 200s infinite;
}
//! WHEEL

.wheel_ball {
  transition: all 0.5s;
  position: absolute;
  z-index: 2;
  @media (max-width: 1280px) {
    width: 7.75px;
    height: 7.75px;
  }
  @media (max-width: 650px) {
    width: 6.3px;
    height: 6.3px;
  }
  &_1 {
    top: -2.8px;
    left: 217.98px;
    @media (max-width: 1280px) {
      top: -2.11px;
      left: 158.69px;
    }
    @media (max-width: 650px) {
      left: 123.78px;
      top: -1.74px;
    }
  }
  &_2 {
    top: -0.8px;
    right: 201.6px;
    @media (max-width: 1280px) {
      top: -0.3px;
      right: 146.03px;
    }
    @media (max-width: 650px) {
      right: 113.9px;
      top: -0.6px;
    }
  }
  &_3 {
    top: 16.9px;
    right: 139.92px;
    @media (max-width: 1280px) {
      top: 12.31px;
      right: 101.18px;
    }
    @media (max-width: 650px) {
      top: 9.4px;
      right: 78.8px;
    }
  }
  &_4 {
    top: 51.2px;
    right: 84.03px;
    @media (max-width: 1280px) {
      top: 37.28px;
      right: 60.59px;
    }
    @media (max-width: 650px) {
      top: 28.8px;
      right: 47px;
    }
  }
  &_5 {
    top: 96.19px;
    right: 42.01px;
    @media (max-width: 1280px) {
      top: 70.03px;
      right: 30.14px;
    }
    @media (max-width: 650px) {
      top: 54.3px;
      right: 23.1px;
    }
  }
  &_6 {
    top: 153.13px;
    right: 11.78px;
    @media (max-width: 1280px) {
      top: 111.48px;
      right: 8.31px;
    }
    @media (max-width: 650px) {
      top: 86.6px;
      right: 5.95px;
    }
  }
  &_7 {
    top: 216.22px;
    right: -2.28px;
    @media (max-width: 1280px) {
      top: 157.4px;
      right: -1.74px;
    }
    @media (max-width: 650px) {
      top: 122.3px;
      right: -2px;
    }
  }
  &_8 {
    top: 280.89px;
    right: -0.8px;
    @media (max-width: 1280px) {
      top: 204.37px;
      right: -0.6px;
    }
    @media (max-width: 650px) {
      top: 159px;
      right: -1.2px;
    }
  }
  &_9 {
    top: 341.55px;
    right: 16.47px;
    @media (max-width: 1280px) {
      top: 248.34px;
      right: 11.99px;
    }
    @media (max-width: 650px) {
      top: 193.3px;
      right: 8.6px;
    }
  }
  &_10 {
    bottom: 86.11px;
    right: 49.57px;
    @media (max-width: 1280px) {
      bottom: 62.1px;
      right: 36.09px;
    }
    @media (max-width: 650px) {
      right: 27.4px;
      bottom: 50px;
    }
  }
  &_11 {
    bottom: 41.08px;
    right: 97.34px;
    @media (max-width: 1280px) {
      bottom: 29.47px;
      right: 70.87px;
    }
    @media (max-width: 650px) {
      bottom: 24.5px;
      right: 54.6px;
    }
  }
  &_12 {
    bottom: 11.05px;
    right: 154.5px;
    @media (max-width: 1280px) {
      bottom: 7.77px;
      right: 112.48px;
    }
    @media (max-width: 650px) {
      bottom: 6.5px;
      right: 87.1px;
    }
  }
  &_13 {
    bottom: -2.78px;
    right: 218.09px;
    @media (max-width: 1280px) {
      right: 158.77px;
      bottom: -2.1px;
    }
    @media (max-width: 650px) {
      right: 123.29px;
      bottom: -1.7px;
    }
  }
  &_14 {
    bottom: -1.05px;
    left: 202.42px;
    @media (max-width: 1280px) {
      left: 146.62px;
      bottom: -0.76px;
    }
    @media (max-width: 650px) {
      left: 114.93px;
      bottom: -0.3px;
    }
  }
  &_15 {
    left: 139.96px;
    bottom: 16.59px;
    @media (max-width: 1280px) {
      left: 101.2px;
      bottom: 12.07px;
    }
    @media (max-width: 650px) {
      left: 79.4px;
      bottom: 9.67px;
    }
  }
  &_16 {
    bottom: 49.9px;
    left: 84.91px;
    @media (max-width: 1280px) {
      left: 61.23px;
      bottom: 36.33px;
    }
    @media (max-width: 650px) {
      left: 48.1px;
      bottom: 28.5px;
    }
  }
  &_17 {
    bottom: 97.77px;
    left: 40.16px;
    @media (max-width: 1280px) {
      left: 28.8px;
      bottom: 71.18px;
    }
    @media (max-width: 650px) {
      left: 22.65px;
      bottom: 55.67px;
    }
  }
  &_18 {
    bottom: 154.97px;
    left: 10.39px;
    @media (max-width: 1280px) {
      left: 7.3px;
      bottom: 112.83px;
    }
    @media (max-width: 650px) {
      left: 5.7px;
      top: 185.5px;
    }
  }
  &_19 {
    bottom: 218.16px;
    left: -3.17px;
    @media (max-width: 1280px) {
      left: -2.38px;
      bottom: 158.82px;
    }
    @media (max-width: 650px) {
      top: 151.1px;
      left: -2px;
    }
  }
  &_20 {
    top: 201.97px;
    left: -1.29px;
    @media (max-width: 1280px) {
      top: 146.29px;
      left: -0.94px;
    }
    @media (max-width: 650px) {
      top: 114.28px;
      left: -0.93px;
    }
  }
  &_21 {
    top: 140.1px;
    left: 16.31px;
    @media (max-width: 1280px) {
      top: 101.3px;
      left: 11.88px;
    }
    @media (max-width: 650px) {
      top: 79.23px;
      left: 9.08px;
    }
  }
  &_22 {
    top: 84.37px;
    left: 50.27px;
    @media (max-width: 1280px) {
      top: 60.84px;
      left: 36.6px;
    }
    @media (max-width: 650px) {
      top: 47.65px;
      left: 28.39px;
    }
  }
  &_23 {
    top: 39.97px;
    left: 98.21px;
    @media (max-width: 1280px) {
      top: 28.66px;
      left: 71.5px;
    }
    @media (max-width: 650px) {
      top: 22.49px;
      left: 55.66px;
    }
  }
  &_24 {
    top: 10.53px;
    left: 155.24px;
    @media (max-width: 1280px) {
      top: 7px;
      left: 113.02px;
    }
    @media (max-width: 650px) {
      top: 5.81px;
      left: 88.1px;
    }
  }
}

.sutom {
  margin-top: 20px;
  display: flex;
}
.shadow {
  filter: drop-shadow(0px 0px 11px #e9e9e9);
}
