.race_table_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.race_table_background {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  border-radius: 20px 0px 0px 0;
  @media screen and (max-width: 996px) {
    border-radius: 20px 20px 0px 0;
  }
  @media screen and (max-width: 650px) {
    border-radius: 0;
  }
}

.img {
  width: 100%;
  height: 100%;
}
.race_table_background_img {
  width: 100%;
  // object-fit: cover;
  height: 100%;
  position: absolute;
  // overflow: hidden;
  &_deep {
    width: 100%;
    // object-fit: cover;
    min-width: 1438px;
    height: 100%;
    left: 0;
    @media (max-width: 650px) {
      width: 200%;
    }
    position: absolute;
  }
  &_1 {
    min-width: 1438px;
    @media (min-width: 2000px) {
      width: 100%;
    }
    @media (max-width: 650px) {
      width: 100%;
    }
    &_start {
      left: 0;
      animation: hide_img 2s linear forwards;
      // z-index: 2;
      &_fence {
        animation: hide_img 0.1s linear forwards;
      }
      @keyframes hide_img {
        0% {
          left: 0;
        }
        100% {
          left: -1438px;
        }
      }
      @media (min-width: 2000px) {
        @keyframes hide_img {
          0% {
            left: 0;
          }
          100% {
            left: -100%;
          }
        }
      }
      @media (max-width: 650px) {
        animation: hide_img 1.6s linear forwards;
      }
    }
    &_reset {
      animation: reset_1 2s linear forwards;
      @keyframes reset_1 {
        0% {
          left: -100%;
        }
        100% {
          left: 0;
        }
      }
    }
  }
  &_2 {
    z-index: 2;
    left: 100%;
    &_start {
      animation: start_img 4s linear infinite;
      @media (max-width: 650px) {
        animation: start_img 2s linear infinite;
      }
      @keyframes start_img {
        0% {
          left: 100%;
        }
        100% {
          left: -100%;
        }
      }
    }
    &_finish {
      animation: finish_img 1.5s linear forwards;
      @media (max-width: 1400px) {
        animation: finish_img 1.5s linear forwards;
      }
      @media (max-width: 650px) {
        animation: finish_img 1s linear forwards;
      }
      @keyframes finish_img {
        0% {
          left: 0;
        }
        100% {
          left: -100%;
        }
      }
    }
    &_reset {
      animation: reset_2 2s linear forwards;
      @keyframes reset_2 {
        0% {
          left: 0;
        }
        100% {
          left: 100%;
        }
      }
    }
  }
  &_3 {
    left: 200%;
    &_start {
      animation: start_2_img 4s 2s linear infinite;
      @media (max-width: 650px) {
        animation: start_2_img 2s 1s linear infinite;
      }
      @keyframes start_2_img {
        0% {
          left: 100%;
        }
        100% {
          left: -100%;
        }
      }
    }
    &_finish {
      min-width: auto;
      animation: finish_2_img 1.5s linear forwards;
      @media (max-width: 1400px) {
        animation: finish_2_img 1.5s linear forwards;
      }
      @media (max-width: 650px) {
        animation: finish_2_img 1s linear forwards;
      }
      @keyframes finish_2_img {
        0% {
          left: 100%;
        }
        100% {
          left: 0;
        }
      }
    }
  }
}

.race_logo {
  z-index: 3;
  position: absolute;
  left: 366px;
  bottom: 50px;
  mix-blend-mode: color-burn;
  @media (max-width: 650px) {
    width: 243.652px;
    bottom: 15px;
    left: 275px;
  }
}
.total_container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: var(--font-source-sans-3);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  @media (max-width: 1200px) {
    font-size: 0.75rem;
  }
  @media (max-width: 650px) {
    font-size: 0.625rem;
    letter-spacing: 0.4px;
    gap: 0px;
  }
}

.total_won {
  color: #4ed26c;
}

.total_lost {
  color: #fc3c37;
}

.balls_arr {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  // width: 800px;
  width: (calc(100% - 398px));
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background-color: transparent;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media (max-width: 1980px) {
    width: (calc(100% - 358px));
  }
  @media (max-width: 1280px) {
    width: (calc(100% - 262px));
  }
  @media (max-width: 650px) {
    top: 10px;
    width: (calc(100% - 20px));
  }
}

.multiplier_value {
  color: var(--white-1-ea-night, #eaeaea);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  font-family: var(--font-nunito-sans);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: 128.16%; /* 23.069px */
  letter-spacing: 0.72px;
  // padding: 8.5px 19px;
  border-radius: 5px;
  // width: 60px;
  height: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 40px;
  // min-width: 60px;
  max-height: 40px;
  @media (max-width: 1280px) {
    min-width: 48px;
    min-height: 24px;
    max-width: 48px;
    max-height: 24px;
    width: 48px;
    height: 24px;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: 128.16%; /* 17.942px */
    letter-spacing: 0.56px;
  }
  @media (max-width: 650px) {
    font-size: 0.75rem;
    letter-spacing: 0.48px;
  }
}

.multiplier_positive {
  background-color: #1ea42b;
}

.multiplier_negative {
  background: var(--switch-in-game-2-e-night, #2e2e2e);
}

.hidden {
  display: none;
}

.race {
  transition: transform 3s;
  position: relative;
  transform: translateX(0);

  &_shadow {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  --race-step: 12vw;
  --race-backstep: -8vw;
  @media (max-width: 998px) {
    --race-step: 8vw;
  }
  --race-substep: 60%;
  @media (max-width: 1800px) {
    --race-substep: 20%;
  }
  @media (max-width: 1550px) {
    --race-step: 9vw;
  }
  @media (max-width: 900px) {
    --race-step: 3.5vw;
  }
  @media (max-width: 680px) {
    --race-step: 0vw;
  }

  position: absolute;
  &_size {
    &_1 {
      width: 266px;
      height: 143px;
      @media (max-width: 650px) {
        width: 199.5px;
        height: 107.25px;
      }
    }
    &_2 {
      width: 286px;
      height: 151px;
      @media (max-width: 650px) {
        width: 214.5px;
        height: 113.25px;
      }
    }
    &_3 {
      width: 299px;
      height: 159px;
      @media (max-width: 650px) {
        width: 224.25px;
        height: 119.25px;
      }
    }
    &_4 {
      width: 320px;
      height: 170px;
      @media (max-width: 650px) {
        width: 240px;
        height: 127.5px;
      }
    }
    &_5 {
      width: 381px;
      height: 202px;
      @media (max-width: 650px) {
        width: 285.75px;
        height: 151.5px;
      }
    }
  }
  &_1 {
    width: 266px;
    height: 143px;
    top: 199px;
    left: 183px;
    @media (max-width: 650px) {
      width: 199.5px;
      height: 107.25px;
      top: 149px;
      left: 137px;
    }
    &_reset {
      animation: hourse_reset_1 1.95s linear forwards;
      @keyframes hourse_reset_1 {
        0% {
          left: -100%;
        }
        100% {
          left: 183px;
        }
      }
      @media (max-width: 650px) {
        @keyframes hourse_reset_1 {
          0% {
            left: -100%;
          }
          100% {
            left: 137px;
          }
        }
      }
    }
    &_run {
      animation: race_1 1s forwards;
      &_center {
        left: calc(var(--race-step) + 195px);
        @media (max-width: 650px) {
          left: 137px;
        }
        @media (max-width: 450px) {
          left: -20px;
        }
      }
      @keyframes race_1 {
        0% {
          left: 183px;
        }
        100% {
          left: calc(var(--race-step) + 195px);
        }
      }
      @media (max-width: 650px) {
        @keyframes race_1 {
          0% {
            left: 137px;
          }
          100% {
            left: 137px;
          }
        }
      }
      @media (max-width: 450px) {
        @keyframes race_1 {
          0% {
            left: 137px;
          }
          100% {
            left: -20px;
          }
        }
      }
    }
  }
  &_2 {
    width: 286px;
    height: 151px;
    top: 242px;
    left: 154px;
    z-index: 2;
    @media (max-width: 650px) {
      width: 214.5px;
      height: 113.25px;
      top: 181px;
      left: 115px;
    }
    &_reset {
      animation: hourse_reset_2 1.95s linear forwards;
      @keyframes hourse_reset_2 {
        0% {
          left: -100%;
        }
        100% {
          left: 154px;
        }
      }
      @media (max-width: 650px) {
        @keyframes hourse_reset_2 {
          0% {
            left: -100%;
          }
          100% {
            left: 115px;
          }
        }
      }
    }
    &_run {
      animation: race_2 1s forwards;
      &_center {
        left: calc(var(--race-step) + 194px);
        @media (max-width: 650px) {
          left: 115px;
        }
        @media (max-width: 450px) {
          left: -25px;
        }
      }
      @keyframes race_2 {
        0% {
          left: 154px;
        }
        100% {
          left: calc(var(--race-step) + 194px);
        }
      }

      @media (max-width: 650px) {
        @keyframes race_2 {
          0% {
            left: 115px;
          }
          100% {
            left: 115px;
          }
        }
      }
      @media (max-width: 450px) {
        @keyframes race_2 {
          0% {
            left: 115px;
          }
          100% {
            left: -25px;
          }
        }
      }
    }
  }
  &_3 {
    width: 299px;
    height: 159px;
    top: 292px;
    left: 127px;
    z-index: 4;
    @media (max-width: 650px) {
      top: 219px;
      left: 95px;
      width: 224.25px;
      height: 119.25px;
    }
    &_reset {
      animation: hourse_reset_3 1.95s linear forwards;
      @keyframes hourse_reset_3 {
        0% {
          left: -100%;
        }
        100% {
          left: 127px;
        }
      }
      @media (max-width: 650px) {
        @keyframes hourse_reset_3 {
          0% {
            left: -100%;
          }
          100% {
            left: 95px;
          }
        }
      }
    }
    &_run {
      animation: race_3 1s forwards;
      &_center {
        left: calc(var(--race-step) + 177px);
        @media (max-width: 650px) {
          left: 95px;
        }
        @media (max-width: 450px) {
          left: -33px;
        }
      }
      @keyframes race_3 {
        0% {
          left: 127px;
        }
        100% {
          left: calc(var(--race-step) + 177px);
        }
      }
      @media (max-width: 650px) {
        @keyframes race_3 {
          0% {
            left: 95px;
          }
          100% {
            left: 95px;
          }
        }
      }
      @media (max-width: 450px) {
        @keyframes race_3 {
          0% {
            left: 95px;
          }
          100% {
            left: -33px;
          }
        }
      }
    }
  }
  &_4 {
    width: 320px;
    height: 170px;
    top: 352px;
    left: 87px;
    z-index: 6;
    @media (max-width: 650px) {
      top: 264px;
      left: 65px;
      width: 240px;
      height: 127.5px;
    }
    &_reset {
      animation: hourse_reset_4 1.95s linear forwards;
      @keyframes hourse_reset_4 {
        0% {
          left: -100%;
        }
        100% {
          left: 87px;
        }
      }
      @media (max-width: 650px) {
        @keyframes hourse_reset_4 {
          0% {
            left: -100%;
          }
          100% {
            left: 65px;
          }
        }
      }
    }
    &_run {
      animation: race_4 1s forwards;
      &_center {
        left: calc(var(--race-step) + 160px);
        @media (max-width: 650px) {
          left: 65px;
        }
        @media (max-width: 450px) {
          left: -45px;
        }
      }
      @keyframes race_4 {
        0% {
          left: 87px;
        }
        100% {
          left: calc(var(--race-step) + 160px);
        }
      }
      @media (max-width: 650px) {
        @keyframes race_4 {
          0% {
            left: 65px;
          }
          100% {
            left: 65px;
          }
        }
      }
      @media (max-width: 450px) {
        @keyframes race_4 {
          0% {
            left: 65px;
          }
          100% {
            left: -45px;
          }
        }
      }
    }
  }
  &_5 {
    top: 412px;
    left: 14px;
    width: 381px;
    height: 202px;
    z-index: 8;
    @media (max-width: 650px) {
      width: 285.75px;
      height: 151.5px;
      top: 309px;
      left: 10px;
    }
    &_reset {
      animation: hourse_reset_5 1.95s linear forwards;
      @keyframes hourse_reset_5 {
        0% {
          left: -100%;
        }
        100% {
          left: 14px;
        }
      }
      @media (max-width: 650px) {
        @keyframes hourse_reset_5 {
          0% {
            left: -100%;
          }
          100% {
            left: 10px;
          }
        }
      }
    }
    &_run {
      animation: race_5 1s forwards;
      &_center {
        left: calc(14px + var(--race-step) + 100px);
        @media (max-width: 650px) {
          left: 10px;
        }
        @media (max-width: 450px) {
          left: -80px;
        }
      }
      @keyframes race_5 {
        0% {
          left: 14px;
        }
        100% {
          left: calc(14px + var(--race-step) + 100px);
        }
      }
      @keyframes race_5 {
        0% {
          left: 10px;
        }
        100% {
          left: calc(10px + var(--race-step) + 100px);
        }
      }
      @media (max-width: 1800px) {
        left: calc(14px + var(--race-step) + 135px);

        @keyframes race_5 {
          0% {
            left: 14px;
          }
          100% {
            left: calc(14px + var(--race-step) + 135px);
          }
        }
      }

      @media (max-width: 1080px) {
        left: calc(14px + var(--race-step) + 115px);
        @media (max-width: 650px) {
          left: 10px;
        }
        @keyframes race_5 {
          0% {
            left: 14px;
          }
          100% {
            left: calc(14px + var(--race-step) + 115px);
          }
        }
      }
      @media (max-width: 650px) {
        @keyframes race_5 {
          0% {
            left: 10px;
          }
          100% {
            left: 10px;
          }
        }
      }
      @media (max-width: 450px) {
        @keyframes race_5 {
          0% {
            left: 10px;
          }
          100% {
            left: -80px;
          }
        }
      }
    }
  }
}
.fence {
  position: absolute;
  top: 0;
  left: 0;
  &_1 {
    z-index: 1;
  }
  &_2 {
    z-index: 3;
  }
  &_3 {
    z-index: 5;
  }
  &_4 {
    z-index: 7;
  }
  &_5 {
    z-index: 8;
  }
  &_reset {
    animation: fence_animation 2s linear forwards;
    @keyframes fence_animation {
      0% {
        left: -100%;
      }
      100% {
        left: 0;
      }
    }
  }
}
.race_animation_1 {
  --hourse-distnce: 500%;
  @media (max-width: 1400px) {
    --hourse-distnce: 400%;
  }
  @media (max-width: 980px) {
    --hourse-distnce: 300%;
  }
  animation: anumation_race_1 2.3s linear forwards;
  @media (max-width: 650px) {
    animation: anumation_race_1 1.5s linear forwards;
  }
  @keyframes anumation_race_1 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(var(--race-backstep) + var(--race-step)));
    }
    100% {
      transform: translateX(var(--hourse-distnce));
    }
  }
}
.race_animation_2 {
  --hourse-distnce: 500%;
  @media (max-width: 1400px) {
    --hourse-distnce: 400%;
  }
  @media (max-width: 980px) {
    --hourse-distnce: 300%;
  }
  animation: anumation_race_2 3s linear forwards;
  @media (max-width: 650px) {
    animation: anumation_race_1 2s linear forwards;
  }
  @keyframes anumation_race_2 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(var(--race-backstep) + var(--race-step)));
    }
    100% {
      transform: translateX(var(--hourse-distnce));
    }
  }
}
.race_animation_3 {
  --hourse-distnce: 500%;
  @media (max-width: 1400px) {
    --hourse-distnce: 400%;
  }
  @media (max-width: 980px) {
    --hourse-distnce: 300%;
  }
  animation: anumation_race_3 3.3s linear forwards;
  @media (max-width: 650px) {
    animation: anumation_race_1 2.3s linear forwards;
  }
  @keyframes anumation_race_3 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(var(--race-backstep) + var(--race-step)));
    }
    100% {
      transform: translateX(var(--hourse-distnce));
    }
  }
}
.race_animation_4 {
  --hourse-distnce: 500%;
  @media (max-width: 1400px) {
    --hourse-distnce: 400%;
  }
  @media (max-width: 980px) {
    --hourse-distnce: 300%;
  }
  animation: anumation_race_4 3.3s linear forwards;
  @media (max-width: 650px) {
    animation: anumation_race_1 2.3s linear forwards;
  }
  @keyframes anumation_race_4 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(var(--race-backstep) + var(--race-step)));
    }
    100% {
      transform: translateX(var(--hourse-distnce));
    }
  }
}
.race_animation_5 {
  --hourse-distnce: 500%;
  @media (max-width: 1400px) {
    --hourse-distnce: 400%;
  }
  @media (max-width: 980px) {
    --hourse-distnce: 300%;
  }
  animation: anumation_race_5 3.3s linear forwards;
  @media (max-width: 650px) {
    animation: anumation_race_1 2.3s linear forwards;
  }
  @keyframes anumation_race_5 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(var(--race-backstep) + var(--race-step)));
    }
    100% {
      transform: translateX(var(--hourse-distnce));
    }
  }
}

.banner {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 328.808px;
  height: 112.511px;
  @media (max-width: 998px) {
    width: 228.735px;
    height: 78.268px;
  }
  &_6 {
    @media (max-width: 650px) {
      display: none;
    }
  }
}
