.payment_tips_block {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  gap: 20px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 4px;
    margin-left: 4px;
    border-radius: 3px;
    scrollbar-arrow-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 4px;
  }

  scrollbar-width: thin;

  scrollbar-color: #363636 transparent;

  *::-ms-scrollbar {
    width: 4px;
    scrollbar-arrow-color: transparent;
  }

  *::-ms-scrollbar-thumb {
    background-color: #363636;
    border-radius: 4px;
  }
}

.tips_dropdown_wrap {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}

.tips_title_group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.tips_input_title {
  color: #fff;
  font-family: var(--font-nunito-sans);
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 0.04em;
  text-align: left;
}

.tips_input {
  background: linear-gradient(0deg, #121212, #121212),
    linear-gradient(0deg, #252525, #252525);
  border: 1px solid #252525;
  padding: 15px 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.04em;
  text-align: left;
  outline: none;
}

.active_tip_coin_ico {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  bottom: 16px;
}

.send_tips_btn {
  transition: all 0.4s;
  cursor: pointer;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ffe09d;
  background: linear-gradient(0deg, #252019, #252019),
    linear-gradient(0deg, #ffe09d, #ffe09d);
  color: #ffe09d;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  position: relative;
  overflow: hidden;

  &:hover {
    .send_btn_shadow {
      opacity: 1;
      visibility: visible;
    }
  }

  &:active {
    .send_btn_shadow {
      filter: blur(27px);
    }
  }

  .send_btn_shadow {
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffb800;
    mix-blend-mode: hard-light;
    filter: blur(32px);
    height: 50px;
    width: 60px;
  }
}

.tips_balance_warning {
  color: #979797;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.04em;
  text-align: center;
}
