.signup_block {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 650px) {
    margin-top: 10px;
  }
}

.signup_block_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 650px) {
    gap: 10px;
  }
}

.input_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  @media (max-width: 650px) {
    gap: 4px;
  }
}

.input_item_title {
  font-family: var(--font-nunito-sans);
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #7e7e7e;
  transition: all 0.3s;
  &_err {
    color: red;
  }

  @media screen and (max-width: 650px) {
    font-size: 14px;
  }
}

.eye {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 20px;
  cursor: pointer;
  height: 20px;
  @media (max-width: 650px) {
    bottom: 10px;
    height: 18px;
    width: 18px;
  }
}

.input {
  background: #121212;
  border-radius: 8px;
  padding: 15px 20px;
  color: #fff;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-weight: 400;
  height: 42px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: left;
  outline: none;
  border: 1px solid #252525;

  @media screen and (max-width: 650px) {
    font-size: 13px;
    // padding: 10px;
    padding: 7.5px 10px;
  }
  &::placeholder {
    color: rgba(98, 98, 98, 1);
  }
  &_err {
    border: 1px solid red;
  }
}

.input_err {
  border: 1px solid red;
}

.checkbox {
  min-height: 14px;
  min-width: 14px;
  max-height: 14px;
  max-width: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5c787;
  border-radius: 2px;
  background: inherit;
  transition: all 0.3s;
  &_err {
    border: 1px solid red;
  }

  img {
    width: 10px;
    height: 7.8px;
  }
}

.arr_checkbox {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.active_checkbox {
  box-shadow: 0px 0px 4px 0px #d18b34;
  background: #c4a562;

  .arr_checkbox {
    opacity: 1;
    visibility: visible;
  }
}

.age_block {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}

.checkbox_text {
  font-family: var(--font-nunito-sans);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #7e7e7e;

  span {
    color: #ffe09d;
  }
  &_err {
    span {
      color: red;
    }
  }

  @media screen and (max-width: 700px) {
    font-size: 14px;
  }

  @media screen and (max-width: 650px) {
    font-size: 12px;
  }
}

.signup_btn {
  border: 1px solid #ffe09d;
  background: #252019;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffe09d;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  color: #ffe09d;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;

  &::after {
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffb800;
    mix-blend-mode: hard-light;
    border-radius: 100px;
    filter: blur(50px);
  }

  &:hover {
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &:active {
    &::after {
      filter: blur(45px);
      width: 50px;
      height: 50px;
    }
  }

  @media screen and (max-width: 700px) {
    font-size: 18px;
  }

  @media screen and (max-width: 650px) {
    font-size: 16px;
    height: 40px;
  }
}

.sign_in_block {
  display: flex;
  align-items: center;
}

.already_text {
  font-family: var(--font-nunito-sans);
  font-size: 13px;
  font-weight: 400;
  color: #7e7e7e;
  line-height: 17px;
  letter-spacing: 0.04em;
}

.signin_text {
  cursor: pointer;
  color: #ffe09d;
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.04em;
  margin-bottom: 3px;
}
