.container {
  display: flex;
  flex-direction: column;
  background-color: #151515;
  border-radius: 20px;
  gap: 28px;
  padding: 30px;
  max-width: 100%;
  max-height: fit-content;
  @media (max-width: 1280px) {
    padding: 30px 20px;
  }
  @media screen and (max-width: 650px) {
    gap: 12px;
    background-color: transparent;
    padding: 0;
    padding-left: 16px;
  }
  .recently_played_heading {
    font-family: var(--font-nunito-sans);
    font-size: 1.25rem;
    font-weight: 800;
    // line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #7e7e7e;
    text-transform: uppercase;
    margin-left: 30px;
    margin-bottom: -2px;
    @media screen and (max-width: 650px) {
      font-size: 0.875rem;
      margin-left: 0;
    }
  }
  .recently_played_container {
    max-width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    @media screen and (max-width: 1280px) {
      display: flex;
      flex-direction: row;
      gap: 50px;
    }
    @media screen and (max-width: 1024px) {
      gap: 26px;
    }
    @media screen and (max-width: 650px) {
      gap: 8px;
      overflow-x: scroll;
      width: calc(100vw - 18px);
      scrollbar-width: none;

      /* Webkit (Chrome, Safari, Opera) */
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .game_item {
      max-width: 100%;
      max-height: fit-content;
      position: relative;
      cursor: grab;
      width: 450px;
      height: 231px;
      user-select: none;
      .game_image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 10px;
      }
      .content {
        padding: 27px 0 0 34px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 100%;
        .game_title {
          color: #e9e9f5;
          text-transform: uppercase;
          font-family: var(--font-nunito-sans);
          font-size: 1.875rem;
          font-weight: 800;
          line-height: 100%;
          @media screen and (max-width: 1280px) {
            font-size: 1.25rem;
          }
          @media screen and (max-width: 650px) {
            font-size: 0.875rem;
          }
        }
        .game_text {
          font-family: var(--font-source-sans-3);
          font-size: 1.25rem;
          font-weight: 400;
          text-align: left;
          color: #ffffffbf;
          margin-top: 10px;
          line-height: 100%;
          @media screen and (max-width: 1024px) {
            font-size: 1.125rem;
            white-space: break-spaces;
          }
          @media screen and (max-width: 768px) {
            font-size: 1.125rem;
            white-space: break-spaces;
          }
          @media screen and (max-width: 425px) {
            font-size: 0.875rem;
          }
        }
        @media (max-width: 650px) {
          padding: 12px;
        }
      }
      @media (max-width: 1400px) {
        width: 350px;
        height: 200px;
      }
      @media (max-width: 1280px) {
        width: 100%;
        height: 180px;
      }
      @media (max-width: 650px) {
        width: 160px;
        height: 120px;
        border-radius: 12px;
        border: 1px solid var(--gray-320-night, #202020);
        min-width: 160px;
      }
    }
  }
  .recently_played_container::-webkit-scrollbar {
    height: 8px;
    border-radius: 6px;
  }
  .recently_played_container::-webkit-scrollbar-thumb {
    background-color: #7e7e7e;
    border-radius: 6px;
  }
  .recently_played_container::-webkit-scrollbar-track {
    background-color: #151515;
    border-radius: 6px;
  }
  @media screen and (max-width: 1280px) {
    .game_item {
      max-width: calc(100% - 15px);
    }
  }
}

.side_bar_closed .container {
  max-width: 637px;
}
