.container {
  display: flex;
  flex-direction: column;
  background-color: #151515;
  border-radius: 20px;
  gap: 30px;
  padding: 27px;
  max-width: 100%;
  max-height: fit-content;

  @media screen and (max-width: 425px) {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    max-width: 528px;
  }
  @media screen and (max-width: 425px) {
    max-width: 424px;
  }
  @media screen and (max-width: 375px) {
    max-width: 374px;
  }

  @media screen and (max-width: 320px) {
    max-width: 318px;
  }

  .recently_played_heading {
    font-family: var(--font-nunito-sans);
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #7E7E7E;
    text-transform: uppercase;
  }

  .recently_played_container {
    max-width: 100%;
    display: flex;
    gap: 30px;
    overflow-x: hidden;
    justify-content: flex-start;
    flex-direction: column;


    @media screen and (max-width: 1280px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 50px;
    }

    @media screen and (max-width: 1024px) {
      gap: 26px;
    }

    @media screen and (max-width: 768px) {
      overflow-x: auto;
      white-space: nowrap;
      scrollbar-width: none;
      -ms-overflow-style: none
    }

    .game_item {
      max-width: 100%;
      position: relative;
      cursor: grab;
      user-select: none;

      .game_image {
        width: 100%;
        border-radius: 10px;
        height: fit-content;

        @media screen and (max-width: 1440px) {
          height: 220px;
          width: 312px;
        }
        @media screen and (max-width: 1280px) {
          height: 230px;
          width: 440px;
        }
        @media screen and (max-width: 1024px) {
          height: 190px;
          width: 332px;
        }
        @media screen and (max-width: 768px) {
          height: 150px;
          width: 220px;
        }
        @media screen and (max-width: 425px) {
          max-height: 140px;
          max-width: 210px;
        }
        @media screen and (max-width: 320px) {
          max-height: 130px;
          max-width: 170px;
        }
      }

      .content {
        position: absolute;
        top: 25px;
        left: 20px;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 100%;

        .game_title {
          color: #E9E9F5;
          text-transform: uppercase;
          font-family: var(--font-nunito-sans);
          font-size: 30px;
          font-weight: 800;
          line-height: 41px;
          @media screen and (max-width: 1024px) {
            font-size: 20px;
            line-height: 36px;
          }
          @media screen and (max-width: 425px) {
            font-size: 14px;
            line-height: 30px;
          }
          @media screen and (max-width: 320px) {
            font-size: 12px;
            line-height: 20px;
          }
        }

        .game_text {
          font-family: var(--font-source-sans-3);
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          text-align: left;
          color: #FFFFFFBF;
          @media screen and (max-width: 1024px) {
            font-size: 18px;
            line-height: 26px;
            white-space: break-spaces;
          }
          @media screen and (max-width: 768px) {
            font-size: 18px;
            line-height: 16px;
            white-space: break-spaces;
          }
          @media screen and (max-width: 425px) {
            font-size: 14px;
            line-height: 10px;
          }
          @media screen and (max-width: 320px) {
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
    }
  }

  .recently_played_container::-webkit-scrollbar {
    height: 8px;
    border-radius: 6px;

  }

  .recently_played_container::-webkit-scrollbar-thumb {
    background-color: #7E7E7E;
    border-radius: 6px;
  }

  .recently_played_container::-webkit-scrollbar-track {
    background-color: #151515;
    border-radius: 6px;
  }

  @media screen and (max-width: 1280px) {
    .game_item {
      max-width: calc(100% - 15px);
    }
  }
}

.side_bar_closed .container {
  max-width: 637px;
}
