.container{
  display: flex;
  gap: 5px;
  flex-direction: column;
  background-color: #151515;
  border-radius: 20px;
  padding: 27px;
  justify-content: flex-start;

  @media screen and (max-width: 1440px){
    height: fit-content;
  }
  @media screen and (max-width: 768px) {
    max-width: 568px;
  }
  @media screen and (max-width: 425px){
    max-height: 112px;
    padding: 0;
    background-color: transparent;
  }
  .recently_played_heading {
    font-family: var(--font-nunito-sans);
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #7E7E7E;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 30px;
    position: relative;
    top: 1px;
    @media screen and (max-width: 425px) {
      position: relative;
      top: -37px;
      margin-bottom: 22px;
    }


  }
}
.recently_played_container {
  height: fit-content;
  @media screen and (max-width: 3480px) {
    width: 74%;
  }
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: row;
  }
  @media screen and (max-width: 425px) {
    flex-direction: row;
    background-color: inherit;
    position: relative;
    top: -94px;
    width: 348px;
    gap: 4px;
    padding: 0 16px;
  }

  .game_item {
    position: relative;
    max-width: 100%;
    height: fit-content;
    border-radius: 20px;
    margin-bottom: 18px;
    @media screen and (max-width: 1024px){
      margin-right: 20px;;

    }
    @media screen and (max-width: 425px) {
      top: 30px;
      width: 160px;
      height: 120px;
    }

    .game_image {
      border-radius: 20px;
      @media screen and (max-width: 1440px){
        width: 318px;
        height: 224px;
      }
      @media screen and (max-width: 1024px){
        width: 336px;
      }
      @media screen and (max-width: 768px) {
        max-width: 280px;
        height: 170px;
        color: transparent;
      }

      @media screen and (max-width: 425px) {
        width: 160px;
        height: 120px;
      }
    }

    .content {
      position: absolute;
      top: 34%;
      left: 59%;
      transform: translate(-50%, -50%);
      width: 100%;
      overflow-wrap: break-word;
      @media screen and (max-width: 425px){
        max-width: 100%;
        top: 39%;
        left: -4%;
      }
      .game_title {
        color: #E9E9F5;
        text-transform: uppercase;
        font-family: var(--font-nunito-sans);
        font-size: 30px;
        font-weight: 800;
        line-height: 41px;
        text-align: left;
        margin-bottom: 6px;
        @media screen and (max-width: 425px) {
          font-size: 14px;
          position: relative;
          left: 94px;
        }
        @media screen and (max-width: 320px) {
          position: relative;
          left: 94px;
        }
      }

      .game_text {
        font-family: var(--font-source-sans-3);
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: #FFFFFFBF;
        word-break: break-word;
        @media screen and (max-width: 1024px){
          font-size: 18px;
        }
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
        @media screen and (max-width: 425px) {
          line-height: 14px;
          font-size: 10px;
          position: relative;
          left: 94px;
          top: -20px;
          word-wrap: normal;
        }
      }
    }
  }
}

