.transaction_warn_wrap {
  position: absolute;
  padding: 10px 20px;
  background: #363636;
  border-radius: 12px;
  width: 230px;
  font-family: var(--font-source-sans-3);
  color: #7e7e7e;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.48px;
  bottom: 130%;
  right: calc(100% - 40px);
  span {
    font-weight: 700;
  }
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 7.5%;
    margin-top: -0px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #363636;
  }
}
