.button span {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button {
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  &.md {
    @media screen and (max-width: 3840px) {
      max-width: 306px;
      height: 50px;
      padding: 14px 103px 14px 103px;
      border-radius: 12px;
    }
    @media screen and (max-width: 1280px) {
      max-width: 164px;
      padding: 14px 32px 14px 32px;
      border-radius: 12px;
    }
    @media screen and (max-width: 1280px) {
      max-width: 154px;
      padding: 14px 22px 14px 22px;
      border-radius: 12px;
    }
    @media screen and (max-width: 768px) {
      max-width: 164px;
      height: 36px;
      padding: 8px 28px 8px 28px;
      border-radius: 5px;
      line-height: 20px;
    }
    @media screen and (max-width: 425px) {
      max-width: 126px;
      height: 34px;
      padding: 8px 30px 8px 30px;
      border-radius: 5px;
      line-height: 20px;
    }
  }

  &.sm {
    @media screen and (max-width: 3840px) {
      width: 137px;
      height: 40px;
      padding: 12px 10px;
      border-radius: 12px;
    }
    @media screen and (max-width: 1280px) {
      width: 152px;
      height: 50px;
      padding: 14px 10px 14px 10px;
      border-radius: 12px;
    }
    @media screen and (max-width: 768px) {
      width: 88px;
      height: 36px;
      padding: 10px 20px;
      border-radius: 5px;
    }
  }
}

.button {
  &.gradient {
    background: linear-gradient(to right, #f8eeb8, #dbb370, #8e5b2d);
    border: none;
    outline: none;
  }

  &.transparent {
    background: transparent;
    border: 2px solid #e5c787;
  }

  &.dark {
    background-color: #202020;
    border: none;
    outline: none;
  }
}

.text_gold {
  color: #e5c787;
}

.text_white {
  color: #eaeaea;
}

.text_dark {
  color: #121212;
}

.text_gray {
  color: #7e7e7e;
}

.text_gold,
.text_dark,
.text_white {
  font-family: var(--font-nunito-sans);
  font-weight: 800;
  line-height: 25px;
  @media (320px <=width <= 700px) {
    font-size: 0.75rem;
  }
  @media (700px <=width <= 1280px) {
    font-size: 1.125rem;
  }
  @media (1280px <=width <= 3486px) {
    font-size: 1.125rem;
  }
}
