.side_bar {
  position: relative;
  //z-index: 0;
  height: 100%;
  //max-height: 2581px;
  grid-column: 1;
  position: fixed;
  height: 100vh;
}

.side_bar_upper {
  background-color: #181818;
  // max-height: 1080px;
  // height: 1080px;
  height: 100%;
  width: 100%;
  height: 100vh;
  padding-top: 116px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // row-gap: 5px;
  padding-bottom: 30px;
  // box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 650px) {
    height: 100vh;
    max-height: 100vh;
  }
  // justify-content: space-between;
}

.upper_blocks {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  box-sizing: border-box;
}

.lower_blocks {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social_networks {
  background-color: #121212;
  padding-top: 25px;
  //padding-left: 28px;
  width: 217px;
  height: 108px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #eaeaea;
  padding-bottom: 24px;
}

.social_networks .icons {
  width: 100%;
  max-width: 168px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.side_bar_lower {
  width: 100%;
  background-color: #121212;
  height: 1501px;
  //min-height: 1369px;
}

.side_bar_extension {
  height: 100%;
}

.side_bar_closed {
  width: 90px;
  transition: width 0.5s;
}

.side_bar_opened {
  width: 257px;
  transition: width 0.5s;
  display: flex;
  flex-direction: column;
}

.button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.settings {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.button_picked {
  background-color: #0d0d0d;
  border-radius: 12px;
}

.button_picked svg path {
  fill: #e5c787;
}

.button:hover {
  cursor: pointer;
}

.tooltip_games_list {
  display: flex;
  flex-direction: column;
  &_item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: all 0.2s;
    svg {
      margin-right: 10px;
    }
    &:hover {
      background: #202020;
      svg path {
        fill: #e5c787;
      }
    }
    &:first-child {
      border-radius: 8px 8px 0 0;
    }
    &:last-child {
      border-radius: 0 0 8px 8px;
    }
  }
}

.games_button {
  cursor: pointer;
  width: auto;
  height: 39px;
  border-bottom: 1px solid #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .games_button_tooltip {
    padding: 0;
    left: 100%;
    top: 5%;
    &::before {
      top: 7%;
    }
  }
}

.button_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
}

.button:hover > .games_button_tooltip {
  display: flex;
}

.games_button:hover > .games_button_tooltip {
  display: flex;
}

.games_button_tooltip {
  white-space: nowrap;
  position: absolute;
  padding: 11px 20px;
  left: 140%;
  top: 15%;
  color: #7e7e7e;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: 0.64px;
  display: none;
  font-family: var(--font-source-sans-3);
  border-radius: 8px;
  background: #282828;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #282828 transparent transparent;
    border-radius: 2px;
  }
}

.buttons_holder {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 4px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #1d1d1d;
}

.tg_sidebar_ico {
  margin-left: 5px;
}

.buttons_menu {
  box-sizing: border-box;
  width: 217px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #121212;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: height 1s;
  height: 320px;
}

.buttons_menu_closed {
  height: 60px;
  transition: height 1s;
}

.buttons_menu_closed .game_rows {
  transform-origin: top center;
  transform: scaleY(0);
  visibility: hidden;
  transition: 0.5s;
}

.menu_header {
  height: 50px;
  width: 167px;
  border-bottom: 1px solid #1d1d1d;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.menu_header:hover {
  cursor: pointer;
}

.header_icon_container {
  display: flex;
  flex-direction: row;
  column-gap: 11px;
  justify-content: center;
  align-items: center;
  height: 18px;
  font-family: var(--font-nunito-sans);
  color: #eaeaea;
  font-size: 16px;
  line-height: 20.51px;
  letter-spacing: 4%;
  font-weight: 800;
}

.arrow {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_down svg {
  transition: 0.5s;
  transform: rotate(180deg);
}

.arrow_side svg {
  transition: 0.5s;
  transform: rotate(90deg);
}

.game_rows {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 70px;
  transition: 1s;
}

.game_row {
  text-decoration: none;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  column-gap: 11px;
  align-items: center;
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-weight: 700;
  font-size: 14px;
  line-height: 17.94px;
  background: #121212;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.game_active {
  position: relative;
  overflow: hidden;
  background: #181818;
  &::after {
    content: "";
    border-radius: 50%;
    width: 13px;
    height: 13px;
    display: block;
    background: rgba(198, 149, 81, 0.9);
    position: absolute;
    left: -5px;
    filter: blur(4px);
  }
  &::before {
    content: "";
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block;
    background: rgba(198, 149, 81, 0.9);
    position: absolute;
    left: -12px;
    filter: blur(20px);
  }
  svg {
    width: 18px;
  }
}

.closed_sb_active_page {
  background: #0d0d0d;
  border-radius: 12px;
  svg > path {
    fill: #ffe09d;
  }
}

.support {
  box-sizing: border-box;
  width: 217px;
  border-radius: 20px;
  background-color: #121212;
  flex-direction: row;
  column-gap: 11px;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 25px;
  svg path {
    transition: all 0.5s;
  }
  &:hover {
    svg path {
      fill: #e5c787;
    }
  }
}

.language_settings {
  box-sizing: border-box;
  width: 217px;
  border-radius: 20px;
  background-color: #121212;
  flex-direction: column;
  row-gap: 20px;
  display: flex;
  align-items: center;
  height: 163px;
  padding-left: 25px;
}

.icon_wrapper {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large_header_text {
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #eaeaea;
}

.support:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1280px) {
  .side_bar_opened {
    width: 257px;
    min-width: 200px;
    z-index: 10;
  }
  .side_bar_upper {
    height: 832px;
  }
  .side_bar_lower {
    height: 1369px;
  }
  .buttons_menu,
  .social_networks,
  .support {
    width: 83%;
  }
  .menu_header,
  .social_networks .icons {
    width: 80%;
  }
  .side_bar_closed {
    width: 90px;
  }
}

@media screen and (max-width: 996px) {
  .side_bar_closed {
    width: 90px;
  }
}

@media only screen and (max-width: 700px) {
  .side_bar_opened {
    width: 240px;
    min-width: 200px;
    z-index: 3;
    min-height: 1576px;
    height: 100%;
  }
  .side_bar_upper {
    height: 832px;
  }
  .side_bar_lower {
    min-height: 744px;
    height: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .side_bar_wrapper {
    display: none;
  }
  .buttons_menu {
    padding: 0 25px;
  }
  .menu_header {
    width: 100%;
  }
  .side_bar_opened {
    width: 100%;
    height: 100%;
    min-height: 200px;
  }
  .side_bar_closed {
    display: none;
  }
  .side_bar_lower {
    display: none;
  }
  .side_bar_upper {
    gap: 3px;
    height: 100%;
    background: #0f0f0f;
    padding: 20px;
    width: calc(100% - 40px);
  }
  .buttons_menu,
  .social_networks,
  .support {
    width: 100%;
  }
}

.swap {
  cursor: pointer;
  box-sizing: border-box;
  width: 217px;
  border-radius: 20px;
  background-color: #121212;
  flex-direction: row;
  column-gap: 11px;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 25px;
  &:hover {
    .swap_icon {
      color: rgba(229, 199, 135, 1);
    }
  }
}

.swap_icon {
  color: #7e7e7e;
  transition: all 0.5s;
  &:hover {
    color: rgba(229, 199, 135, 1);
  }
}

.leaderboard {
  width: 217px;
  height: 50px;
  box-sizing: border-box;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  column-gap: 11px;
  align-items: center;
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-weight: 700;
  font-size: 14px;
  line-height: 17.94px;
  background: #121212;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 0 0 20px 20px;
  margin-top: -5px;
  // border-top: 1px solid #1d1d1d;
  position: relative;
  &::after {
    position: absolute;
    width: calc(100% - 50px);
    content: "";
    height: 1px;
    background-color: #1d1d1d;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  svg path {
    transition: all 0.5s;
  }
  &:hover {
    color: #e5c787;
    svg path {
      fill: #e5c787;
    }
  }
  @media (max-width: 650px) {
    width: 100%;
  }
}

.border_wrapper {
  margin: 5px 0;
  padding: 5px 0;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0px;
    top: 0;
    height: 1px;
    background-color: #1d1d1d;
  }
}
.swap_wrapper {
  margin: 5px 0;
  padding: 5px 0;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: calc(100% + 50px);
    left: -30px;
    top: 0;
    height: 1px;
    background-color: #1d1d1d;
  }
}

.star_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21px;
  border-radius: 12px;
  border: 1px solid var(--gray-320-night, #202020);
  background: var(--grey-2119-night, #191919);
  width: 50px;
  height: 50px;
  @media (max-width: 650px) {
    display: none;
  }
}
