.side_bar {
  position: relative;
  //z-index: 0;
  height: 100%;
  //max-height: 2581px;
  grid-column: 1;
}

.side_bar_upper {
  background-color: #181818;
  max-height: 1080px;
  height: 1080px;
  width: 100%;
  padding-top: 116px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // row-gap: 5px;
  padding-bottom: 30px;
  // box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upper_blocks {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  box-sizing: border-box;
}

.lower_blocks {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social_networks {
  background-color: #121212;
  padding-top: 25px;
  //padding-left: 28px;
  width: 217px;
  height: 108px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-nunito-sans);
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #eaeaea;
  padding-bottom: 24px;
}

.social_networks .icons {
  width: 100%;
  max-width: 168px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.side_bar_lower {
  width: 100%;
  background-color: #121212;
  height: 1501px;
  //min-height: 1369px;
}

.side_bar_extension {
  height: 100%;
}

.side_bar_closed {
  width: 90px;
  transition: width 0.5s;
}

.side_bar_opened {
  width: 257px;
  transition: width 0.5s;
  display: flex;
  flex-direction: column;
}

.button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.button_picked {
  background-color: #0d0d0d;
  border-radius: 12px;
}

.button_picked svg path {
  fill: #e5c787;
}

.button:hover {
  cursor: pointer;
}

.games_button {
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: unset;
}

.buttons_holder {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 4px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #1d1d1d;
}

.buttons_menu {
  box-sizing: border-box;
  width: 217px;
  border-radius: 20px;
  background-color: #121212;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  //overflow-y: hidden;
  position: relative;
  transition: height 1s;
  height: 270px;
}

.buttons_menu_closed {
  height: 60px;
  transition: height 1s;
}

.buttons_menu_closed .game_rows {
  transform-origin: top center;
  transform: scaleY(0);
  visibility: hidden;
  transition: 0.5s;
}

.menu_header {
  height: 50px;
  width: 167px;
  border-bottom: 1px solid #1d1d1d;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.menu_header:hover {
  cursor: pointer;
}

.header_icon_container {
  display: flex;
  flex-direction: row;
  column-gap: 11px;
  justify-content: center;
  align-items: center;
  height: 18px;
  font-family: var(--font-nunito-sans);
  color: #eaeaea;
  font-size: 16px;
  line-height: 20.51px;
  letter-spacing: 4%;
  font-weight: 800;
}

.arrow {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow_down svg {
  transition: 0.5s;
  transform: rotate(180deg);
}

.arrow_side svg {
  transition: 0.5s;
  transform: rotate(90deg);
}

.game_rows {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 70px;
  transition: 1s;
}

.game_row {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  column-gap: 11px;
  align-items: center;
  color: #7e7e7e;
  font-family: var(--font-nunito-sans);
  font-weight: 700;
  font-size: 14px;
  line-height: 17.94px;
}

.game_row:hover {
  cursor: pointer;
}

.picked_game_row {
  border-left: 1px solid #e4c480;
  background: linear-gradient(0.25turn, rgba(198, 149, 81, 0.041) 5%, #0d0d0d);
}

.support {
  box-sizing: border-box;
  width: 217px;
  border-radius: 20px;
  background-color: #121212;
  flex-direction: row;
  column-gap: 11px;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 25px;
}

.language_settings {
  box-sizing: border-box;
  width: 217px;
  border-radius: 20px;
  background-color: #121212;
  flex-direction: column;
  row-gap: 20px;
  display: flex;
  align-items: center;
  height: 163px;
  padding-left: 25px;
}

.icon_wrapper {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large_header_text {
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #eaeaea;
}

@media only screen and (max-width: 1280px) {
  .side_bar_opened {
    width: 18.75vw;
    min-width: 200px;
    z-index: 10;
  }
  .side_bar_upper {
    height: 832px;
  }
  .side_bar_lower {
    height: 1369px;
  }
  .buttons_menu,
  .social_networks,
  .support {
    width: 83%;
  }
  .menu_header,
  .social_networks .icons {
    width: 80%;
  }
  .side_bar_closed {
    width: 65px;
  }
}

@media screen and (max-width: 996px) {
  .side_bar_closed {
    width: 55px;
  }
}

@media only screen and (max-width: 700px) {
  .side_bar_opened {
    width: 18.75vw;
    min-width: 200px;
    z-index: 3;
    min-height: 1576px;
    height: 100%;
  }
  .side_bar_upper {
    height: 832px;
  }
  .side_bar_lower {
    min-height: 744px;
    height: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .side_bar_wrapper {
    display: none;
  }
  .buttons_menu {
    padding: 0 25px;
  }
  .menu_header {
    width: 100%;
  }
  .side_bar_opened {
    width: 100%;
    height: 100%;
    min-height: 200px;
  }
  .side_bar_closed {
    display: none;
  }
  .side_bar_lower {
    display: none;
  }
  .side_bar_upper {
    gap: 3px;
    height: 100%;
    background: #0f0f0f;
    padding: 20px;
    width: calc(100% - 40px);
  }
  .buttons_menu,
  .social_networks,
  .support {
    width: 100%;
  }
}
