.userAddress {
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #7E7E7E;
  display: flex;
  gap: 8px;
  align-items: center;
}

.truncatedAddress {
  display: none;
}

.fullAddress {
  display: block;
}

@media screen and (max-width: 425px) {
  .truncatedAddress {
    display: block;
  }

  .fullAddress {
    display: none;
  }
}

//@media screen and (max-width: 425px) {
//  width: 100px;
//  overflow: hidden;
//  text-overflow: ellipsis;
//  white-space: nowrap;
//  //left: -60px;
//}

//@media screen and (max-width: 425px) {
//  .userAddress {
//    overflow: hidden;
//    text-overflow: ellipsis;
//    white-space: nowrap;
//  }
//}