* {
    padding: 0;
    margin: 0;
}

html {
    background: var(--color-background-dark);
    min-height: 2843px;
    //min-width: 600px;
    width: 100%;
}

a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

a:focus {
    text-decoration: none
}

a:active {
    text-decoration: none
}