.coinflip_table_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.coinflip_table_background {
  // border-radius: 20px 0 0 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.coinflip_block {
  height: 100%;
  width: 100%;
}

.coinflip_table_background_img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.coinflip_table {
  width: 100%;
  height: 100%;
  position: relative;
}

.coinflip_wins_losses_list {
  font-family: var(--font-source-sans-3);
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.8px;

  height: 29px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coinflip_wins_losses_list_clone {
  display: none;
}

.coinflip_wrap {
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 226px;
  left: 50%;
  transform: translateX(-50%);
  gap: 40px;
}

@media screen and (min-width: 996px) {
  .coinflip_table_background {
    border-radius: 20px 0 0 20px;
  }
}

@media screen and (max-width: 996px) {
  .coinflip_wrap {
    bottom: 110px;
    height: 207px;
    gap: 25px;
  }
  .coinflip_block {
    height: 154px;
  }

  .coinflip_table_background {
    border-radius: 20px 20px 0 0;
  }
}

@media screen and (max-width: 650px) {
  .coinflip_block {
    height: 100%;
  }
  .coinflip_wrap {
    bottom: 110px;
  }
  .coinflip_wins_losses_list {
    display: none;
  }
  .coinflip_wins_losses_list_clone {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    font-size: 14px;
  }
  .coinflip_table_background {
    border-radius: 0;
  }
}

@media screen and (max-width: 600px) {
  .coinflip_wrap {
    bottom: 65px;
    height: 110px;
  }
}

@media screen and (max-width: 420px) {
  .coinflip_table_background_img {
    object-fit: cover;
  }
}
