.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main_area {
    max-width: 1364px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.games {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

.games_row {
    display: flex;
    flex-direction: row;
    column-gap: 36px;
    row-gap: 36px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.game {
    width: 600px;
    height: 200px;
    position: relative;
    border-radius: 7px;
    padding: 10px 20px;
    background: var(--color-background-dark);
    display: flex;
    flex-direction: row;
    padding: 32px;
    column-gap: 100px;
}

.game:hover {
    cursor: pointer;
}

.game_link {
    text-decoration: none;
}

.game:hover::after {
    animation-name: game_hover;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.game:hover .game_arrow {
    animation-name: arrow_hover;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

@keyframes arrow_hover {
    from {}

    to {
        opacity: 100%;
    }
}

@keyframes game_hover {
    from {}

    to {
        margin: -4px;
    }
}

.game_info {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    row-gap: 16px;
    width: 300px;
}

.game_name {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    font-family: var(--font-dalek-pinpoint);
    font-weight: 700;
    font-size: 32px;
}

.game_arrow {
    opacity: 25%;
}

.game_description {
    font-family: var(--font-neue-machina);
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    opacity: 75%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.game::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1.5px;
    border-radius: inherit;
    background-image: var(--gradient-game);
}

.games_title {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    font-family: var(--font-neue-machina);
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 31px;
    margin-top: 31px;
    padding-left: 16px;
    padding-right: 16px;
}

.games_more {
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 0px, 12px, 0px, 12px;
    width: 95px;
}

.games_more:hover {
    cursor: pointer;
}

.game_icon {
    opacity: 100%;
    height: 196px;
    width: 196px;

    transition: transform .4s ease-in-out;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.game:hover .game_icon {
    transform: rotate(-180deg);
}

.total_info {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    //height: 99px;
    flex-wrap: wrap;
    row-gap: 12px;
}

.total {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 442px;
}

.total_name {
    font-family: var(--font-neue-machina);
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

.total_value {
    background: var(--gradient-total);
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}