.page_container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.main_container {
  width: calc(100% - 100px);
  padding: 100px 50px 0 50px;
}

.main_area {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  height: 2906px;
}

.background_container {
  height: 454px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 80px;
  transition: all 0.5s;
}

@media screen and (min-width: 996px) {
  .background_sidebar_closed.background_sidebar_closed {
    width: calc(100% - 90px);
  }
  .background_container {
    width: calc(100% - 257px);
  }
}

//////
.banner_info_avaibleWallet_container {
  position: fixed;
  height: 100vh;
  top: 80px;
  right: 0;
  z-index: 100;
  width: calc(100% - 257px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
  @media screen and (max-width: 1280px) {
    width: calc(100% - 18.75vw);
  }
  @media screen and (max-width: 1060px) {
    width: calc(100% - 180px);
  }
  @media screen and (max-width: 650px) {
    width: 100%;
    top: 0;
    z-index: 120;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.sidebarClosed {
  width: calc(100% - 90px);
}

.walletVisible {
  visibility: visible;
  opacity: 1;
}

/////
.background {
  height: 100%;
  position: absolute;
  z-index: -1;
  width: 100%;
  //left: 90px;
  //height: fit-content;
  object-fit: cover;
}

.background_gradient {
  height: 100%;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: linear-gradient(0deg, #0f0f0f 0%, rgba(15, 15, 15, 0) 25.48%);
}

.side_bar_wrapper {
  height: 100%;
}

.banner_info {
  box-sizing: border-box;
  //padding-top: 59px;
  //padding-left: 50px;
  //height: 265px; //265
  display: flex;
  row-gap: 51px;
  flex-direction: column;
  //justify-content: space-between;
  margin-bottom: 40px;
}

.banner_info .header {
  font-family: var(--font-nunito-sans);
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #eaeaea;
}

.connect_wallet_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95px;
}

.connect_wallet_container .text {
  font-family: var(--font-source-sans-3);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #9292a5;
}

.connect_wallet_container .button {
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-source-sans-3);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.04em;
  width: 179px;
  height: 50px;
  border: 1px solid #ffeebc;
  border-radius: 12px;
  background: linear-gradient(
      181.79deg,
      #f8eeb8 -22.04%,
      #dbb370 52.3%,
      #8e5b2d 115.05%
    ),
    linear-gradient(180deg, #ffeebc -47.5%, #ab7c46 177.5%);
  box-shadow: 0px 0px 11px 0px #f9832c4d;
}

.connect_wallet_container .button:hover {
  cursor: pointer;
}

.games {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 100%;
  margin-bottom: 60px;
  align-items: center;
}

.games_row {
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(3, 1fr);
  // align-items: center;
  justify-content: center;
  width: fit-content;
}

.sidebar_closed {
  grid-template-columns: 1fr 1fr;
}

.game {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 640px;
  height: 256px;
  padding: 10px 20px;
  padding: 32px;
  column-gap: calc(5px + 5vw);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
}

.game_link {
  box-sizing: border-box;
  width: 100%;
  max-width: 640px;
  min-width: 106px;
  overflow: hidden;
  //display: block;
  position: relative;
  text-decoration: none;
  border: 1px solid #202020;
  border-radius: 20px;
  z-index: 1;
}

.game_link:hover > .game_link_img {
  transform: scale(1.2);
}

.game_link_img {
  transition: all 0.5s;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.game_info {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  row-gap: 16px;
  width: 75%;
}

.game_name {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  font-family: var(--font-nunito-sans);
  font-weight: 800;
  font-size: 30px;
  line-height: 40.92px;
  letter-spacing: 6%;
}

// .game_arrow {
//     opacity: 25%;
// }
.game_description {
  font-family: var(--font-source-sans-3);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 4%;
  opacity: 75%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.main_advertaising_blocks {
  display: flex;
  justify-content: center;
  column-gap: 1vw;
  margin-bottom: 25px;
}

.main_advertaising_blocks_item {
  height: 256px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  background: #181818;
  border: 1px solid #202020;
  position: relative;
  max-width: 640px;
  cursor: pointer;
  img {
    position: absolute;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: 650px) {
    border-radius: 12px;
    img {
      border-radius: 12px;
    }
  }
}

.main_advertaising_blocks_item_body {
  position: relative;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @media screen and (max-width: 650px) {
    padding: 5px 13px;
  }
}

.main_advertaising_blocks_item_title {
  color: #e9e9f5;
  font-family: var(--font-nunito-sans);
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 15px;
  @media screen and (max-width: 996px) {
    font-size: 20px;
  }
  @media screen and (max-width: 700px) {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

.main_advertaising_blocks_item_text {
  color: #eaeaea;
  font-family: var(--font-source-sans-3);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.8px;
  max-width: 70%;
  @media screen and (max-width: 700px) {
    font-size: 10px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 1280px) {
  .main_advertaising_blocks {
    column-gap: 1.5vw;
  }
  .game_link {
    &:nth-child(5),
    &:nth-child(6) {
      img {
        left: -90px;
      }
    }
  }
  .sidebar_closed {
    &:nth-child(5),
    &:nth-child(6) {
      img {
        left: 0;
      }
    }
  }
  .banner_info .header {
    font-size: 35px;
    line-height: 42px;
  }
  .games_row {
    justify-items: center;
  }
  .game_link {
    max-width: 360px;
    max-height: 210px;
  }
  .main_advertaising_blocks_item {
    height: 210px;
  }
  .game_link.sidebar_closed {
    max-width: 555px;
  }
  .banner_info {
    //height: 169px;
  }
  .games_row {
    grid-template-columns: 1fr 1fr;
  }
  .connect_wallet_container .button {
    height: 47px;
    width: 165px;
  }
  .main_container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
  .games,
  .games_row {
    gap: 1.5vw;
  }
  .games_row {
    //flex-wrap: wrap;
  }
  .game {
    //width: 28vw;
  }
  .background_container {
    height: 250px;
    top: 70px;
  }
  .game_name {
    font-size: 25px;
    line-height: 34.1px;
  }
  .game_description {
    font-size: 16px;
    line-height: 23px;
  }
}

@media screen and (max-width: 700px) {
  .game_link {
    &:nth-child(5),
    &:nth-child(6) {
      img {
        left: -160px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .main_advertaising_blocks {
    column-gap: 3.75vw;
    margin: 8px;
  }
  .game_link {
    max-width: 346px;
    max-height: 120px;
    @media screen and (max-width: 700px) {
      &:nth-child(5),
      &:nth-child(6) {
        img {
          left: 0;
        }
      }
    }
  }
  .main_advertaising_blocks_item {
    height: 120px;
  }
  .game_link.sidebar_closed {
    max-width: 346px;
  }
  .game_info {
    row-gap: 10px !important;
  }
  .game_link_img {
    width: 100%;
  }
}

// mobile
@media only screen and (max-width: 650px) {
  .banner_info {
    margin-bottom: 15px;
  }
  .main_advertaising_blocks {
    margin-bottom: 10px;
  }
  .games {
    margin-bottom: 30px;
  }
  .main_container {
    row-gap: 30px;
    padding: 70px 0 0 0 !important;
  }
  .sidebarClosed {
    width: 100%;
  }
  .main_container {
    left: 0px;
    right: 0px;
    width: 100%;
    top: 76px;
    padding: 100px 0 0 0;
  }
  .games {
    padding: 8px;
    width: calc(100% - 16px);
  }
  .banner_info {
    row-gap: 34px;
    margin-left: 0px;
    padding-left: 8px;
    box-sizing: border-box;
  }
  .connect_wallet_container .button {
    width: 126px;
    height: 34px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 14.4px;
    font-weight: 800;
  }
  .connect_wallet_container .text {
    font-size: 10px;
    line-height: 12px;
  }
  .connect_wallet_container {
    height: 56px;
  }
  .banner_info .header {
    font-size: 20px;
    line-height: 24px;
  }
  .background_container {
    top: 56px;
  }
  .game_link {
    height: 120px;
    border-radius: 12px;
  }
  .games,
  .games_row {
    gap: 3.75vw;
  }
  .game_name {
    font-size: 14px;
    line-height: 19.1px;
  }
  .game_info {
    width: 100%;
    row-gap: 14px;
  }
  .game_description {
    font-size: 10px;
    line-height: 14px;
  }
  .games_row {
    flex-wrap: nowrap;
  }
  .game {
    padding-top: 16px;
    padding-left: 13px;
  }
}

@media only screen and (max-width: 370px) {
  .game_info {
    width: 100%;
    row-gap: 14px;
  }
  .games_row {
    flex-wrap: nowrap;
  }
  .games_row {
    width: 100%;
  }
  .game_link {
    width: 100%;
    height: 120px;
    border-radius: 12px;
    &:nth-child(5),
    &:nth-child(6) {
      img {
        width: auto;
        left: -90px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .background_container {
    height: 180px;
  }
}

@media screen and (min-width: 1920px) {
  .game_link {
    max-width: 556px;
  }
}
