.blur {
  width: calc(100% - 257px);
  height: 100%;
  position: absolute;
  background: rgba(15, 15, 15, 0.7);
  backdrop-filter: blur(10px);
  z-index: 100;
  right: 0;
  top: 80px;
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
}

.sideBar_opened {
  width: calc(100% - 90px);
}

.blur_active {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1280px) {
  .blur {
    // width: calc(100% - 18.75vw);
    top: 70px;
  }
  .sideBar_opened {
    width: calc(100% - 90px);
  }
}

@media screen and (max-width: 1060px) {
  .blur {
    // width: calc(100% - 200px);
  }
  .sideBar_opened {
    width: calc(100% - 90px);
  }
}

@media screen and (max-width: 700px) {
  .blur {
    width: calc(100% - 240px);
  }
}

@media screen and (max-width: 650px) {
  .blur {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    z-index: -99999 !important;
  }
}
