.poker_hands_list_block {
  padding-top: 30px;
}

.poker_hands_list_item {
  border-bottom: 1px solid #252525;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  transition: all 0.4s;
  padding: 14px 0 0 0;
  column-gap: 20px;
  padding: 8px 40px;
  &:first-child {
    border-top: 1px solid #252525;
  }
  &:last-child {
    border-bottom: none;
    border-radius: 0 0 20px 20px;
    padding: 8px 40px 30px 40px;
  }
  &:hover {
    background: #212121 !important;
  }
  @media screen and (max-width: 1450px) {
    grid-template-columns: 290px 120px 1fr 1fr;
  }
  @media screen and (max-width: 1200px) {
    grid-template-columns: 290px 120px 100px 1fr;
  }
  @media screen and (max-width: 1050px) {
    grid-template-columns: 290px 120px 70px 1fr;
  }
}

.poker_hands_list_item[data-bg="true"] {
  background: #1a1a1a;
}

.poker_hands_titles_list {
  padding: 0 40px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  display: grid;
  margin-bottom: 20px;
  @media screen and (max-width: 1450px) {
    grid-template-columns: 290px 120px 1fr 1fr;
  }
  @media screen and (max-width: 1200px) {
    grid-template-columns: 290px 120px 100px 1fr;
  }
  @media screen and (max-width: 1050px) {
    grid-template-columns: 290px 120px 70px 1fr;
  }
}

.poker_hands_titles_list_item {
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.poker_hand_cards_example {
  display: flex;
  column-gap: 5px;
}

.poker_hand_name {
  color: #eaeaea;
  text-align: center;
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.64px;
}

.poker_hand_multiplier {
  color: #e5c787;
  text-align: center;
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.poker_hand_description {
  color: #eaeaea;
  font-family: var(--font-source-sans-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.56px;
}
