.poker_hands_list_block {
  position: relative;
  padding-top: 30px;
  background: #181818;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
  @media screen and (max-width: 996px) {
    height: 100%;
  }
}

.poker_hands_desktopHidden_btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: inherit;
  border: none;
  cursor: pointer;
  display: none;

  @media screen and (max-width: 996px) {
    display: block;
  }
}

.poker_hands_list_item {
  border-bottom: 1px solid #252525;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  transition: all 0.4s;
  padding: 14px 0 0 0;
  column-gap: 20px;
  padding: 8px 40px;
  &:first-child {
    border-top: 1px solid #252525;
  }
  &:last-child {
    border-bottom: none;
    border-radius: 0 0 20px 20px;
    padding: 8px 40px 30px 40px;
  }
  &:hover {
    background: #212121 !important;
  }
  @media screen and (max-width: 1450px) {
    grid-template-columns: 290px 120px 1fr 1fr;
  }
  @media screen and (max-width: 1200px) {
    grid-template-columns: 290px 120px 100px 1fr;
  }
  @media screen and (max-width: 1050px) {
    grid-template-columns: 290px 120px 70px 1fr;
  }
  @media screen and (max-width: 996px) {
    &:last-child {
      border-radius: 0;
      padding: 8px 40px;
    }
    column-gap: 10px;
    grid-template-columns: 150px 160px 1fr;
  }
  @media screen and (max-width: 650px) {
    padding: 8px 16px;
    grid-template-columns: 150px 87px 1fr;
    &:last-child {
      padding: 8px 16px;
    }
  }
}

.poker_hands_list_item[data-bg="true"] {
  background: #1a1a1a;
}

.poker_hands_titles_list {
  padding: 0 40px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  display: grid;
  margin-bottom: 20px;
  @media screen and (max-width: 1450px) {
    grid-template-columns: 290px 120px 1fr 1fr;
  }
  @media screen and (max-width: 1200px) {
    grid-template-columns: 290px 120px 100px 1fr;
  }
  @media screen and (max-width: 1050px) {
    grid-template-columns: 290px 120px 70px 1fr;
  }
  @media screen and (max-width: 996px) {
    grid-template-columns: 150px 50px 1fr;
    column-gap: 10px;
  }
  @media screen and (max-width: 650px) {
    padding: 8px 16px;
  }
}

.poker_hands_titles_list_item {
  color: #7e7e7e;
  font-family: var(--font-source-sans-3);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  @media screen and (max-width: 996px) {
    &:last-child {
      display: none;
    }
    &[data-id="multp"] {
      text-align: end;
    }
  }
  @media screen and (max-width: 650px) {
    text-align: start;
    font-size: 10px;
  }
}

.poker_hand_cards_example {
  display: flex;
  column-gap: 5px;
}

.poker_hand_name {
  color: #eaeaea;
  text-align: center;
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.64px;
  text-wrap: nowrap;
  @media screen and (max-width: 650px) {
    font-size: 12px !important;
  }
}

.poker_hand_multiplier {
  color: #e5c787;
  text-align: center;
  font-family: var(--font-source-sans-3);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  @media screen and (max-width: 650px) {
    font-size: 14px !important;
  }
}

.poker_hand_description {
  color: #eaeaea;
  font-family: var(--font-source-sans-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.56px;
}

.ellipse_blur_wrap {
  display: none;
  position: absolute;
  width: 250px;
  height: 250px;
  right: 0;
  bottom: 100px;
  @media screen and (max-width: 996px) {
    display: block;
  }
  @media screen and (max-width: 650px) {
    display: block;
    right: -100px;
    bottom: 50px;
  }
}

@media screen and (max-width: 996px) {
  .poker_hand_description_block {
    display: none;
  }
  .poker_hand_multiplier_block,
  .poker_hand_cards_example {
    display: flex;
    justify-content: end;
  }
}

@media screen and (max-width: 650px) {
  .poker_hand_name_block,
  .poker_hand_cards_example {
    display: flex;
    justify-content: start;
  }
}
