.hourse_table_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.hourse_table_background {
  // border-radius: 20px 0 0 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.hourse_table_background_img {
  width: 100%;
  // object-fit: cover;
  height: 100%;
  position: absolute;
  // overflow: hidden;
  &_deep {
    width: 100%;
    // object-fit: cover;
    min-width: max-content;
    height: 100%;
    left: 0;
    @media (max-width: 650px) {
      width: 200%;
    }
    position: absolute;
  }
  &_1 {
    &_start {
      left: 0;
      animation: hide_img 2s linear forwards;
      z-index: 2;
      @keyframes hide_img {
        0% {
          left: 0;
        }
        100% {
          left: -1438px;
        }
      }
      @media (max-width: 650px) {
        animation: hide_img 1.6s linear forwards;
      }
    }
  }
  &_2 {
    left: 100%;
    &_start {
      animation: start_img 4s linear infinite;
      @media (max-width: 650px) {
        animation: start_img 2s linear infinite;
      }
      @keyframes start_img {
        0% {
          left: 100%;
        }
        100% {
          left: -100%;
        }
      }
    }
  }
  &_3 {
    left: 200%;
    &_start {
      animation: start_2_img 4s 2s linear infinite;
      @media (max-width: 650px) {
        animation: start_2_img 2s 1s linear infinite;
      }
      @keyframes start_2_img {
        0% {
          left: 100%;
        }
        100% {
          left: -100%;
        }
      }
    }
  }
}

.hourse_logo {
  position: absolute;
  left: 366px;
  bottom: 50px;
  mix-blend-mode: color-burn;
  @media (max-width: 650px) {
    width: 243.652px;
    bottom: 15px;
    left: 275px;
  }
}
.total_container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: var(--font-source-sans-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  @media (max-width: 1200px) {
    font-size: 12px;
  }
  @media (max-width: 650px) {
    font-size: 10px;
    letter-spacing: 0.4px;
    gap: 0px;
  }
}

.total_won {
  color: #4ed26c;
}

.total_lost {
  color: #fc3c37;
}

.balls_arr {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  // width: 800px;
  width: (calc(100% - 398px));
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background-color: transparent;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media (max-width: 1980px) {
    width: (calc(100% - 358px));
  }
  @media (max-width: 1280px) {
    width: (calc(100% - 262px));
  }
  @media (max-width: 650px) {
    top: 10px;
    width: (calc(100% - 20px));
  }
}

.multiplier_value {
  color: var(--white-1-ea-night, #eaeaea);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 128.16%; /* 23.069px */
  letter-spacing: 0.72px;
  // padding: 8.5px 19px;
  border-radius: 5px;
  // width: 60px;
  height: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 40px;
  // min-width: 60px;
  max-height: 40px;
  @media (max-width: 1280px) {
    min-width: 48px;
    min-height: 24px;
    max-width: 48px;
    max-height: 24px;
    width: 48px;
    height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 128.16%; /* 17.942px */
    letter-spacing: 0.56px;
  }
  @media (max-width: 650px) {
    font-size: 12px;
    letter-spacing: 0.48px;
  }
}

.multiplier_positive {
  background-color: #1ea42b;
}

.multiplier_negative {
  background: var(--switch-in-game-2-e-night, #2e2e2e);
}

.hidden {
  display: none;
}

.hourse {
  transition: all 3s;
  --hourse-step: 20vw;
  @media (max-width: 998px) {
    --hourse-step: 8vw;
  }
  position: absolute;
  &_1 {
    width: 266px;
    height: 143px;
    top: 199px;
    left: 183px;
    transition: all 3s;
    &_run {
      animation: hourse_1 8s forwards;
      @keyframes hourse_1 {
        0% {
          left: 183px;
        }
        100% {
          left: calc(var(--hourse-step) + 183px);
        }
      }
    }
    @media (max-width: 650px) {
      width: 199.5px;
      height: 107.25px;
      top: 149px;
      left: 137px;
    }
  }
  &_2 {
    width: 286px;
    height: 151px;
    top: 242px;
    left: 154px;
    z-index: 2;
    &_run {
      animation: hourse_2 8s forwards;
      @keyframes hourse_2 {
        0% {
          left: 154px;
        }
        100% {
          left: calc(var(--hourse-step) + 154px);
        }
      }
    }
    @media (max-width: 650px) {
      width: 214.5px;
      height: 113.25px;
      top: 181px;
      left: 115px;
    }
  }
  &_3 {
    width: 299px;
    height: 159px;
    top: 292px;
    left: 127px;
    z-index: 4;
    &_run {
      animation: hourse_3 8s forwards;
      @keyframes hourse_3 {
        0% {
          left: 127px;
        }
        100% {
          left: calc(var(--hourse-step) + 127px);
        }
      }
    }
    @media (max-width: 650px) {
      top: 219px;
      left: 95px;
      width: 224.25px;
      height: 119.25px;
    }
  }
  &_4 {
    width: 320px;
    height: 170px;
    top: 352px;
    left: 87px;
    z-index: 6;
    &_run {
      animation: hourse_4 8s forwards;
      @keyframes hourse_4 {
        0% {
          left: 87px;
        }
        100% {
          left: calc(var(--hourse-step) + 87px);
        }
      }
    }
    @media (max-width: 650px) {
      top: 264px;
      left: 65px;
      width: 240px;
      height: 127.5px;
    }
  }
  &_5 {
    top: 412px;
    left: 14px;
    width: 381px;
    height: 202px;
    z-index: 8;
    &_run {
      animation: hourse_5 8s forwards;
      @keyframes hourse_5 {
        0% {
          left: 14px;
        }
        100% {
          left: calc(14px + var(--hourse-step));
        }
      }
    }
    @media (max-width: 650px) {
      width: 285.75px;
      height: 151.5px;
      top: 309px;
      left: 10px;
    }
  }
}
.fence {
  position: absolute;
  top: 0;
  left: 0;
  &_1 {
    z-index: 1;
  }
  &_2 {
    z-index: 3;
  }
  &_3 {
    z-index: 5;
  }
  &_4 {
    z-index: 7;
  }
  &_5 {
    z-index: 9;
  }
}
.hourse_animation_1 {
  animation: anumation_hourse_1 1.5s forwards;
  @keyframes anumation_hourse_1 {
    0% {
      transform: translateX(calc(14px + var(--hourse-step)));
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(calc(300px + var(--hourse-step)));
    }
  }
}
.hourse_animation_2 {
  animation: anumation_hourse_2 3s forwards;
  @keyframes anumation_hourse_2 {
    0% {
      transform: translateX(calc(14px + var(--hourse-step)));
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(calc(300px + var(--hourse-step)));
    }
  }
}
.hourse_animation_3 {
  animation: anumation_hourse_3 4.5s forwards;
  @keyframes anumation_hourse_3 {
    0% {
      transform: translateX(calc(14px + var(--hourse-step)));
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(calc(300px + var(--hourse-step)));
    }
  }
}
.hourse_animation_4 {
  animation: anumation_hourse_4 6s forwards;
  @keyframes anumation_hourse_4 {
    0% {
      transform: translateX(calc(14px + var(--hourse-step)));
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(calc(300px + var(--hourse-step)));
    }
  }
}
.hourse_animation_5 {
  animation: anumation_hourse_5 7.5s forwards;
  @keyframes anumation_hourse_5 {
    0% {
      transform: translateX(calc(14px + var(--hourse-step)));
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(calc(300px + var(--hourse-step)));
    }
  }
}

.hourse_finish {
  &_1 {
    left: 200px;
  }
  &_2 {
    left: 170px;
  }
  &_3 {
    left: 160px;
  }
  &_4 {
    left: 145px;
  }
  &_5 {
    left: 110px;
  }
}
