.hourse_table_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.hourse_table_background {
  // border-radius: 20px 0 0 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.hourse_table_background_img {
  width: 100%;
  // object-fit: cover;
  height: 100%;
  position: absolute;
  &_deep {
    width: 100%;
    // object-fit: cover;
    min-width: max-content;
    height: 100%;
    left: 0;
    position: absolute;
  }
  &_1 {
    &_start {
      left: 0;
      animation: hide_img 2s linear forwards;
      z-index: 2;
      @keyframes hide_img {
        0% {
          left: 0;
        }
        100% {
          left: -1438px;
        }
      }
    }
  }
  &_2 {
    left: 100%;
    &_start {
      animation: start_img 4s linear infinite;
      @keyframes start_img {
        0% {
          left: 100%;
        }
        100% {
          left: -100%;
        }
      }
    }
  }
  &_3 {
    left: 200%;
    &_start {
      animation: start_2_img 4s 2s linear infinite;
      @keyframes start_2_img {
        0% {
          left: 100%;
        }
        100% {
          left: -100%;
        }
      }
    }
  }
  &_4 {
    left: 300%;
    &_start {
      animation: start_3_img 4s 4s linear infinite;
      @keyframes start_3_img {
        0% {
          left: 100%;
        }
        100% {
          left: -100%;
        }
      }
    }
  }
  &_5 {
    left: 300%;
    &_start {
      animation: start_4_img 6s 4s linear infinite;
      @keyframes start_4_img {
        0% {
          left: 100%;
        }
        100% {
          left: -100%;
        }
      }
    }
  }
  // &_6 {
  //   left: 300%;
  //   &_start {
  //     animation: start_5_img 18s linear infinite;
  //     @keyframes start_5_img {
  //       0% {
  //         left: 500%;
  //       }
  //       100% {
  //         left: -100%;
  //       }
  //     }
  //   }
  // }
}

.hourse_logo {
  position: absolute;
  left: 366px;
  bottom: 50px;
  mix-blend-mode: color-burn;
}
.total_container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: var(--font-source-sans-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  @media (max-width: 1200px) {
    font-size: 12px;
  }
  @media (max-width: 650px) {
    font-size: 10px;
    letter-spacing: 0.4px;
    gap: 0px;
  }
}

.total_won {
  color: #4ed26c;
}

.total_lost {
  color: #fc3c37;
}

.balls_arr {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  // width: 800px;
  width: (calc(100% - 398px));
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background-color: transparent;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media (max-width: 1980px) {
    width: (calc(100% - 358px));
  }
  @media (max-width: 1280px) {
    width: (calc(100% - 262px));
  }
  @media (max-width: 650px) {
    top: 10px;
    width: (calc(100% - 20px));
  }
}

.multiplier_value {
  color: var(--white-1-ea-night, #eaeaea);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 128.16%; /* 23.069px */
  letter-spacing: 0.72px;
  // padding: 8.5px 19px;
  border-radius: 5px;
  // width: 60px;
  height: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 40px;
  // min-width: 60px;
  max-height: 40px;
  @media (max-width: 1280px) {
    min-width: 48px;
    min-height: 24px;
    max-width: 48px;
    max-height: 24px;
    width: 48px;
    height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 128.16%; /* 17.942px */
    letter-spacing: 0.56px;
  }
  @media (max-width: 650px) {
    font-size: 12px;
    letter-spacing: 0.48px;
  }
}

.multiplier_positive {
  background-color: #1ea42b;
}

.multiplier_negative {
  background: var(--switch-in-game-2-e-night, #2e2e2e);
}

.hidden {
  display: none;
}

$hourse_step: 35;

.hourse {
  position: absolute;
  transition: all 3s;
  &_1 {
    width: 266px;
    height: 143px;
    top: 199px;
    left: 183px;
    transition: all 3s;
    &_run {
      animation: hourse_1 8s forwards;
      @keyframes hourse_1 {
        0% {
          left: 183px;
        }
        100% {
          left: calc(#{$hourse_step}vw + 183px);
        }
      }
    }
  }
  &_2 {
    width: 286px;
    height: 151px;
    top: 242px;
    left: 154px;
    &_run {
      animation: hourse_2 8s forwards;
      @keyframes hourse_2 {
        0% {
          left: 154px;
        }
        100% {
          left: calc(#{$hourse_step}vw + 154px);
        }
      }
    }
  }
  &_3 {
    width: 299px;
    height: 159px;
    top: 292px;
    left: 127px;
    &_run {
      animation: hourse_3 8s forwards;
      @keyframes hourse_3 {
        0% {
          left: 127px;
        }
        100% {
          left: calc(#{$hourse_step}vw + 127px);
        }
      }
    }
  }
  &_4 {
    width: 320px;
    height: 170px;
    top: 352px;
    left: 87px;
    &_run {
      animation: hourse_4 8s forwards;
      @keyframes hourse_4 {
        0% {
          left: 87px;
        }
        100% {
          left: calc(#{$hourse_step}vw + 87px);
        }
      }
    }
  }
  &_5 {
    top: 412px;
    left: 14px;
    width: 381px;
    height: 202px;
    &_run {
      animation: hourse_5 8s forwards;
      @keyframes hourse_5 {
        0% {
          left: 14px;
        }
        100% {
          left: calc(14px + #{$hourse_step}vw);
        }
      }
    }
  }
}
