.game_layout {
  width: 100%;
}

.game_wrap {
  position: relative;
}

.game {
  display: grid;
  grid-template-columns: 1fr 315px;
  margin-bottom: 40px;
}

.game_block {
  border-radius: 20px 0 0 20px;
  background: #181818;
  min-height: 680px;
  width: 100%;
}

.game_page_modal_wrap {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 200;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.game_page_modal {
  border-radius: 20px;
  background: #202020;
  display: flex;
  flex-direction: column;
  padding: 20px 45px;
  align-items: center;
  width: 300px;
  position: relative;
  top: calc(50% - 80px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.game_page_modal_title {
  font-family: var(--font-nunito-sans);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 26.4px */
  letter-spacing: 0.88px;
  margin-bottom: 20px;
  color: #eaeaea;
}

.game_page_modal_text {
  font-family: var(--font-source-sans-3);
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.game_page_modal_close_btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .game {
    grid-template-columns: 1fr 250px;
  }
}

@media screen and (max-width: 700px) {
  .game {
    grid-template-columns: 1fr;
    position: relative;
  }
  .game_block {
    border-radius: 20px 20px 0 0;
  }
}

@media screen and (max-width: 650px) {
  .game_block {
    height: 255px;
    min-height: 100%;
  }
}
