.game_layout {
  width: 100%;
}

.game_wrap {
  position: relative;
}

.game {
  display: grid;
  grid-template-columns: 1fr 292px; // minmax(292px, 16.25vw)
  //! margin-bottom: 40px; !-------------------------------------
}

.game_block {
  border-radius: 20px 0 0 0;
  min-height: 680px;
  width: 100%;
  position: relative;
}

.poker_flip_cards_info_wrapper {
  position: absolute;
  left: calc(50% - 150px);
  bottom: 5px;
  z-index: 2;
}

.game_page_notification_wrap {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 11;
}

.game_title {
  margin: 20px 0 0 20px;
  position: absolute;
  color: #eaeaea;
  font-family: var(--font-nunito-sans);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  @media screen and (max-width: 650px) {
    font-size: 14px;
  }
}

.game_page_modal_wrap {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 200;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.game_page_modal {
  border-radius: 20px;
  background: #202020;
  display: flex;
  flex-direction: column;
  padding: 20px 45px;
  align-items: center;
  width: 300px;
  position: relative;
  top: calc(50% - 80px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.custombets_wrap {
  margin-top: 40px;
  @media screen and (max-width: 1280px) {
    margin-top: 30px;
  }
  @media screen and (max-width: 700px) {
    margin-top: 20px;
  }
  @media screen and (max-width: 650px) {
    margin-top: 10px;
  }
}

.game_page_modal_title {
  font-family: var(--font-nunito-sans);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 26.4px */
  letter-spacing: 0.88px;
  margin-bottom: 20px;
  color: #eaeaea;
}

.game_page_modal_text {
  font-family: var(--font-source-sans-3);
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.poker_wager_sound_btn {
  cursor: pointer;
  z-index: 5;
  background: #202020;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.game_page_modal_close_btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .game {
    grid-template-columns: 1fr 244px;
  }
}

@media screen and (max-width: 996px) {
  .game {
    grid-template-columns: 1fr;
    position: relative;
  }
  .game_block {
    border-radius: 20px 20px 0 0;
    height: 405px;
    min-height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .game_block {
    // height: 255px;
    min-height: 100%;
    height: 342px;
  }
}

.poker_wager_sound_btn {
  cursor: pointer;
  z-index: 5;
  background: #202020;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  position: absolute;
  right: 20px;
  top: 20px;
}

//////////////////////////////////////////////////
.win_wrapper {
  position: absolute;
  left: calc(50% - 191px);
  bottom: 215px;
  z-index: 2;
}

.lost_wrapper {
  position: absolute;
  left: calc(50% - 90.405px);
  top: -1px;
  z-index: 2;
}

@media screen and (max-width: 996px) {
  .win_wrapper {
    bottom: 96px;
  }
  .poker_wager_sound_btn {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .win_wrapper {
    left: calc(50% - 157px);
  }
}

@media screen and (max-width: 660px) {
  .lost_wrapper {
    left: calc(50% - 72px);
    top: auto;
    bottom: 0px;
  }
}

@media screen and (max-width: 600px) {
  .win_wrapper {
    left: calc(50vw - 157px);
    top: calc(50vh - 112px);
  }
}

.mobile {
  margin: 0 auto 8px auto !important;
  @media (min-width: 996px) {
    display: none;
  }
}
