.page_container{
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

.main_area{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    //filter: blur(4px);
}

.side_bar_wrapper{
    height: 100%;
}

.blur_effect {
    
}

.blur_overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    display: none;
}

@media only screen and (max-width: 700px) {
    // .side_bar_wrapper {
    //     position: absolute;
    //     z-index: 2;
    // }

    .blur_overlay {
        display: block;
    }

    .blur_effect {
        filter: blur(4px);
    }
}

@media only screen and (max-width: 650px) {
    .blur_overlay {
        display: none;
    }
    .blur_effect {
        filter: none;
    }
}