.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  color: var(--gray-57-e-night, #7e7e7e);
  font-family: var(--font-source-sans-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
}

.btn_wrapper {
  width: 100%;
  display: flex;
  border-radius: 12px;
  background: var(--gray-320-night, #202020);
  @media (max-width: 650px) {
    border-radius: 5px;
  }
}

.btn {
  height: 40px;
  width: 100%;
  border-radius: 12px;
  color: var(--gray-57-e-night, #7e7e7e);
  font-family: var(--font-nunito-sans);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  transition: all 0.5s;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  @media (max-width: 650px) {
    border-radius: 5px;
  }

  &_active {
    background: var(--switch-in-game-2-e-night, #2e2e2e);
    color: var(--white-1-ea-night, #fff);
  }
}
