.background {
    position: relative;
    border: 2px solid transparent;

    border-radius: 2px;

    background: transparent;
    backdrop-filter: blur(30px);
    padding: 14px;
}

.background::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(73.67deg, rgba(213, 167, 93, 0.2) 22.94%, rgba(254, 249, 227, 0.2) 37.04%, rgba(201, 155, 85, 0.2) 50.56%);
    content: '';
    z-index: -1;
    border-radius: 8px;
    inset: 0;
    padding: 2px;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.secondary_background {
    width: 100%;
    border-radius: 8px;
    background: #FFFFFF0A;

    display: flex;
    flex-direction: column;
    row-gap: 19px;
    padding: 16px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.slider_container {
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.slider {
    -webkit-appearance: none;

    appearance: none;
    width: 100%;
    height: 6px;
    background: var(--color-bets-slider-background);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 22px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 7.24px;
    height: 15px;
    background: var(--color-bets-slider-thumb);
    cursor: pointer;
    border: 1px solid var(--color-bets-slider-thumb-border);
}

.slider::-moz-range-thumb {
    width: 7.24px;
    height: 15px;
    background: var(--color-bets-slider-thumb);
    cursor: pointer;
    border: 1px solid var(--color-bets-slider-thumb-border);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .slider::-webkit-slider-runnable-track {
        height: 6px;
        -webkit-appearance: none;
        color: var(--color-bets-slider-fill-track);
        margin-top: -1px;
        border-radius: 22px;
    }
}

.slider::-moz-range-progress {
    background-color: var(--color-bets-slider-fill-track);
    height: 6px;
    border-radius: 22px;
}

.slider::-ms-fill-lower {
    background-color: var(--color-bets-slider-fill-track);
    height: 6px;
    border-radius: 22px;
}

.multiple_bets_text {
    color: #FFFFFF;
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-size: 16px;
    line-height: 19.2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input_field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-size: 16px;
    line-height: 19.2px;
}

.output_field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-size: 16px;
    line-height: 19.2px;
}

.wager_container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: #FFFFFF;
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-size: 16px;
}

.wager_input_container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.wager_input {
    width: 100%;
    height: 40px;
    color: #FFFFFF;
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-size: 16px;

    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding-left: 5px;
    border-radius: 5px;
}

.token_picker_container {}

.picked_token {}

.tokens_variants {}

// .max_button {
//     //position: relative;
//     //bottom: -23px;
//     //left: 10px;
//     width: 392px;
//     height: 15px;
//     border-radius: 4px;
//     background: #C69E55;
//     padding: 2px, 4px, 2px, 4px;
//     color: #FFFFFF;
//     font-family: var(--font-neue-machina);
//     font-size: 12px;
//     font-weight: 700;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.wager_percentage_picker {
    //width: 392px;
    width: 100%;
    height: 15px;
    padding: 2px, 4px, 2px, 4px;
    font-family: var(--font-neue-machina);
    font-size: 12px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
}

.percentage_pick {
    max-width: 75px;
    min-width: 60px;
    display: flex;
    border-radius: 4px;
    background: #C69E55;
    justify-content: center;
    align-items: center;
}

.percentage_pick:hover {
    cursor: pointer;
}

.max_button:hover {
    cursor: pointer;
}

.place_bet_button {
    height: 40px;
    width: 100%;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: var(--font-neue-machina);
    font-weight: 900;
    font-size: 20px;
    line-height: 15.44px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.place_bet_button_active {
    background-color: #C69E55;
}

.place_bet_button_active:hover {
    cursor: pointer;
    background-color: #a18756;
}

.place_bet_button_inactive {
    background-color: #a18756;
}