.user_name {
  font-family: var(--font-nunito-sans);
  font-size: 28px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #eaeaea;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  align-items: center;

  @media screen and (max-width: 425px) {
    line-height: 18px;
    gap: 25px;
  }
  .input_wrapper {
    position: relative;
    align-items: center;
    display: flex;

    .input_user_name {
      width: 210px;
      border: none;
      outline: none;
      background-color: transparent;
      color: var(--White-1, #eaeaea);
      font-family: var(--font-nunito-sans);
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%; /* 39.2px */
      letter-spacing: 1.12px;
      @media screen and (max-width: 768px) {
        width: 130px;
        font-size: 18px;
      }
      @media screen and (max-width: 650px) {
        font-size: 16px;
      }
    }

    .ok_button {
      // position: absolute;
      top: 50%;
      right: -1px;
      // transform: translateY(-50%);
      font-size: 14px;
      font-weight: 900;
      font-family: var(--font-nunito-sans);
      color: #7e7e7e;
      background-color: #2f2f2f;
      padding: 10px;
      border-radius: 12px;
      border: none;
      outline: none;
      @media screen and (max-width: 768px) {
        padding: 6px;
        border-radius: 5px;
        font-size: 12px;
      }
      @media screen and (max-width: 425px) {
        padding: 5px;
        border-radius: 5px;
        font-size: 8px;
      }
      @media screen and (max-width: 375px) {
        padding: 3px;
        border-radius: 5px;
        font-size: 9px;
      }
    }
    .ok_button:hover {
      cursor: pointer;
    }
  }

  .name_span {
    font-size: 28px;
    font-weight: 700;
    font-family: var(--font-nunito-sans);
    @media screen and (max-width: 425px) {
      font-size: 16px;
    }
  }
}
