.manual_btns {
  display: flex;
  border-radius: 12px;
  background: var(--gray-320-night, #202020);
  margin-bottom: 12px;
}

.manual_btn {
  border-radius: 12px;
  background: var(--gray-320-night, #202020);
  display: flex;
  height: 40px;
  padding: 8px 26px;
  justify-content: center;
  align-items: center;
  color: var(--gray-57-e-night, #7e7e7e);
  font-family: var(--font-nunito-sans);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  transition: all 0.5s;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.manual_btn_active {
  background: var(--switch-in-game-2-e-night, #2e2e2e);
  color: var(--white-1-ea-night, #eaeaea);
}
