.profit_wrap {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  background: #121212;
  @media (max-width: 650px) {
    border-radius: 5px;
  }
}

.coinflip_down_block {
  margin-top: 12px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #252525;
  }
}

.profit_total_wager_block,
.profit_total_payout_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 14px 16px;
  box-sizing: border-box;
}

.profit_total_wager_title {
  font-family: var(--font-source-sans-3);
  color: #eaeaea;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.profit_total_wager {
  font-family: var(--font-source-sans-3);
  color: #eaeaea;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 138.4%;
}

.profit_total_maxPayout {
  color: #e5c787;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 138.4%;
  font-family: var(--font-source-sans-3);
}

.face_tails_wrap {
  margin-top: 14px;
}

.face_tails_block {
  border-radius: 12px;
  display: flex;
  background: #202020;
  height: 50px;
  @media (max-width: 650px) {
    border-radius: 5px;
  }
}

.face_block,
.tails_block {
  border-radius: 12px;
  width: 100%;
  color: #7e7e7e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150.8%;
  letter-spacing: 0.72px;
  user-select: none;
  transition: all 0.2s;
  cursor: pointer;
  text-transform: uppercase;
  @media (max-width: 650px) {
    border-radius: 5px;
  }
}

.face_tails_active {
  background: #2e2e2e;
  color: #eaeaea;
}
