.rps_table_container {
  height: 100%;
}

.rps_table_wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.rps_table_background {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
  .rps_table_background_img {
    border-radius: 20px 0 0 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    @media screen and (max-width: 996px) {
      border-radius: 20px 20px 0 0;
    }
    @media screen and (max-width: 650px) {
      border-radius: 0;
    }
  }
}

.rps_table {
  position: relative;
  width: 100%;
  height: 100%;
}

.rps_table_inner {
  height: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total_container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: var(--font-source-sans-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  @media (max-width: 1200px) {
    font-size: 12px;
  }
  @media (max-width: 650px) {
    font-size: 10px;
    letter-spacing: 0.4px;
    gap: 0px;
  }
}

.total_won {
  color: #4ed26c;
}

.total_lost {
  color: #fc3c37;
}
