.custom_range_input_wrap {
  display: flex;
  align-items: center;
  border-radius: 12px 12px 0 0;
  background: #0f0f0f;
  padding: 10px 15px;
}

.custom_range_input_layout {
  margin-top: 20px;
}

.custom_range_input_title {
  font-family: var(--font-source-sans-3);
  color: #7e7e7e;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
  margin-bottom: 5px;
}

.custom_range_input {
  -webkit-appearance: none;
  -moz-apperance: none;
  appearance: none;
  background: transparent;
}

.custom_range_input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #d9d9d9;
  border-radius: 50%;
  filter: drop-shadow(-2px 0px 2px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.custom_range_input::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

.custom_range_input::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #d9d9d9;
  border: none;
  box-shadow: 0 0 2px black;
}

.custom_range_input::-moz-range-track {
  background: transparent;
  border: 0;
}

.custom_range_input::-moz-range-progress {
  background: linear-gradient(to right, #f8eeb8, #dbb370, #8e5b2d);
}

.custom_range_input {
  background: #202020;
  width: 100%;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.custom_range_input_body {
  position: relative;
  width: 100%;
  height: 6px;
}

.custom_range_track {
  &::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 5px;
    left: 0;
    height: 5px;
    width: var(--track-width);
    background: linear-gradient(to right, #f8eeb8, #dbb370, #8e5b2d);
  }
}

.custom_range_input_max_value {
  color: #7e7e7e;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150.8%;
  font-family: var(--font-nunito-sans);
  text-transform: uppercase;
  margin-left: 10px;
}

.custom_range_input_active_value {
  min-width: 18px;
  color: #eaeaea;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150.8%;
  font-family: var(--font-nunito-sans);
  text-transform: uppercase;
  margin-right: 5px;
}

.custom_range_setter {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 12px 12px;
  background: var(--gray-320-night, #202020);
  color: var(--gray-57-e-night, #7e7e7e);
  // padding: 10px 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 40px;
}

.custom_range_setter_item {
  color: var(--gray-57-e-night, #7e7e7e);
  text-align: center;
  font-family: var(--font-nunito-sans);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.48px;
  padding: 11px 0;
  cursor: pointer;
  border-right: 1px solid var(--outline-3-e-night, #3e3e3e);
  &:last-child {
    border: none;
  }
}
