.support_page_container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 110px 50px 0 50px;
  @media (max-width: 1600px) {
    padding: 110px 30px 0 30px;
  }
  @media (max-width: 1280px) {
    padding: 90px 20px 0 20px;
  }
  @media (max-width: 700px) {
    padding: 76px 16px 0 16px;
  }
}
