.cars_table_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.cars_table_background {
  border-radius: 20px 0 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  overflow: hidden;
}

.static_moon_img {
  position: absolute;
  width: 1438px;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  @media (max-width: 650px) {
    width: 1078px;
  }
}

.static_bg_img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  object-fit: cover;
}

.start_bg_img {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  @media (max-width: 1800px) {
    min-width: 1438px;
  }

  @media (max-width: 650px) {
    min-width: 1078px;
  }

  &_hide {
    animation: startImgHide 2.5s linear forwards;

    // @media screen and (min-width: 1950px) {
    //   animation: startImgHideBigScreen 2.5s linear forwards !important;
    // }
  }

  @media screen and (min-width: 1950px) {
    width: 100%;
  }

  .start_bg_city {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;

    @media screen and (min-width: 2050px) {
      object-fit: fill;
    }
  }

  .start_stop_line {
    position: absolute;
    bottom: 0;
    left: 350px;

    @media screen and (max-width: 650px) {
      left: 300px;
      height: 100px;
    }

    @media screen and (max-width: 420px) {
      left: 250px;
    }
  }
}

// @keyframes startImgHideBigScreen {
//   0% {
//     left: 0;
//   }
//   100% {
//     left: -100%;
//   }
// }

@keyframes startImgHide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media (max-width: 1800px) {
  @keyframes startImgHide {
    0% {
      left: 0;
    }
    100% {
      left: -1438px;
    }
  }
}

@media (max-width: 650px) {
  @keyframes startImgHide {
    0% {
      left: 0;
    }
    100% {
      left: -1078px;
    }
  }
}
.main_city_bg_img {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  top: 0;
  object-fit: cover;

  @media (max-width: 1800px) {
    min-width: 1478px;
    left: 1438px;
  }
  @media (max-width: 650px) {
    min-width: 1078px;
    left: 1078px;
  }

  @media screen and (min-width: 1950px) {
    width: 100%;
  }

  &_start {
    animation: cityMainStart 5s linear infinite;

    // @media screen and (min-width: 1950px) {
    //   animation: cityMainStartBigScreen 5s linear infinite !important;
    // }
  }
  &_finish {
    animation: cityMainFinish 1.5s linear forwards;

    // @media screen and (min-width: 1950px) {
    //   animation: cityMainFinishBigScreen 1.5s linear forwards;
    // }
  }
}

// @keyframes cityMainStartBigScreen {
//   0% {
//     left: 100%;
//   }
//   100% {
//     left: -100%;
//   }
// }

@keyframes cityMainStart {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

// @keyframes cityMainFinishBigScreen {
//   0% {
//     left: 0;
//   }
//   100% {
//     left: -100%;
//   }
// }

@keyframes cityMainFinish {
  0% {
    left: 0;
  }
  100% {
    left: -1438px;
  }
}

@media (max-width: 1800px) {
  @keyframes cityMainStart {
    0% {
      left: 1438px;
    }
    100% {
      left: -1438px;
    }
  }

  @keyframes cityMainFinish {
    0% {
      left: 0;
    }
    100% {
      left: -1438px;
    }
  }
}

@media (max-width: 650px) {
  @keyframes cityMainStart {
    0% {
      left: 1078px;
    }
    100% {
      left: -1078px;
    }
  }

  @keyframes cityMainFinish {
    0% {
      left: 0;
    }
    100% {
      left: -1078px;
    }
  }
}
.main_city_bg_copy {
  z-index: 10;
  position: absolute;
  width: 100%;

  // @media screen and (min-width: 1950px) {
  //   width: 100%;
  // }

  height: 100%;
  left: 200%;
  top: 0;
  object-fit: cover;
  @media (max-width: 1800px) {
    min-width: 1478px;
    left: 2876px;
  }
  @media (max-width: 650px) {
    min-width: 1078px;
    left: 2146px;
  }

  &_start {
    animation: mainBgCopyStart 5s 2.5s linear infinite;

    // @media screen and (min-width: 1950px) {
    //   animation: bigScreenStart 5s 2.5s linear infinite !important;
    // }
  }
}

// @keyframes bigScreenStart {
//   0% {
//     left: 100%;
//   }
//   100% {
//     left: -100%;
//   }
// }

@keyframes mainBgCopyStart {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@media (max-width: 1800px) {
  @keyframes mainBgCopyStart {
    0% {
      left: 1438px;
    }
    100% {
      left: -1438px;
    }
  }
}

@media (max-width: 650px) {
  @keyframes mainBgCopyStart {
    0% {
      left: 1078px;
    }
    100% {
      left: -1078px;
    }
  }
}

.finish_city_bg_img {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 200%;
  top: 0;

  // @media screen and (min-width: 1950px) {
  //   width: 100%;
  // }

  &_finish {
    animation: endCityBgFinish 1.35s linear forwards;

    // @media screen and (min-width: 1950px) {
    //   animation: endCityBgFinishBigScreen 1.5s linear forwards !important;
    // }
  }

  .finish_city_bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .finish_stop_line {
    position: absolute;
    right: 250px;
    bottom: 0;

    @media screen and (max-width: 1280px) {
      right: 180px;
    }

    @media screen and (max-width: 996px) {
      right: 100px;
    }

    @media screen and (max-width: 650px) {
      height: 100px;
    }

    @media screen and (max-width: 420px) {
      right: 50px;
    }
  }
}

// @keyframes endCityBgFinishBigScreen {
//   0% {
//     left: 100%;
//   }
//   100% {
//     left: 0;
//   }
// }

@keyframes endCityBgFinish {
  0% {
    left: 100%;
  }
  100% {
    // left: calc((1438px - var(--leftOffset)) * -1);
    left: 0;
  }
}

.main_mountains_bg {
  z-index: 8;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  @media (max-width: 1800px) {
    min-width: 1478px;
  }

  @media (max-width: 650px) {
    min-width: 1078px;
  }
  &_hide {
    animation: startMountainsHide 3.2s linear forwards;
  }
}

@keyframes startMountainsHide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media (max-width: 1800px) {
  @keyframes startMountainsHide {
    0% {
      left: 0;
    }
    100% {
      left: -1438px;
    }
  }
}

@media (max-width: 650px) {
  @keyframes startMountainsHide {
    0% {
      left: 0;
    }
    100% {
      left: -1078px;
    }
  }
}

.mountains_second {
  z-index: 8;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 200%;
  @media (max-width: 1800px) {
    left: 2876px;
    min-width: 1478px;
  }

  @media (max-width: 650px) {
    left: 2146px;
    min-width: 1078px;
  }
  top: 0;
  object-fit: cover;

  &_start {
    animation: mountainsSecondStart 6.4s linear infinite;
  }
  &_finish {
    animation: mountainsSecondFinish 2s linear forwards;
  }
}

@keyframes mountainsSecondStart {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

@media (max-width: 1800px) {
  @keyframes mountainsSecondStart {
    0% {
      left: 1438px;
    }

    100% {
      left: -1438px;
    }
  }
}

@media (max-width: 650px) {
  @keyframes mountainsSecondStart {
    0% {
      left: 1078px;
    }

    100% {
      left: -1078px;
    }
  }
}

@keyframes mountainsSecondFinish {
  0% {
    left: 0;
  }

  75% {
    left: -65%;
  }

  100% {
    left: -65%;
  }
}

.mountains_bg_copy {
  z-index: 8;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 200%;
  @media (max-width: 1800px) {
    left: 2876px;
    min-width: 1478px;
  }

  @media (max-width: 650px) {
    left: 2146px;
    min-width: 1078px;
  }
  top: 0;
  object-fit: cover;

  &_start {
    animation: mainBgCopyStart 6.4s 3.2s linear infinite;
  }
}

@keyframes mountainsBgCopy {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@media (max-width: 1800px) {
  @keyframes mountainsBgCopy {
    0% {
      left: 1438px;
    }
    100% {
      left: -1438px;
    }
  }
}

@media (max-width: 650px) {
  @keyframes mountainsBgCopy {
    0% {
      left: 1078px;
    }
    100% {
      left: -1078px;
    }
  }
}
.finish_mountains_bg {
  z-index: 8;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 200%;
  top: 0;
  object-fit: cover;

  &_finish {
    animation: endMountainsBg 2s linear forwards;
  }
}

@keyframes endMountainsBg {
  0% {
    left: 100%;
  }
  75% {
    left: 25%;
  }

  100% {
    left: 25%;
  }
}

.cars_body {
  width: 100%;
  height: 100%;
  position: relative;
}

.car2_wrap {
  @media screen and (max-width: 650px) {
    width: 200px;
    height: 62px;
    bottom: 67.5px !important;
  }
}

.car1_wrap,
.car2_wrap {
  position: absolute;
  transition: all 3s;
  @media screen and (max-width: 650px) {
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.car_progress {
  transform: translateX(200px);
  @media (max-width: 1280px) {
    transform: translateX(80px);
  }
  @media (max-width: 650px) {
    transform: translateX(20px);
  }
}

.car2_wrap {
  bottom: 80px;
  left: 70px;
  z-index: 15;

  @media screen and (max-width: 420px) {
    left: 30px;
  }
}

.car1_wrap {
  bottom: 10px;
  left: 50px;
  z-index: 17;

  @media screen and (max-width: 650px) {
    width: 215px;
    height: 66px;
  }

  @media screen and (max-width: 420px) {
    left: 15px;
  }
}

//wheel anim

.car1_rightWheel {
  bottom: 10px;
  right: 27px;

  @media screen and (max-width: 650px) {
    bottom: 2px;
    right: 22.1px;
  }
}

.car1_rightWheel,
.car1_leftWheel {
  @media screen and (max-width: 650px) {
    width: 34.58px !important;
    height: 34.17px !important;
  }
}

.car1_leftWheel {
  left: 30px;
  bottom: 10px;

  @media screen and (max-width: 650px) {
    left: 24.5px;
    bottom: 2px;
  }
}

.car2_leftWheel,
.car2_rightWheel {
  @media screen and (max-width: 650px) {
    width: 32.28px !important;
    height: 31.9px !important;
  }
}

.car2_leftWheel {
  left: 27.4px;
  bottom: 6px;

  @media screen and (max-width: 650px) {
    left: 22px;
    bottom: 2px;
  }
}

.car2_rightWheel {
  bottom: 6px;
  right: 24px;

  @media screen and (max-width: 650px) {
    bottom: 2px;
    right: 20px;
  }
}

.car_wheel {
  width: 46px;
  height: 46px;
  position: absolute;
}

.start_anim {
  animation: wheelAnim 0.5s linear infinite;
}

@keyframes wheelAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.car_inGame {
  animation: car_in_game 2s forwards;
}
.car_wrap_animation {
  &_1 {
    animation: car_finish 3.3s 1.2s forwards;
  }
  &_2 {
    animation: car_finish 4.8s 1.2s forwards;
  }
}

@keyframes car_in_game {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200px);
  }
}

@keyframes car_finish {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(100vw);
  }
}

@media (max-width: 1280px) {
  @keyframes car_in_game {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(80px);
    }
  }

  @keyframes car_finish {
    0% {
      transform: translateX(80px);
    }
    100% {
      transform: translateX(100vw);
    }
  }
}
@media (max-width: 650px) {
  @keyframes car_in_game {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(20px);
    }
  }

  @keyframes car_finish {
    0% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(100vw);
    }
  }
}

.total_container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 17;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: var(--font-source-sans-3);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;

  @media (max-width: 1200px) {
    font-size: 12px;
  }
  @media (max-width: 650px) {
    font-size: 10px;
    letter-spacing: 0.4px;
    gap: 0px;
  }
}

.total_won {
  color: #4ed26c;
}

.total_lost {
  color: #fc3c37;
}

.balls_arr {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  // width: 800px;
  width: (calc(100% - 398px));
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background-color: transparent;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 10;
  @media (max-width: 1980px) {
    width: (calc(100% - 358px));
  }
  @media (max-width: 1280px) {
    width: (calc(100% - 262px));
  }
  @media (max-width: 650px) {
    top: 10px;
    width: (calc(100% - 20px));
  }
}

.multiplier_value {
  color: var(--white-1-ea-night, #eaeaea);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  font-family: var(--font-nunito-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 128.16%; /* 23.069px */
  letter-spacing: 0.72px;
  // padding: 8.5px 19px;
  border-radius: 5px;
  // width: 60px;
  height: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 40px;
  // min-width: 60px;
  max-height: 40px;
  @media (max-width: 1280px) {
    min-width: 48px;
    min-height: 24px;
    max-width: 48px;
    max-height: 24px;
    width: 48px;
    height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 128.16%; /* 17.942px */
    letter-spacing: 0.56px;
  }
  @media (max-width: 650px) {
    font-size: 12px;
    letter-spacing: 0.48px;
  }
}

.multiplier_positive {
  background-color: #1ea42b;
}

.multiplier_negative {
  background: var(--switch-in-game-2-e-night, #2e2e2e);
}

.car_lower_btn {
  z-index: 11;
}

.win_index {
  z-index: 17 !important;
}
.load_index {
  z-index: 17 !important;
}
