.wheel_table_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wheel_table_background {
  height: 100%;
  width: 100%;
  position: absolute;

  left: 0;
  top: 0;
  z-index: -1;
  //   @media (max-width: 1280px) {
  //     height: calc(100% - 50px);
  //   }
  //   @media (max-width: 650px) {
  //     height: 100% !important;
  //   }
  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px 0 0 0;
    @media screen and (max-width: 996px) {
      border-radius: 20px 20px 0 0 !important;
    }
    @media screen and (max-width: 650px) {
      border-radius: 0 !important;
    }
  }
}

.wheel_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.wheel_coeffs {
  display: flex;
  gap: 10px;
  // margin-bottom: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  bottom: -50px;
  // max-width: 940px;
  gap: 10px;
  justify-content: center;
  transition: all 0.5s;
  width: calc(100vw - 885px);
  @media (max-width: 1280px) {
    gap: 5px;
    width: calc(100vw - 750px);
  }
  @media (max-width: 998px) {
    width: calc(100vw - 370px);
  }
  @media (max-width: 650px) {
    width: calc(100vw - 20px);
    bottom: -70px;
  }
}

.wheel_coeffs_show {
  transform: translateX(-50%) scaleY(1);
  bottom: 10px;
  @media (max-width: 650px) {
    bottom: 70px;
  }
}

.wheel_coeff {
  box-sizing: border-box;
  padding-top: 9px;
  width: max-content;
  max-width: 190px;
  flex: 1 1 auto;
  border-radius: 5px;
  background: var(--switch-in-game-2-e-night, #2e2e2e);
  height: 50px;
  border-bottom: solid 10px;
  display: flex;
  justify-content: center;
  color: #e4e4e4;
  transition: all 0.5s;
  font-family: var(--font-nunito-sans);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.72px;
  position: relative;
  overflow: hidden;
  span {
    position: relative;
    z-index: 2;
  }
  @media (max-width: 1600px) {
    height: 40px;
  }
  @media (max-width: 1280px) {
    height: 35px;
    font-size: 0.9375rem;
    letter-spacing: 0.6px;
    border-bottom: solid 6px;
  }
  @media (max-width: 650px) {
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.48px;
    border-bottom: solid 4px;
    height: 23px;
    padding-top: 2px;
    max-width: 120px;
  }
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: "";
    transition: all 0.5s;
    // border-radius: 5px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
  }
  &:hover {
    &:nth-child(1) {
      color: black;
    }

    &::after {
      height: 100%;
    }
  }
  &_D7E8F1 {
    border-block-color: #d7e8f1;
    &::after {
      background-color: #d7e8f1;
    }
  }
  &_2C589B {
    border-block-color: #2c589b;
    &::after {
      background-color: #2c589b;
    }
  }
  &_3ECF55 {
    border-block-color: #3ecf55;
    &::after {
      background-color: #3ecf55;
    }
  }
  &_FBC02E {
    border-block-color: #fbc02e;
    &::after {
      background-color: #fbc02e;
    }
  }
  &_FB2E90 {
    border-block-color: #fb2e90;
    &::after {
      background-color: #fb2e90;
    }
  }
  &_FF0000 {
    border-block-color: #ff0000;
    &::after {
      background-color: #ff0000;
    }
  }
}
.wheel_underwrapp {
  position: relative;
  width: 495px;
  height: 495px;
  @media (max-width: 1280px) {
    width: 360px;
    height: 360px;
  }
  @media (max-width: 650px) {
    width: 280.959px;
    height: 280.959px;
  }
}
.wheel_wrapp {
  border-radius: 100%;
  border: 2.959px solid #2c2a45;
  background: #17102a;
  position: relative;
  padding: 25px;
  width: fit-content;
  height: fit-content;
  width: 495px;
  height: 495px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  // transform: rotate(-90deg);
  @media (max-width: 1280px) {
    width: 360px;
    height: 360px;
  }
  @media (max-width: 650px) {
    width: 280.959px;
    height: 280.959px;
  }
}

.wheel_ball {
  transition: all 0.5s;
  position: absolute;
  z-index: 2;
  @media (max-width: 1280px) {
    width: 7.75px;
    height: 7.75px;
  }
  @media (max-width: 650px) {
    width: 6.3px;
    height: 6.3px;
  }
  &_1 {
    top: -2.8px;
    left: 217.98px;
    @media (max-width: 1280px) {
      top: -2.11px;
      left: 158.69px;
    }
    @media (max-width: 650px) {
      left: 123.78px;
      top: -1.74px;
    }
  }
  &_2 {
    top: -0.8px;
    right: 201.6px;
    @media (max-width: 1280px) {
      top: -0.3px;
      right: 146.03px;
    }
    @media (max-width: 650px) {
      right: 113.9px;
      top: -0.6px;
    }
  }
  &_3 {
    top: 16.9px;
    right: 139.92px;
    @media (max-width: 1280px) {
      top: 12.31px;
      right: 101.18px;
    }
    @media (max-width: 650px) {
      top: 9.4px;
      right: 78.8px;
    }
  }
  &_4 {
    top: 51.2px;
    right: 84.03px;
    @media (max-width: 1280px) {
      top: 37.28px;
      right: 60.59px;
    }
    @media (max-width: 650px) {
      top: 28.8px;
      right: 47px;
    }
  }
  &_5 {
    top: 96.19px;
    right: 42.01px;
    @media (max-width: 1280px) {
      top: 70.03px;
      right: 30.14px;
    }
    @media (max-width: 650px) {
      top: 54.3px;
      right: 23.1px;
    }
  }
  &_6 {
    top: 153.13px;
    right: 11.78px;
    @media (max-width: 1280px) {
      top: 111.48px;
      right: 8.31px;
    }
    @media (max-width: 650px) {
      top: 86.6px;
      right: 5.95px;
    }
  }
  &_7 {
    top: 216.22px;
    right: -2.28px;
    @media (max-width: 1280px) {
      top: 157.4px;
      right: -1.74px;
    }
    @media (max-width: 650px) {
      top: 122.3px;
      right: -2px;
    }
  }
  &_8 {
    top: 280.89px;
    right: -0.8px;
    @media (max-width: 1280px) {
      top: 204.37px;
      right: -0.6px;
    }
    @media (max-width: 650px) {
      top: 159px;
      right: -1.2px;
    }
  }
  &_9 {
    top: 341.55px;
    right: 16.47px;
    @media (max-width: 1280px) {
      top: 248.34px;
      right: 11.99px;
    }
    @media (max-width: 650px) {
      top: 193.3px;
      right: 8.6px;
    }
  }
  &_10 {
    bottom: 86.11px;
    right: 49.57px;
    @media (max-width: 1280px) {
      bottom: 62.1px;
      right: 36.09px;
    }
    @media (max-width: 650px) {
      right: 27.4px;
      bottom: 50px;
    }
  }
  &_11 {
    bottom: 41.08px;
    right: 97.34px;
    @media (max-width: 1280px) {
      bottom: 29.47px;
      right: 70.87px;
    }
    @media (max-width: 650px) {
      bottom: 24.5px;
      right: 54.6px;
    }
  }
  &_12 {
    bottom: 11.05px;
    right: 154.5px;
    @media (max-width: 1280px) {
      bottom: 7.77px;
      right: 112.48px;
    }
    @media (max-width: 650px) {
      bottom: 6.5px;
      right: 87.1px;
    }
  }
  &_13 {
    bottom: -2.78px;
    right: 218.09px;
    @media (max-width: 1280px) {
      right: 158.77px;
      bottom: -2.1px;
    }
    @media (max-width: 650px) {
      right: 123.29px;
      bottom: -1.7px;
    }
  }
  &_14 {
    bottom: -1.05px;
    left: 202.42px;
    @media (max-width: 1280px) {
      left: 146.62px;
      bottom: -0.76px;
    }
    @media (max-width: 650px) {
      left: 114.93px;
      bottom: -0.3px;
    }
  }
  &_15 {
    left: 139.96px;
    bottom: 16.59px;
    @media (max-width: 1280px) {
      left: 101.2px;
      bottom: 12.07px;
    }
    @media (max-width: 650px) {
      left: 79.4px;
      bottom: 9.67px;
    }
  }
  &_16 {
    bottom: 49.9px;
    left: 84.91px;
    @media (max-width: 1280px) {
      left: 61.23px;
      bottom: 36.33px;
    }
    @media (max-width: 650px) {
      left: 48.1px;
      bottom: 28.5px;
    }
  }
  &_17 {
    bottom: 97.77px;
    left: 40.16px;
    @media (max-width: 1280px) {
      left: 28.8px;
      bottom: 71.18px;
    }
    @media (max-width: 650px) {
      left: 22.65px;
      bottom: 55.67px;
    }
  }
  &_18 {
    bottom: 154.97px;
    left: 10.39px;
    @media (max-width: 1280px) {
      left: 7.3px;
      bottom: 112.83px;
    }
    @media (max-width: 650px) {
      left: 5.7px;
      top: 185.5px;
    }
  }
  &_19 {
    bottom: 218.16px;
    left: -3.17px;
    @media (max-width: 1280px) {
      left: -2.38px;
      bottom: 158.82px;
    }
    @media (max-width: 650px) {
      top: 151.1px;
      left: -2px;
    }
  }
  &_20 {
    top: 201.97px;
    left: -1.29px;
    @media (max-width: 1280px) {
      top: 146.29px;
      left: -0.94px;
    }
    @media (max-width: 650px) {
      top: 114.28px;
      left: -0.93px;
    }
  }
  &_21 {
    top: 140.1px;
    left: 16.31px;
    @media (max-width: 1280px) {
      top: 101.3px;
      left: 11.88px;
    }
    @media (max-width: 650px) {
      top: 79.23px;
      left: 9.08px;
    }
  }
  &_22 {
    top: 84.37px;
    left: 50.27px;
    @media (max-width: 1280px) {
      top: 60.84px;
      left: 36.6px;
    }
    @media (max-width: 650px) {
      top: 47.65px;
      left: 28.39px;
    }
  }
  &_23 {
    top: 39.97px;
    left: 98.21px;
    @media (max-width: 1280px) {
      top: 28.66px;
      left: 71.5px;
    }
    @media (max-width: 650px) {
      top: 22.49px;
      left: 55.66px;
    }
  }
  &_24 {
    top: 10.53px;
    left: 155.24px;
    @media (max-width: 1280px) {
      top: 7px;
      left: 113.02px;
    }
    @media (max-width: 650px) {
      top: 5.81px;
      left: 88.1px;
    }
  }
}

.shadow {
  filter: drop-shadow(0px 0px 11px #e9e9e9);
}

.wheel_pick {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  width: 26px;
  height: 39px;
  z-index: 2;
  @media (max-width: 1280px) {
    width: 18.928px;
    height: 28.392px;
    top: 8px;
  }
  @media (max-width: 650px) {
    width: 15.473px;
    height: 23.209px;
    top: 3px;
  }
}

.total_container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: var(--font-source-sans-3);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  @media (max-width: 1200px) {
    font-size: 0.75rem;
  }
  @media (max-width: 650px) {
    font-size: 0.625rem;
    letter-spacing: 0.4px;
    gap: 0px;
  }
}

.total_won {
  color: #4ed26c;
}

.total_lost {
  color: #fc3c37;
}

.balls_arr {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  // width: 800px;
  width: (calc(100% - 398px));
  overflow-x: scroll;
  gap: 10px;
  scrollbar-width: 0;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background-color: transparent;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  @media (max-width: 1980px) {
    width: (calc(100% - 358px));
  }
  @media (max-width: 1280px) {
    width: (calc(100% - 262px));
  }
  @media (max-width: 650px) {
    top: 10px;
    width: (calc(100% - 20px));
  }
}

.multiplier_value {
  font-family: var(--font-nunito-sans);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: 128.16%;
  letter-spacing: 0.72px;
  height: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 5px;
  background: rgba(60, 56, 74, 0.49);
  @media (max-width: 1280px) {
    min-width: 60px;
    min-height: 30px;
    max-width: 60px;
    max-height: 30px;
    width: 60px;
    height: 30px;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 800;
    line-height: 128.16%; /* 17.942px */
    letter-spacing: 0.56px;
  }
}

.multiplier_positive {
  background-color: #1ea42b;
}

.multiplier_negative {
  background: var(--switch-in-game-2-e-night, #2e2e2e);
}

.wheel_coef_cricle {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #181724;
  border: solid 2px#2c2a45;
  width: 180.126px;
  height: 180.126px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d7e8f1;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
  font-family: var(--font-nunito-sans);
  font-size: 1.8125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.16px;
  border-radius: 50%;
  z-index: 2;
  @media (max-width: 1280px) {
    width: 131.132px;
    height: 131.132px;
    font-size: 1.5rem;
    letter-spacing: 0.96px;
  }
  @media (max-width: 650px) {
    width: 107.195px;
    height: 107.195px;
    font-size: 1.25rem;
    letter-spacing: 0.8px;
  }
}

.circle {
  width: 26px;
  height: 26px;
  @media (max-width: 1280px) {
    width: 18.928px;
    height: 18.392px;
  }
  @media (max-width: 650px) {
    width: 15.473px;
    height: 23.209px;
  }
}
.wheel_pick_animation {
  transform: translateX(-50%) rotate(-40deg);
  top: 5px;
  animation: pick_animation 0.15s infinite steps(2);
}
.wheel_pick_animation_2 {
  transform: translateX(-50%) rotate(-40deg);
  top: 5px;
  animation: pick_animation 0.15s 0.3s infinite steps(2);
}

.pick {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(-9px);
  @media (max-width: 1280px) {
    width: 7px;
    top: 0;
    left: 50%;
  }
  @media (max-width: 650px) {
    width: 5px;
    top: -7px;
  }
}

@keyframes pick_animation {
  0% {
    transform: translateX(10%) translateY(-14px) rotate(-20deg);
  }
  100% {
    transform: translateX(95%) translateY(-18px) rotate(-50deg);
  }
}

@media (max-width: 1280px) {
  @keyframes pick_animation {
    0% {
      transform: translateX(10%) translateY(-9px) rotate(-20deg);
    }
    100% {
      transform: translateX(95%) translateY(-12px) rotate(-50deg);
    }
  }
}

@media (max-width: 650px) {
  @keyframes pick_animation {
    0% {
      transform: translateX(10%) translateY(-10px) rotate(-20deg);
    }

    100% {
      transform: translateX(95%) translateY(-13px) rotate(-50deg);
    }
  }
}

.wheel_eclipse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1286px;
  height: 1286px;
  border-radius: 1286px;
  background: rgba(28, 26, 40, 0.21);
}

.wheel_eclipse_2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 880px;
  height: 880px;
  border-radius: 880px;
  background: rgba(46, 43, 63, 0.21);
}

.wheel_eclipse_3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 718px;
  height: 718px;
  border-radius: 718px;
  background: rgba(38, 35, 51, 0.76);
}

.wheel_eclipse_4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 552px;
  height: 552px;
  border-radius: 552px;
  background: rgba(34, 32, 46, 0.41);
}

.wheel_show {
  position: absolute;
  bottom: 10px;
  right: 9px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #202020;
  @media (max-width: 650px) {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    svg {
      width: 28px;
      height: 28px;
    }
  }
}

.sound_mobile {
  // margin-right: 50px;
  @media (max-width: 650px) {
    // margin-right: 40px;
  }
}

$circle: 720;

$angle_10: 36;
$angle_20: 18;
$angle_30: 12;
$angle_40: 9;
$angle_50: 7.2;

$step_10: -107 - 36;
$step_20: -99 - 18;
$step_30: -96 - 12;
$step_40: -94 - 9;
$step_50: -93 - 7.2;

$_10_steps: 10;
$_20_steps: 20;
$_30_steps: 30;
$_40_steps: 40;
$_50_steps: 50;

.wheel_wrapp {
  &_10 {
    transform: rotate(#{$step_10}deg);
  }
  &_20 {
    transform: rotate(#{$step_20}deg);
  }
  &_30 {
    transform: rotate(#{$step_30}deg);
  }
  &_40 {
    transform: rotate(#{$step_40}deg);
  }
  &_50 {
    transform: rotate(#{$step_50}deg);
  }
}

.wheel_wrapp_10_0 {
  // transform: rotate(#{$step_10}deg);
  animation: rot_10_0 1s ease-in forwards;
  @keyframes rot_10_0 {
    0% {
      transform: rotate(#{$step_10}deg);
    }
    100% {
      transform: rotate(#{$step_10 + $circle}deg);
    }
  }
}
.wheel_wrapp_20_0 {
  transform: rotate(#{$step_20}deg);
  animation: rot_20_0 1s ease-in forwards;
  @keyframes rot_20_0 {
    0% {
      transform: rotate(#{$step_20}deg);
    }
    100% {
      transform: rotate(#{$step_20 + ($circle) + (-($angle_20 * 0))}deg);
    }
  }
}
.wheel_wrapp_30_0 {
  transform: rotate(#{$step_30}deg);
  animation: rot_30_0 1s ease-in forwards;
  @keyframes rot_30_0 {
    0% {
      transform: rotate(#{$step_30}deg);
    }
    100% {
      transform: rotate(#{$step_30 + ($circle) + (-($angle_30 * 0))}deg);
    }
  }
}
.wheel_wrapp_40_0 {
  transform: rotate(#{$step_40}deg);
  animation: rot_40_0 1s ease-in forwards;
  @keyframes rot_40_0 {
    0% {
      transform: rotate(#{$step_40}deg);
    }
    100% {
      transform: rotate(#{$step_40 + $circle}deg);
    }
  }
}
.wheel_wrapp_50_0 {
  transform: rotate(#{$step_50}deg);
  animation: rot_50_0 1s ease-in forwards;
  @keyframes rot_50_0 {
    0% {
      transform: rotate(#{$step_50}deg);
    }
    100% {
      transform: rotate(#{$step_50 + $circle}deg);
    }
  }
}

@for $i from 1 through $_10_steps {
  .wheel_wrapp_10_#{$i} {
    transform: rotate(#{$step_10 + ($circle) + (-($angle_10 * $i))}deg);
    animation: rot_10_#{$i} 1s ease-in forwards;
    @keyframes rot_10_#{$i} {
      0% {
        transform: rotate(#{$step_10}deg);
      }
      100% {
        transform: rotate(#{$step_10 + ($circle) + (-($angle_10 * $i))}deg);
      }
    }
  }
}

@for $i from 1 through $_20_steps {
  .wheel_wrapp_20_#{$i} {
    transform: rotate(#{$step_20 + ($circle) + (-$angle_20 * $i)}deg);
    animation: rot_20_#{$i} 1s ease-in forwards;
    @keyframes rot_20_#{$i} {
      0% {
        transform: rotate(#{$step_20}deg);
      }
      100% {
        transform: rotate(#{$step_20 + ($circle) + (-$angle_20 * $i)}deg);
      }
    }
  }
}
@for $i from 1 through $_30_steps {
  .wheel_wrapp_30_#{$i} {
    transform: rotate(#{$step_30 + ($circle) + ((-$angle_30 * $i))}deg);
    animation: rot_30_#{$i} 1s ease-in forwards;
    @keyframes rot_30_#{$i} {
      0% {
        transform: rotate(#{$step_30}deg);
      }
      100% {
        transform: rotate(#{$step_30 + ($circle) + (-($angle_30 * $i))}deg);
      }
    }
  }
}
@for $i from 1 through $_40_steps {
  .wheel_wrapp_40_#{$i} {
    transform: rotate(#{$step_40 + ($circle) + (-($angle_40 * $i))}deg);
    animation: rot_40_#{$i} 1s ease-in forwards;
    @keyframes rot_40_#{$i} {
      0% {
        transform: rotate(#{$step_40}deg);
      }
      100% {
        transform: rotate(#{$step_40 + ($circle) + (-($angle_40 * $i))}deg);
      }
    }
  }
}
@for $i from 1 through $_50_steps {
  .wheel_wrapp_50_#{$i} {
    transform: rotate(#{$step_50 + ($circle) + (-($angle_50 * $i))}deg);
    animation: rot_50_#{$i} 1s ease-in forwards;
    @keyframes rot_50_#{$i} {
      0% {
        transform: rotate(#{$step_50}deg);
      }
      100% {
        transform: rotate(#{$step_50 + ($circle) + (-($angle_50 * $i))}deg);
      }
    }
  }
}

.multiplier_value_white {
  color: #d7e8f1;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.multiplier_value_blue {
  color: #458bf5;
  text-shadow: 0px 0px 10px rgba(69, 139, 245, 0.3);
}

.multiplier_value_purple {
  color: #fb2e90;
  text-shadow: 0px 0px 10px rgba(245, 87, 162, 0.3);
}

.multiplier_value_green {
  color: #3ecf55;
  text-shadow: 0px 0px 10px rgba(62, 207, 85, 0.3);
}

.multiplier_value_yellow {
  color: #fbc02e;
  text-shadow: 0px 0px 10px rgba(251, 192, 46, 0.3);
}

.multiplier_value_red {
  color: red;
}
.wheel_underwrapp_animation {
  animation: rotate_2 2s ease-in, rotate 7000s 2s linear;
}
@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(2500000deg);
  }
}

@keyframes rotate_2 {
  0% {
    transform: rotate(251deg);
  }
  100% {
    transform: rotate(611deg);
  }
}
