.wheel_wrapper {
  width: 454px;
  height: 454px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 454px;
  background: #101010;
  @media (max-width: 1920px) {
    width: 404px;
    height: 404px;
    border-radius: 404px;
  }
  @media (max-width: 1600px) {
    width: 300px;
    height: 300px;
    border-radius: 300px;
  }
}

.eclipse_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel_eclipse {
  position: absolute;
  top: 79px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 293.5px;
  height: 293.5px;
  border-radius: 50%;
  border: 1px solid #d5c295;
  z-index: 24;
  @media (max-width: 1920px) {
    top: 72px;
    width: 256.5px;
    height: 256.5px;
  }
  @media (max-width: 1600px) {
    width: 210px;
    height: 210px;
    top: 45px;
  }
}

.wheel_sub_wrapper {
  --f6dhh8: #b3b803;
  --x2bmh2: #8d1e32;
  --6b6tfr: #ef7a19;
  --122fs80: #2b2b30;
  --1ngof1w: #b6570d;
  width: 404px;
  height: 404px;
  transform-origin: center center;
  animation: 12s linear 0s infinite normal none running sectoranim-wyvj9lk;
  position: relative;
  z-index: 3;
  @media (max-width: 1920px) {
    width: 354px;
    height: 354px;
  }
  @media (max-width: 1600px) {
    width: 266.96px;
    height: 266.96px;
    border-radius: 266.96px;
    border: 7.269px solid #ffddbd;
  }
}

.darken .wyvj9lk {
  --f6dhh8: #b3b803;
  --x2bmh2: #d91740;
  --6b6tfr: #ef7a19;
  --122fs80: #16171b;
  --1ngof1w: #b6570d;
}

@-webkit-keyframes sectoranim-wyvj9lk {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sectoranim-wyvj9lk {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes sectoranimback-wyvj9lk {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes sectoranimback-wyvj9lk {
  100% {
    transform: rotate(-360deg);
  }
}

.roulette_wheel {
  width: 100%;
  height: 100%;
  border-radius: 404px;
  box-sizing: border-box;
  position: relative;
}

.sector_item {
  transform-origin: center center;
  position: relative;
  z-index: 2;
  border-right: solid 1px #000;
  transition: all 0.5s;
}

.sector_text {
  fill: rgb(255, 255, 255);
  text-anchor: middle;
  user-select: none;
  color: #fff;
  font-family: calc(--font-nunito-sans);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  top: 10px;
  margin-top: 50px;
  @media (max-width: 1600px) {
    font-size: 9.251px;
  }
}

.use_tag {
  transition: all 0.5s;
}

.wheel_tag {
  fill: none;
  transform: scaleY(1.3) translateY(-3.5px);
}

.sector_green .use_tag {
  fill: #278d1e;
}

// .sector_green.is_hover .wheel_tag,
// .sector_green:hover .wheel_tag {
//   fill: var(--f6dhh8);
// }

.sector_red .use_tag {
  fill: var(--x2bmh2);
}

.mouse_red .use_tag {
  fill: #c12c47 !important;
}

.mouse_gray .use_tag {
  fill: #484850 !important;
}

.sector_red.is-hover .wheel_tag,
.sector_red:hover .wheel_tag {
  fill: #c12c47;
}

.sector_black .use_tag {
  fill: var(--122fs80);
}

.sector_black.is-hover .wheel_tag,
.sector_black:hover .wheel_tag {
  fill: #484850;
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  z-index: 2;
  @media (max-width: 1600px) {
    width: 85.903px;
    height: 85.903px;
  }
}

.wheel_tag {
  transform: translateY(-0.5px) scaleY(1.095);
}
