.nft {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #181818;
  backdrop-filter: blur(16px);
  font-family: var(--font-nunito-sans);
  color: white;
  font-style: normal;
  padding: 12px;
  width: fit-content;
  height: fit-content;
  overflow: hidden;

  @media (max-width: 1200px) {
    padding: 10px;
    padding-bottom: 9px;
  }

  @media (max-width: 700px) {
    padding: 4px;
    padding-bottom: 6px;
  }

  &:hover {
    cursor: pointer;

    .nft_image {
      img {
        transform: scale(1.1);
      }
      .empty {
        width: 0 !important;
        height: 0 !important;
      }
    }
  }
}

.nft_image {
  border-radius: 8px;
  overflow: hidden;
  width: 230px;
  height: 230px;

  @media (max-width: 1200px) {
    width: 190px;
    height: 190px;
  }

  @media (max-width: 650px) {
    width: 84px;
    height: 84px;
    border-radius: 5px;
  }

  img {
    transition: all 0.5s;

    width: 100%;
    height: 100%;
  }

  @media (max-width: 650px) {
    border-radius: 5px;
  }
}

.nft_about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  @media (max-width: 1200px) {
    margin-top: 30px;
  }

  @media (max-width: 650px) {
    margin-top: 5px;
    padding: 0 2px;
  }
}

.nft_name {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 650px) {
    font-size: 8.5px;
  }
}

.nft_number {
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;

  @media (max-width: 650px) {
    font-size: 8.5px;
  }
}

.nft_price {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 12px;
  margin-left: auto;

  @media (max-width: 1200px) {
    margin-top: 10px;
  }

  @media (max-width: 650px) {
    margin-top: 4px;
    font-size: 9.725px;
  }
}

.skeleton {
  width: 100%;
  height: 85%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  @media (max-width: 650px) {
    height: 79%;
  }
}
