.roulette_table_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  .roulette_table_background {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -1;

    .roulette_table_background_img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 0 0 0;
      @media screen and (max-width: 996px) {
        border-radius: 20px 20px 0 0 !important;
      }
      @media screen and (max-width: 650px) {
        border-radius: 0 !important;
      }
    }
  }
}
.roulette_container {
  position: relative;
}

.roulette_wheel {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: transform 3s ease-out; /* Adjust the duration as needed */
}

.roulette_number {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(calc(var(--angle) * 1deg));
  --angle: 0;

  &:nth-child(1) {
    --angle: 0;
    width: 20px;
    height: 30px;
  }
  &:nth-child(2) {
    --angle: 20;
  }
  &:nth-child(3) {
    --angle: 40;
  }
}

.s119z0yr {
  height: 21.75rem;
  position: relative;
  margin: 0rem auto 2.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.s1c1y24o {
  position: absolute;
  width: 21.75rem;
  height: 21.75rem;
  left: 50%;
  margin-left: -10.875rem;
  top: 0;
}

.s1c1y24o .spin_wrap {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.s1c1y24o .point-img {
  position: absolute;
  z-index: 5;
  height: 5.59375rem;
  right: -1.90625rem;
  top: 8.0625rem;
  width: 10rem;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.s1c1y24o .point-img .light-wrap {
  overflow: hidden;
  position: absolute;
  width: 6.875rem;
  height: 3.75rem;
  top: 0.9375rem;
}

.s1c1y24o .point-img .point-light {
  top: 1.125rem;
  left: -1.875rem;
  position: absolute;
  width: 0.9375rem;
  height: 1.25rem;
  z-index: 6;
  overflow: hidden;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.2)),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skew(-25deg);
}

.s1c1y24o .point-img img {
  width: 100%;
  height: 100%;
}

.s119z0yr {
  height: 21.75rem;
  position: relative;
  margin: 0rem auto 2.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.s119z0yr {
}

@-webkit-keyframes pulse-s119z0yr {
  0% {
    -webkit-transform: rotate(-5deg) scale3d(1, 1, 1);
    -ms-transform: rotate(-5deg) scale3d(1, 1, 1);
    transform: rotate(-5deg) scaleZ(1);
  }

  50% {
    -webkit-transform: rotate(0deg) scale3d(1.1, 1.1, 1.1);
    -ms-transform: rotate(0deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(0) scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: rotate(-5deg) scale3d(1, 1, 1);
    -ms-transform: rotate(-5deg) scale3d(1, 1, 1);
    transform: rotate(-5deg) scaleZ(1);
  }
}

@keyframes pulse-s119z0yr {
  0% {
    -webkit-transform: rotate(-5deg) scale3d(1, 1, 1);
    -ms-transform: rotate(-5deg) scale3d(1, 1, 1);
    transform: rotate(-5deg) scaleZ(1);
  }

  50% {
    -webkit-transform: rotate(0deg) scale3d(1.1, 1.1, 1.1);
    -ms-transform: rotate(0deg) scale3d(1.1, 1.1, 1.1);
    transform: rotate(0) scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: rotate(-5deg) scale3d(1, 1, 1);
    -ms-transform: rotate(-5deg) scale3d(1, 1, 1);
    transform: rotate(-5deg) scaleZ(1);
  }
}

.s119z0yr .img_bg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: 120%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

.s119z0yr canvas {
  position: absolute;
  top: 0;
  top: 8.875rem;
  left: 65%;
  z-index: 13;
  margin-left: -3.125rem;
  pointer-events: none;
}

.s119z0yr .btn_img {
  position: absolute;
  width: 6.5rem;
  height: 6.5rem;
  top: 7.625rem;
  left: 50%;
  z-index: 11;
  margin-left: -3.25rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}

.s119z0yr .btn_img:not(.loading):hover {
  -webkit-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  transform: scale(1.1) !important;
}

.s119z0yr .btn_img .spin_particles {
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  top: 0;
  left: 0.5rem;
}

.s119z0yr .btn_img .btn_txt {
  position: absolute;
  width: 5.5rem;
  height: 3.5rem;
  top: 1.5625rem;
  left: 0.5rem;
}

.s119z0yr .btn_img:not(.loading) .btn_txt {
  -webkit-animation: pulse-s119z0yr 2s infinite linear;
  animation: pulse-s119z0yr 2s infinite linear;
}

.s119z0yr .btn_img img {
  width: 100%;
  height: 100%;
}

.s119z0yr .btn {
  position: absolute;
  width: 15rem;
  left: 3.75rem;
  bottom: 0;
}

.s1nmsfqf.ui-select {
  width: 6.875rem;
  height: 2.25rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0rem;
  z-index: 10;
  color: #fff;
}

.s1nmsfqf > div.select-trigger {
  background-color: #291f42;
  border-radius: var(--border-radius);
  padding: 0 0.5rem;
}

.s1nmsfqf.fiat > div.select-trigger {
  background-color: #183319;
}

.s1nmsfqf .select-options > .active:after {
  display: none;
}

.s1nmsfqf .coin-icon {
  width: 1.125rem;
  margin-right: 0.5rem;
}

.s11yeso3.pop {
  width: 26.25rem;
  height: 40.625rem;
  padding: 0 !important;
}

.s11yeso3.pop .close-icon {
  z-index: 20;
}

.s11yeso3.pop .close-icon svg {
  fill: #fff;
}

.s11yeso3 .head-img {
  width: 100%;
  position: absolute;
  left: 0;
  top: -5rem;
  z-index: 9;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.s11yeso3 #spin {
  background-color: #1a132c;
  position: relative;
  padding: 0;
  border-radius: var(--border-radius);
}

.s11yeso3 .spin_cont {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.s11yeso3 .head {
  text-align: center;
  color: #fff;
  font-weight: 700;
  position: relative;
  z-index: 10;
  background-size: 100% auto;
  height: 10.625rem;
  background-position: center;
  padding: 2.5rem 0 1.25rem;
}

.s11yeso3 .head .txt {
  font-weight: 900;
  font-size: 2.0625rem;
  line-height: 2.5rem;
  background-image: linear-gradient(to bottom, #ffffff, #a27beb);
  -webkit-filter: drop-shadow(1px 1px 0 #7f4cd6);
  filter: drop-shadow(1px 1px 0 #7f4cd6);
  color: transparent;
  -webkit-background-clip: text;
}

.s11yeso3 .head .amount {
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.125rem;
  background-image: linear-gradient(to bottom, #ffa600, #ffe47b);
  -webkit-filter: drop-shadow(2px 2px 0 #ca8619);
  filter: drop-shadow(2px 2px 0 #ca8619);
  -webkit-background-clip: text;
  color: transparent;
}

.s11yeso3 .bg {
  opacity: 0.65;
  -webkit-filter: blur(26px);
  filter: blur(26px);
  position: absolute;
}

.s11yeso3 .bg-a {
  width: 12.5rem;
  height: 12.5rem;
  background-image: radial-gradient(
    circle at 50% 50%,
    #8729ff,
    rgba(25, 26, 27, 0)
  );
  top: 10rem;
  right: 0;
}

.s11yeso3 .bg-b {
  width: 9.375rem;
  height: 9.375rem;
  top: 23.125rem;
  left: 0;
  background-image: radial-gradient(
    circle at 50% 50%,
    #7803ff,
    rgba(25, 26, 27, 0)
  );
}

.s11yeso3 .bg-c {
  width: 26.875rem;
  height: 12.5rem;
  background-image: radial-gradient(
    circle at 50% 50%,
    #4f19b1,
    rgba(25, 26, 27, 0)
  );
  top: -6.875rem;
  left: -3.125rem;
}
