.leader_board_wrap {
  padding: 40px 0 30px 0;
  background: #181818;
  border-radius: 20px;
}

.leader_board_title {
  font-family: var(--font-source-sans-3);
  color: #E5C787;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.96px;
  margin-bottom: 35px;
}

.leaderBoard_loadMore_btn_block {
  display: none;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.leader_board_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.leader_board_list_item_rank_block,
.leader_board_list_item_player_block,
.leader_board_list_item_player_icon,
.leader_board_list_item_address_block,
.leader_board_list_item_volume_block,
.leader_board_list_item_player_icon {
  display: flex;
  align-items: center;
}

.leader_board_list_item_volume_block{
  justify-content: end;
}

.leader_board_list_item_rank {
  font-family: var(--font-source-sans-3);
  color: #EAEAEA;
  font-size: 16px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0.64px;

  &[data-top='true'] {
    color: #E5C787;
  }
}

.leader_board_list_item_player_icon {
  margin-right: 10px;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  .leader_board_list_item_player_icon_title {
    font-family: var(--font-nunito-sans);
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
  }
}

.leader_board_list_item_address {
  font-family: var(--font-source-sans-3);
  color: #7E7E7E;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.56px;
}

.leader_board_list_item_volume {
  font-family: var(--font-source-sans-3);
  color: #EAEAEA;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.56px;
}

.leader_board_list_item_player_title {
  font-family: var(--font-source-sans-3);
  color: #EAEAEA;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.56px;
}

.leader_board_list_titles_item {
  font-family: var(--font-source-sans-3);
  color: #7E7E7E;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;

  &[data-id='address_board_list_title'] {
    visibility: hidden;
    opacity: 0;
  }

  &:last-child {
    justify-content: end;
    display: flex;
  }
}

.leader_board_list_titles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leader_board_row_titles_block {
  grid-template-columns: 30px 1fr 1fr 1fr;
  display: grid;
  column-gap: 10px;
  padding: 0 50px;
}

.leaderBoard_loadMore_btn {
  padding: 10px 15px;
  background: #202020;
  color: #7E7E7E;
  font-family: var(--font-source-sans-3);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
}

.leader_board_list_item {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr;
  column-gap: 10px;
  padding: 10px 50px;
  border-bottom: 1px solid #252525;

  &:nth-child(1), &:nth-child(2) {
    border-top: 1px solid #252525;
  }
}

.leader_board_list_item_link {
  display: none;
}

@media screen and (max-width: 1200px) {
  .leader_board_list_item_link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leader_board_list_item_address_block {
    display: none;
  }
}

@media screen and (max-width: 996px) {
  .leader_board_list_item {
    padding: 10px 25px;
  }

  .leader_board_row_titles_block {
    padding: 10px 25px;
  }

  .leader_board_list_item {
    grid-template-columns: 30px 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 880px) {
  .leader_board_list, .leader_board_list_titles {
    grid-template-columns: 1fr;
  }

  .leader_board_row_titles_block:last-child {
    display: none;
  }

  .leader_board_wrap {
    border-radius: 0;
  }
}

@media screen and (max-width: 650px) {
  .leaderBoard_loadMore_btn_block {
    display: flex;
  }

  .leader_board_list_item_link {
    display: none;
  }

  .leader_board_list_item_address_block {
    display: block;
  }

  .leader_board_list_titles_item[data-id='address_board_list_title'] {
    visibility: visible !important;
    opacity: 1;
  }

  .leader_board_list_item_address, .leader_board_list_item_player_title {
    font-size: 10px;
  }

  .leader_board_list_item_rank {
    font-size: 12px;
  }

  .leader_board_list_titles_item {
    font-size: 8px;
  }

  .leader_board_list_item_player_icon {
    width: 20px;
    height: 20px;

    span {
      font-size: 12px !important;
    }
  }

  .leader_board_list_item {
    grid-template-columns: 20px 1fr 1fr 1fr;
  }

  .leader_board_row_titles_block {
    grid-template-columns: 20px 1fr 1fr 1fr;
  }
}