.games_page_container {
  padding: 80px 30px;
  width: 100%;

  @media screen and (max-width: 700px) {
    padding: 80px 20px;
  }

  @media screen and (max-width: 650px) {
    padding: 80px 0;
  }
}
