.gain_loss_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-top: 20px;
}

.stop_gain_block,
.stop_loss_block {
  display: flex;
  flex-direction: column;
}

.stop_loss_title,
.gain_loss_title {
  font-family: var(--font-source-sans-3);
  color: #7e7e7e;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.gain_loss_limit_block {
  margin-top: 5px;
  border-radius: 12px;
  background: #0f0f0f;
  padding: 10px 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
}

.gain_loss_limit_input {
  width: 100%;
  background: inherit;
  border: none;
  outline: none;
  font-family: var(--font-nunito-sans);
  color: #7e7e7e;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 138.4%;
}
